.images-boxes {
  padding-left: 17%;
}
.image-box {
  width: 390px;
  height: auto;
}
.image-box .image-container {
  border: 1px dashed #000000;
  border-radius: 5px;
  cursor: pointer;
}
.icon-img-delete {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .images-boxes {
    padding-left: 0;
  }
}

@media only screen and (max-width: 992px) {
  .image-box {
    width: 100%;
  }
}
