.payout-information-details {
  padding-left: 17%;
}

.expand-arrow-icon {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .payout-information-details {
    padding-left: 0;
  }
}
