::deep button:focus {
    outline: none !important;
    box-shadow: none !important;
}
::deep button {
    transition: transform .25s;
}
    ::deep button:active {
        transform: scale(.94);
    }
.top-row {
    background-color: white;
    border-bottom: 1px solid #d9d9d9;
    justify-content: space-around;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 12px 0px #343d4c80;
    background-color: white;
    border-bottom: 1px solid var(--lineColor);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 24px;
}

.ticket-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    color: #343D4C;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.ticket-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    color: #343D4C;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header-name{
    margin-top: 1rem;
}
.ticket-text {
    color: #A6A6A6;
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 10.24px; /* 73.143% */
    letter-spacing: 0.64px;
}

.timer-value {
    color: #579AFF;
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 10.24px; /* 36.571% */
    letter-spacing: 0.64px;
}
.guarantees-text {
    color: #343D4C;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.secured-section {
    display: flex;
    gap: 12px;
}

    .secured-section svg {
        margin-top: 10px;
    }

.secure-text {
    color: #343D4C;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 7px;
}

.top-row ::deep a {
    white-space: nowrap;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-name {
    color: var(--primary);
    font-family: 'Sansita One', sans-serif;
    font-size: 32px;
    text-decoration: none;
}
.apply-credits {
    transition: transform .25s;
}
    .apply-credits:active {
        transform: scale(.94);
    }
.app-name {
    color: var(--primary);
    font-family: "Backline";
    font-size: 1.3rem;
    margin-left: 3px;
}
.queue-up {
    margin-bottom: 32px;
    gap: 20px;
    align-items: center;
}
.img-logo {
    width: 64px;
    height: 64px;
}
.expired-text {
    color: #343D4C;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
}
.congratulations-text {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
    text-align: justify;
    color: #717171;
}
.btn-try {
    margin-top: 32px;
    display: flex;
    padding: 18px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #34A853;
    width: 100%;
    border: none;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Nunito;
    font-size: 18px;
}
.button-back {
    border: none;
    width: 50px;
    height: 40px;
    background-color: transparent;
    transition: transform .25s;
}
    .button-back:active {
        transform: scale(.94);
    }
.item-counter-container {
  width: 110px;
  margin-left: auto;
}

.item-counter-container[data-disabled=""] {
  background-color: #f3f6fc;
}

.item-counter-container .counter-item {
  width: 33.33%;
}

.item-counter-container[data-disabled=""] .counter-item {
  cursor: not-allowed;
}

.item-counter-container:not([data-disabled=""]) .counter-item .item-action {
  color: var(--primary);
}

.ewallet-item-img {
  min-width: 60px;
}

.line-h-1-1 {
  line-height: 1.1;
}

.service-fee-info {
  background-color: #d9d9d9;
  color: #fff;
  height: 15px;
  width: 15px;
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
}

.coupon-error-message {
  width: 200px;
  position: absolute;
  background-color: white;
  border: 1px solid #343d4c;
  top: -4.5rem;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 5px;
}

.remove-coupon-icon {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 0;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
}

.span-radio {
  width: 18px;
  display: inline-block;
}

.span-radio.selected {
  border-color: #ffa942;
  border-width: 5px;
}
.field-icon {
  position: absolute;
  top: 71.5%;
  right: 35px;
  cursor: pointer;
}

.booking-total-container {
  z-index: 99;
}

.mobile-calculator-wrapper {
  display: none;
}

.mobile-calculator-wrapper-container {
  bottom: 0;
  z-index: 50;
  box-shadow: 0px 3px 16px 0px rgba(243, 246, 252, 0.87);
}

.mobile-calculator-wrapper-container .l-width-90 {
  width: 90%;
}

.mobile-calculator-wrapper-container .l-width-5 {
  width: 5%;
}

.mobile-footer-shadow {
  border: 1px solid rgba(217, 217, 217, 1);
}

@media screen and (max-width: 767px) {
  .booking-total-container > .card {
    border: none !important;
    padding: 0 !important;
  }

  .booking-total-container > .shadow {
    box-shadow: none !important;
  }

  .mobile-calculator-wrapper {
    display: block;
  }
}
