@media (min-width: 0px) and (max-width: 575.98px) {
    .coming-soon-caption {
        height: 66px;
        top: calc(50% - 66px/2 + 430px);
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        color: #343D4C;
        width: 400px;
        margin-top:30px;
    }

    .img-coming-soon {
        margin-top: 100px;
        width: 358.08px;
        height: 180px
    }

    .mini-caption {
        height: 38px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #908D8D;
        width: 400px;
    }

    .btn-section {
        /*margin-top: 0.5rem !important;*/
    }

    .btn-go-home {
        width: 330px;
        height: 50px;
        background: #FFA942;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border-style: none;
        text-decoration-line: underline;
        margin-top: 80px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .coming-soon-caption {
        height: 66px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        color: #343D4C;
        width: 400px;
        margin-top: 30px;
    }

    .img-coming-soon {
        margin-top: 100px;
        width: 358.08px;
        height: 180px
    }

    .mini-caption {
        height: 38px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #908D8D;
        width: 400px;
    }

    .btn-section {
        /*margin-top: 0.5rem !important;*/
    }

    .btn-go-home {
        width: 330px;
        height: 50px;
        background: #FFA942;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border-style: none;
        text-decoration-line: underline;
        margin-top: 80px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .coming-soon-caption {
        height: 66px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        color: #343D4C;
        width: 400px;
        margin-top: 30px;
    }

    .img-coming-soon {
        margin-top: 100px;
        width: 358.08px;
        height: 180px
    }

    .mini-caption {
        height: 38px;
        top: calc(50% - 38px/2 + 500px);
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #908D8D;
        width: 400px;
    }

    .btn-section {
        /*margin-top: 0.5rem !important;*/
    }

    .btn-go-home {
        width: 330px;
        height: 50px;
        background: #FFA942;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border-style: none;
        text-decoration-line: underline;
        margin-top: 80px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .coming-soon-caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
        color: #343D4C;
        text-align: center;
        margin-top: 0.7em;
    }

    .img-coming-soon {
        margin-top: 100px;
        width: 711px;
        height: 361.47px;
    }

    .mini-caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 22px;
        color: #908D8D;
        text-align: center;
    }

    .btn-section {
        /*margin-top: 0.5rem !important;*/
    }

    .btn-go-home {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 70px;
        align-items: center;
        text-decoration-line: underline;
        color: #FFFFFF;
        width: 330px;
        height: 100px;
        background: #FFA942;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border-style: none;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .coming-soon-caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
        color: #343D4C;
        text-align: center;
        margin-top: 0.7em;
    }

    .img-coming-soon {
        margin-top: 100px;
        width: 711px;
        height: 361.47px;
    }

    .mini-caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 22px;
        color: #908D8D;
        text-align: center;
    }

    .btn-section {
        /*margin-top: 0.5rem !important;*/
    }

    .btn-go-home {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 70px;
        align-items: center;
        text-decoration-line: underline;
        color: #FFFFFF;
        width: 330px;
        height: 100px;
        background: #FFA942;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border-style: none;
        text-align: center;
    }
}
