.app-name {
    color: var(--primary);
    font-family: 'Backline';
    font-size: 32px;
    text-decoration: none;
    text-align: center;
}
.contact {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    height: 3rem;
}
    .contact span {
        color: #343D4C;
        font-family: 'Nunito';
        font-size: 18px;
    }
.nav-item{
    margin-bottom: 1rem;
}
li .icon-home {
    background-position: center center;
    width: 25px;
    height: 25px;
}

    li .icon-home:hover {
        filter: invert(100%)
    }

.side-bar {
    background-color: #F3F6FC;
}
a{
    color: #343D4C;
    font-family: 'Nunito';
    font-size: 18px;
}
.nav-item a:hover {
    color: white;
    background-color: var(--primary);
    width: 15rem;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
}
/* For Desktop View */
@media screen and (min-width: 1024px) {

}
/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1023px) {
   
}
/* For Mobile Portrait View */
@media screen and (max-width: 767px) and (orientation: portrait) {
    .contact {
        background-color: #F3F6FC;
        border-radius: 0px;
        padding: 0px;
        height: 0rem;
    }
    a{
        text-align: center;
    }
    .nav-item a:hover {
        color: white;
        background-color: var(--primary);
        width: 3rem;
        height: 50px;
        padding: 5px;
        border-radius: 5px;
    }
}
