.top-row {
    background-color: white;
    border-bottom: 1px solid var(--lineColor);
    justify-content: flex-start;
    aspect-ratio: 1600/74;
    width: 100%;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.app-name {
    color: var(--primary);
    font-family: 'Backline';
    font-size: 1.6vw;
    text-decoration: none;
}

.btn-link {
    text-decoration: none;
    color: black;
    text-align: end;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.menu {
    position: relative;
    height: 32%;
}

    .menu img {
        aspect-ratio: 1;
        width: 15%;
        margin-right: 12px;
    }

    .menu span {
        font-family: 'Nunito-Bold';
        font-size: 1vw;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}