button:focus {
    outline: none !important;
    box-shadow: none !important;
}
.btn-login {
    border: 2px solid #FFA942;
    width: 182px;
    height: 48px;
    border-radius: 40px;
    color: #FFA942;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    margin-left: 106px;
}
    .btn-login:hover {
        color: #FFFFFF;
        background-color: #FFA942;
    }
.btn-help {
    background-color: transparent;
    border-radius: 40px;
    width: 50px;
    height: 50px;
    border: 2px solid #FFA9423B;
    text-align: center;
}
    .btn-help img {
        margin-right: auto;
        margin-left: auto;
        display: block;
        text-align: center;
    }
.cinnamon-link {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    color: #343D4C; 
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
    line-height: normal;
}
    .cinnamon-link:hover {
        color: #FFA942;
    }
.login-button {
    display: flex;
    justify-content: space-between;
    /*padding-right: 20px;*/
    align-items: center;
}
.login-icon-sm {
    display: none;
}
.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}
.top-row {
    background-color: white;
    border-bottom: 1px solid #D9D9D9;
    justify-content: flex-start;
    aspect-ratio: 1600/74;
    width: 100vw;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 12px 0px #343D4C80;
    position: sticky !important;
    top: 0;
    z-index: 1001;
}

.app-name {
    color: var(--primary);
    font-family: 'Backline';
    font-size: 48px;
    text-decoration: none;
}
.img-icon-login {
    width: 24px; 
    height: 24px;
}
@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

@media screen and (max-width: 767px) {
    .login-icon-sm {
        display: flex;
        gap: 10px;
    }
    .btn-login-mobile{
        margin-top:0.7rem;
    }
    .login-button {
        display: none;
    }
    .dropdown-mobile {
        font-family: 'Nunito';
        font-size: 0.5vw;
    }
    .burger-menu img {
        margin-right: 0;
        width: 25px;
    }
    .menu {
        display: none;
    }

        .menu img {
            margin-right: 0;
            width: 20%;
        }

    .app-name {
        width: 129.6px;
        color: #FFA942;
        font-family: Backline;
        font-size: 28.8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .px-4 {
        padding-right: 48px;
        padding-left: 48px;
    }

    .top-row {
        padding: 5px 0;
    }

        .top-row.auth {
            justify-content: space-between;
        }

        .top-row a {
            margin-left: 0;
        }
}


@media only screen and (min-width: 820px) and (min-height: 1180px) {
  
    .login-button .cinnamon-link:nth-child(2),
    .login-button .cinnamon-link:nth-child(3) {
      margin-left: 50px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

    .login-button .cinnamon-link:nth-child(2), 
    .login-button .cinnamon-link:nth-child(3) {
        margin-left: 50px;
    }
}



@media screen and (min-width:768px) and (max-width:1024px) {
    
    .login-button .cinnamon-link:nth-child(2), 
    .login-button .cinnamon-link:nth-child(3) {
        margin-left: 50px;
    }

    .btn-login {
        width: 135px;
        height: 40px;
        font-family: Nunito;
        font-size: 14px;
        font-weight: 700;
        margin-left: 80px;
    }
    .cinnamon-link {
        font-family: Nunito;
        font-size: 14px;
        font-weight: 700;
        color: #343D4C;
        cursor: pointer;
    }
    .login-icon-sm {
        display: none;
    }
    .app-name {
        font-size: 3.5vw;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

@media (min-width: 1200px) {
    
    .login-button .cinnamon-link:nth-child(2),
    .login-button .cinnamon-link:nth-child(3) {
        margin-left: 80px;
    }

   
    .top-row a {
        margin-left: 0;
    }

    .px-4 {
        padding-right: 48px;
        padding-left: 48px;
    }
}



