@media (min-width: 0px) and (max-width: 575.98px) {
    .not-found-caption {
        position: absolute;
        height: 66px;
        left: 5.58%;
        right: 5.58%;
        top: calc(50% - 66px/2 + 430px);
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        color: #343D4C;
        width: 400px;
    }

    .img-not-found {
        position: absolute;
        width: 180px;
        height: 180px;
        left: 145px;
        top: 96px;
    }

    .left-plug-not-found {
        position: absolute;
        width: 200px;
        height: 105.54px;
        left: -10.83px;
        top: 298.88px;
        transform: rotate(13.24deg);
    }

    .right-plug-not-found {
        position: absolute;
        width: 213.75px;
        height: 83px;
        left: 236px;
        top: 310px;
    }

    .mini-caption {
        position: absolute;
        height: 38px;
        left: 5.58%;
        right: 5.58%;
        top: calc(50% - 38px/2 + 500px);
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #908D8D;
        width: 400px;
    }

    .btn-section {
        /*margin-top: 0.5rem !important;*/
    }

    .btn-go-home {
        position: absolute;
        width: 330px;
        height: 50px;
        left: 65px;
        top: 650px;
        background: #FFA942;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border-style: none;
        text-decoration-line: underline;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .not-found-caption {
        position: absolute;
        height: 66px;
        left: 5.58%;
        right: 5.58%;
        top: calc(50% - 66px/2 + 430px);
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        color: #343D4C;
        width: 400px;
    }

    .img-not-found {
        position: absolute;
        width: 180px;
        height: 180px;
        left: 145px;
        top: 96px;
    }

    .left-plug-not-found {
        position: absolute;
        width: 200px;
        height: 105.54px;
        left: -10.83px;
        top: 298.88px;
        transform: rotate(13.24deg);
    }

    .right-plug-not-found {
        position: absolute;
        width: 213.75px;
        height: 83px;
        left: 236px;
        top: 310px;
    }

    .mini-caption {
        position: absolute;
        height: 38px;
        left: 5.58%;
        right: 5.58%;
        top: calc(50% - 38px/2 + 500px);
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #908D8D;
        width: 400px;
    }

    .btn-section {
        /*margin-top: 0.5rem !important;*/
    }

    .btn-go-home {
        position: absolute;
        width: 330px;
        height: 50px;
        left: 65px;
        top: 650px;
        background: #FFA942;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border-style: none;
        text-decoration-line: underline;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .not-found-caption {
        position: absolute;
        height: 66px;
        left: 5.58%;
        right: 5.58%;
        top: calc(50% - 66px/2 + 430px);
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        color: #343D4C;
        width: 400px;
    }

    .img-not-found {
        position: absolute;
        width: 180px;
        height: 180px;
        left: 145px;
        top: 96px;
    }

    .left-plug-not-found {
        position: absolute;
        width: 200px;
        height: 105.54px;
        left: -10.83px;
        top: 298.88px;
        transform: rotate(13.24deg);
    }

    .right-plug-not-found {
        position: absolute;
        width: 213.75px;
        height: 83px;
        left: 236px;
        top: 310px;
    }

    .mini-caption {
        position: absolute;
        height: 38px;
        left: 5.58%;
        right: 5.58%;
        top: calc(50% - 38px/2 + 500px);
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #908D8D;
        width: 400px;
    }

    .btn-section {
        /*margin-top: 0.5rem !important;*/
    }

    .btn-go-home {
        position: absolute;
        width: 330px;
        height: 50px;
        left: 65px;
        top: 650px;
        background: #FFA942;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border-style: none;
        text-decoration-line: underline;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .not-found-caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
        color: #343D4C;
        text-align: center;
        margin-top: 0.7em;
    }

    .img-not-found {
        margin-top: 100px;
        width: 340px;
        height: 340px;
    }

    .left-plug-not-found {
        margin-top: 210px;
        width: 488.25px;
        height: 242.29px;
    }

    .right-plug-not-found {
        margin-top: 210px;
        width: 513px;
        height: 194px;
    }

    .mini-caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 22px;
        color: #908D8D;
        text-align: center;
    }

    .btn-section {
        /*margin-top: 0.5rem !important;*/
    }

    .btn-go-home {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 70px;
        align-items: center;
        text-decoration-line: underline;
        color: #FFFFFF;
        width: 330px;
        height: 100px;
        background: #FFA942;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border-style: none;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .not-found-caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
        color: #343D4C;
        text-align: center;
        margin-top: 0.7em;
    }

    .img-not-found {
        margin-top: 100px;
        width: 340px;
        height: 340px;
    }

    .left-plug-not-found {
        margin-top: 210px;
        width: 488.25px;
        height: 242.29px;
    }

    .right-plug-not-found {
        margin-top: 210px;
        width: 513px;
        height: 194px;
    }

    .mini-caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 22px;
        color: #908D8D;
        text-align: center;
    }

    .btn-section {
        /*margin-top: 0.5rem !important;*/
    }

    .btn-go-home {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 70px;
        align-items: center;
        text-decoration-line: underline;
        color: #FFFFFF;
        width: 330px;
        height: 100px;
        background: #FFA942;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border-style: none;
        text-align: center;
    }
}