.schedule-text {
    font-size: 0.7rem;
    font-family: 'Nunito';
    margin-bottom: 0.7rem;
}
.schedule-name {
    margin-bottom: 0.7rem;
    font-family: 'Nunito';
    color: #343D4C;
}
.schedule-date {
    margin-bottom: 0.7rem;
}
.card {
    height: 100%;
    border-radius: 8px;
    background-color: #F3F6FC;
    border: none;
    font-size: 1rem;
    font-family: 'Nunito';
    color: #343D4C;
}
.card img {
    align-content: center;
    aspect-ratio: 1;
    width: 2.5vw;
    margin-bottom: 1vw;
}

.card .title {
    font-family: 'Backline';
    font-size: 1.3rem;
}

.card .description {
    font-family: 'Nunito';
    font-size: 1rem;
    color: var(--black);
}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    height: auto;
    padding: 5px;
    width: 100%;
    font-size: 1.2vw;
    font-family: 'Nunito-Bold';
    border-width: 0px;
    margin: 0 auto;
    border-radius: 8px !important;
    margin-bottom: 0.5rem;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:focus {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}


@media screen and (max-width: 767px) {
    .card .description {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 767px) {
    .card .description {
        font-size: 0.75rem;
    }
}

@media screen and (min-width: 1000px) {
    .card .description {
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .btn-primary {
        width: 80% !important;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 767px) {
    .btn-primary {
        font-size: 1.3vw;
    }
}

