.ModalTitle {
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 700;
}
.Paragraph {
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 400;
    color: #343D4C;
}
.divider {
    width: 100%;
    text-align: center;
    color: #717171;
}

    .divider hr {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
        width: 40%;
    }

.left {
    float: left;
}

.right {
    float: right;
}
p{
    margin: 0;
    padding-right: 5rem;
    text-align: justify;
}
.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd;
}
.btn {
    text-align: center;
    width: 100%;
    padding-top: 0.7rem;
    height: 3.5rem;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Nunito';
    font-weight: 700;
    color: #717171;
    cursor: pointer
}
.img-icon{
    width: 35px;
}
h6 {
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
}
@media screen and (max-width: 767px) {
    p {
        margin: 0;
        padding-right:2rem;
        text-align: justify;
    }
    .divider hr {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        width: 30%;
    }


}
