.redirect-help {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.redirect-help::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust this value based on the distance from the text */
    width: 0;
    height: 2px; /* Adjust this value to change the thickness of the underline */
    background-color: #FFA942;
    transition: width 0.3s ease-out;
}

.redirect-help:hover::after {
    width: 100%;
}

.redirect-help::after {
    transition: width 0.3s ease-out;
}


.h6 {
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}
.divider {
  width: 100%;
  text-align: center;
  color: #717171;
}

.divider hr {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  width: 40%;
}

.left {
  float: left;
}

.right {
  float: right;
}
p {
  margin: 0;
  padding-right: 5rem;
  text-align: justify;
}
.btn-google {
  color: #545454;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 1px #ddd;
}
.btn {
  text-align: center;
  width: 100%;
  padding-top: 0.7rem;
  height: 3.5rem;
  border-radius: 50px;
  font-size: 18px;
  font-family: "Nunito";
  font-weight: 700;
  color: #717171;
  cursor: pointer;
}
.img-icon {
  width: 35px;
}
h6 {
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}
@media screen and (max-width: 767px) {
  p {
    margin: 0;
    padding-right: 2rem;
    text-align: justify;
  }
  .divider hr {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 30%;
  }
}
