.card-profile {
    margin-top: 12rem;
    text-align: center;
}

.card {
    display: inline-block;
    position: relative;
    width: 270px;
    height: 218px;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.card-profile .card-avatar, .card-testimonial .card-avatar {
    width: 96px;
    height: 96px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.card img {
    margin-top: 25px;
    width: 50%;
    height: auto;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

.card-caption {
    padding-top: 1rem;
    font-weight: 700;
    font-family: 'Nunito';
}

h6, .h6 {
    font-size: 0.9em;
    font-weight: 500;
}

p {
    color: #3C4857;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Nunito';
    padding: 0.5rem;
    text-align: justify;
}
@media screen and (max-width: 767px) {
    .card {
        width: 330px;
        height: 260px;
    }
    .card-profile .card-avatar, .card-testimonial .card-avatar {
        width: 120px;
        height: 120px;
    }
    p {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        text-align: justify;
    }
}
@media screen and (min-width: 767px) {

  
}
