.card {
    height: 100%;
    padding: 1.8vw;
}
.card img {
    align-content: center;
    aspect-ratio: 1;
    width: 2.5vw;
    margin-bottom: 1vw;
}

.card .title {
    font-family: 'Backline';
    font-size: 1.5vw;
}

.card .description {
        font-family: 'Nunito';
        font-size: 1vw;
        color: var(--black);
}
