.card {
    padding: 3vw;
    text-align: center;
    border: none;
}
    .card img {
        align-content: center;
        width: 80px;
        height: 80px;
    }

    .card .title {
        margin-top: 0.5rem;
        font-family: nunito-extrabold;
        font-size: 20px;
    }

.card .description {
    font-family: 'Nunito';
    font-size:16px;
    color: var(--black);
    text-align: center;
}
@media screen and (min-width:768px) and (max-width:991px) {
    .card .description {
        font-family: 'Nunito';
        font-size: 18px;
        color: var(--black);
        text-align: center;
        max-width: 518px;
        margin: auto;
    }

}

