.card {
    height: 100%;
    padding: 3vw;
    text-align: center;
    border: none;
}
.card img {
    align-content: center;
    aspect-ratio: 1;
    width: 2.5vw;
    margin-bottom: 1vw;
}

.card .title {
    font-family: 'Nunito-bold';
    font-size: 32px;
}

.card .description {
    font-family: 'Nunito';
    font-size: 1rem;
    color: var(--black);
    padding: 1vw;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .card {
        height: 275px;
        padding: 0.5vw;
        text-align: center;
    }
    .card .title {
        font-size: 24px;
    }
    .card img {
        margin-top: 1rem;
        align-content: center;
        aspect-ratio: 1;
        width: 10vw;
        margin-bottom: 1vw;
    }
    .card .description {
        font-family: 'Nunito';
        font-size: 1rem;
        color: var(--black);
        padding: 4vw 10vw 4vw 10vw;
    }
}

@media screen and (min-width: 767px) {
    .card .description {
        font-size: 0.75rem;
    }
    .card {
        height: 100%;
        padding: 0.5vw;
        text-align: center;
    }
    .card .title {
        font-size: 24px;
    }
    .card img {
        align-content: center;
        aspect-ratio: 1;
        width: 4vw;
        margin-bottom: 1vw;
    }
}

@media screen and (min-width: 1000px) {
    .card .description {
        font-size: 1rem;
    }
}

