#seat-plan-container {
  padding-top: 2.5rem;
  position: relative;
  border: 1px dotted #343d4c;
  height: 50vh;
  display: flex;
  justify-content:center;
}

.seat-plan-actions {
  position: absolute;
  top: 0;
  width: 100%;
}

.categories-container {
  transform-origin: center center;
  position: absolute;
  width: 60%;
  overflow: auto;
  scroll-behavior: smooth;
  height: 100%;
}

.categories-container::-webkit-scrollbar {
  display: none;
}

.categories-container {
  scrollbar-width: none;
}

.categories-container {
  overflow: -moz-scrollbars-none;
}