#seat-plan-container {
  padding-top: 2.5rem;
  position: relative;
  border: 1px dotted #343d4c;
  height: 50vh;
}

.seat-plan-actions {
  position: absolute;
  top: 0;
  width: 100%;
}

.categories-container {
  transform-origin: center center; /* Set transform origin to center */
  position: absolute;
  width: 60%;
}
