::deep button {
    transition: transform .25s;
}

    ::deep button:active {
        transform: scale(.94);
    }
.label-paragraph {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    color: #717171;
}
li {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    color: #343D4C;
}

.content-creation .mrow {
    margin-top: 50px;
}

.title-description {
    margin-top: 2rem;
    font-family: Lora;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    color: #343D4C;
}

::deep .btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    padding: 5px;
    font-size: 20px;
    font-family: "Nunito-Bold";
    border-width: 0px;
    height: 40px;
    width: 73%;
    border-radius: 5px;
    float: left;
}

/*.button-container {
    display: flex;
}*/

.label-container-section > p {
    font-size: 0.7rem;
}

.label-container-section {
    padding: 0 50px 0 0;
}

.img-instruction {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 767px) {
    .landing-sm {
        display: block;
    }

    .landing-md {
        display: none;
    }
    ::deep .btn-primary {
        font-size: 3.5vw;
        width: 96%;
    }

    .content-creation textarea {
        width: 100%;
        height: 150px;
    }

    .label-container-section {
        padding: 0 0 0 15px;
    }

    .content-creation .mrow {
        margin-top: 2px;
    }

    .title-description {
        margin-top: 1rem;
        font-size: 23px;
        padding: 5px;
    }

    .label-paragraph {
        margin-bottom: 2px;
        padding: 5px;
    }

    .img-instruction {
        width: 96%;
        height: auto;
        justify-content: center;
    }
}

@media screen and (min-width: 767px) {
    .landing-sm {
        display: none;
    }

    .landing-md {
        display: block;
    }
}

@media (min-width: 1200px) {
}

.divider {
    padding: 10px;
}
