.box {
    top: 50%;
    left: 50%;
    width: 650px;
    height: 450px;
    transform: translate(-50%, -50%);
    border: 1px solid #343D4C;
    position: fixed;
    border-radius: 10px;
    padding: 30px;
}
.img-process {
    width: 100px;
    height: 86.85px;
}
.p-thank {
    font-family: Lora;
    font-size: 48px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 20px;
}
.p-verification {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFA942;
    margin-top:10px;
}
.p-notify {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #717171;
    margin-bottom: 40px
}
.link-explore {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}
@media screen and (max-width: 767px) {
    .box {
        width: 90%;
        height: 450px;
    }
    .img-process {
        width: 100px;
        height: 86.85px;
        margin-left: 30%;
    }
    .p-notify {
        margin-bottom: 15px;
    }
    .link-explore {
        margin-left: 20%;
        margin-bottom: 5px;
    }
}
