.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 15px;
}

.header .title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #ffa942;
  margin: 0px;
}

.users-section {
  margin-top: 1rem;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 50px;
}

.verification-title {
  color: #343D4C;
  margin-top: 5px;  
  font-family: Nunito;
  font-size: 32px;
  font-style: bold;
  font-weight: 900;
  line-height: normal;
}

.table-list {
  overflow-y: auto;
}

.pagination-main {
  margin-top: 10px;
  display: flex !important;
  justify-content:  end !important;
  gap: 100px;
}


::deep .pagination {
  gap: 10px;
}

::deep .page-item.active .page-link {
  z-index: 3;
  color: #ffffff !important;
  background-color: #ffa942 !important;
  border-color: #ffa942 !important;
}

::deep .page-link {
  color: #717171 !important;
}


::deep th.sessions-attended-header {
  text-align: center;
  vertical-align: middle;
}

::deep th.student-no-header {
  text-align: center;
  vertical-align: middle;
}

::deep th.attendance-header {
  text-align: center;
  vertical-align: middle;
}

::deep td.update {
  text-align: center;
  vertical-align: middle;
}

::deep td.student-no {
  text-align: center;
  vertical-align: middle;
}

::deep .btn-update {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px 25px 10px 25px;
}

::deep .btn-update:hover {
  transform: scale(1.1);
}

::deep th.name-header {
  border-top-left-radius: 5px;
}

::deep th.attendance-header {
  border-top-right-radius: 5px;
}

::deep tr:last-child td:first-child {
  border-bottom-left-radius: 0px;
}

::deep tr:last-child td:last-child {
  border-bottom-right-radius: 0px;
}

.menu img {
  aspect-ratio: 1;
  width: 25%;
}

.top-row {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}

.form-check {
  display: flex;
  justify-content: center;
}

.form-switch .form-check-input:checked {
  background-color: var(--primary);
  border: none;
}

.search-section {
  margin-top: 50px;
}

@media (min-width: 0px) and (max-width: 575.98px) {
  .verification-title {
    font-size: 24px;
    margin: 0px;
  }

  .pagination-main {
    flex-direction: column !important;
    align-items: center !important;
  }

}

@media (min-width: 576px) and (max-width: 768.98px) {
  .pagination-main {
    display: flex !important;
    justify-content:  end !important;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {
  .custom-flex {
    flex-direction: column !important;
  }

  #searchBar {
    margin-top: 10px;
  }

  .pagination-main {
    display: flex !important;
    justify-content:  end !important;
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .custom-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

@media (min-width: 1200px) {
  .custom-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  
  
}
