* {
  font-family: "Nunito";
}
.guide-icon {
  width: 18px;
  height: 18px;
}

.how-to-guide {
  margin-top: 8px;
  gap: 5px;
  float: right;
  cursor: pointer;
}

.how-to-guide label {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 700;
  color: #34a853;
  cursor: pointer;
  text-decoration: underline 1px solid #34a853;
}
.form-control-label {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.editor-customer-requirement-provide {
  padding: 32px 30px;
  background: #f3f6fc;
  border-radius: 10px;
}

#create-activity-title,
#create-activity-category,
#create-activity-sub-category {
  height: 60px;
  border-radius: 10px;
}

#create-activity-description {
  height: 247px;
  width: 100%;
  border-radius: 10px;
}

.label-top-margin {
  margin-top: 28px;
  text-align: justify;
}

#error-message-container {
  width: 100%;
  background-color: #ffd8d8;
  border: 1px solid #ffb2b2;
  color: #f25151;
  padding: 10px;
}

#error-list {
  margin: 0;
}

.textarea-container {
  margin-top: 35px;
  background: #ffffff;
  border-radius: 10px;
}

.textarea-container label {
  text-align: right;
  padding-right: 10px;
  font-size: 0.8rem;
}

.sub-details {
  display: flex;
  text-align: justify;
}

.field-number {
  width: 30px;
  height: 30px;
  background: #ffa942;
  border-radius: 50%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 5px;
}

.field-number-top-margin {
  width: 30px;
  height: 30px;
  background: #ffa942;
  border-radius: 50%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
  margin: 28px 5px 5px 5px;
}

.field-top-margin {
  margin-top: 35px;
}

.left-margin {
  margin-left: 5px;
}

@media (min-width: 0px) and (max-width: 575.98px) {
  .editor-customer-requirement-provide {
    background: #ffffff;
    padding: 0px 0px;
  }

  .info-icon {
    display: inline-block !important;
  }
  .how-to-guide {
    margin-top: 8px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}
