.img-icon {
    width: 4rem;
    height: 4rem;
}
.img-fluid {
    border-radius: 10px;
}
ul.no-bullets {
    list-style-type: none; /* Remove bullets */
}
li {
    margin-bottom: 0.5rem;
    font-family: 'Nunito'
}
h4{
    margin-left: 1rem;
    font-family: 'Nunito Bold'
}
h6 {
    margin-left: 1rem;
    font-family: 'Nunito'
}

