* {
  font-family: "Nunito";
}
input:focus {
  outline: none !important;
  box-shadow: none !important;
}
.example-add-on {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  color: #717171;
}
.addons-sub-title {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  margin-left: 0%;
  margin-bottom: 1rem;
  text-align: left;
}
.field-heading-section {
  width: 100%;
}

.td-field-number {
  width: 10px;
}
.guide-icon {
  width: 18px;
  height: 18px;
}

.how-to-guide {
  margin-top: 2.3rem;
  gap: 5px;
  float: right;
  cursor: pointer;
}

.how-to-guide label {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 700;
  color: #34a853;
  cursor: pointer;
  text-decoration: underline 1px solid #34a853;
}
.pricing-title {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0.2rem;
  margin-left: 0%;
}
.expiration-title {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
.title-description {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 600;
}

.form-control-label {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}
add-ons-section {
  padding: 0px 30px;
  background: #ffffff;
  border-radius: 10px;
  height: 100px;
}
.pricing-schedule-section {
  padding: 0px 0px;
  background: #ffffff;
}

.pricing-schedule {
  padding: 10px 30px;
  background: #f3f6fc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#schedule-name,
#schedule-time,
#price-input,
#unit2-input {
  height: 60px;
  border-radius: 10px;
}

#create-activity-description {
  height: 247px;
  width: 100%;
  border-radius: 10px;
}

.label-top-margin {
  margin-top: 28px;
}

#error-message-container {
  width: 100%;
  background-color: #ffd8d8;
  border: 1px solid #ffb2b2;
  color: #f25151;
  padding: 10px;
}

#error-list {
  margin: 0;
}

.form-check-input {
  margin-left: 5px;
  margin-top: 8px;
  width: 55px;
  height: 26px;
  margin-top: 0px;
}
.at-start {
  margin-top: 0.5rem;
}
.at-start .form-check-input {
  width: 20px;
  height: 20px;
  margin-top: 0.5rem;
}
.at-start .form-check-input:checked {
  /*background-color: #FFA942;*/
  border-color: #ffa942;
  background-color: var(--primary);
}
.at-start .form-check-label {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
  color: #717171;
  margin-top: 0.5rem;
}
.first-attendance .form-check-input {
  width: 20px;
  height: 20px;
  margin-top: 0.5rem;
}

.first-attendance .form-check-input:checked {
  /*background-color: #FFA942;*/
  border-color: #ffa942;
  background-color: var(--primary);
}

.first-attendance .form-check-label {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
  color: #717171;
  margin-top: 0.5rem;
}
::deep .expiration-start .form-control {
  width: 70%;
  margin-top: 5px;
}
.set-expiration {
  margin-top: 1rem;
}
.set-expiration .sub-details {
  margin-top: 1rem;
}
.expiration-start {
  margin-top: 1rem;
}
.session-period {
  margin-top: 1rem;
  width: 80%;
}
.expiration-period-note .sub-details {
  margin-top: 1rem;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
}
.form-switch .form-check-input:checked {
  background-color: var(--primary);
  border: none;
}

.form-switch {
  padding-left: 0px;
}
.activity-expiration .form-switch {
  padding-left: 0px;
}

#btnAddSchedule {
  width: 250px;
  height: 60px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#btnAddOns {
  width: 250px;
  height: 60px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#activitySchedules {
  margin-bottom: 20px;
}

.accordion-button {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #343d4c;
  background: #f3f6fc;
}

.accordion-button:not(.collapsed) {
  background: #f3f6fc;
  border-radius: 5px 5px 0px 0px;
}

.accordion-title {
  width: 550px;
}

.field-number {
  width: 30px;
  height: 30px;
  background: #ffa942;
  border-radius: 50%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 5px;
}

.field-number-top-margin {
  width: 30px;
  height: 30px;
  background: #ffa942;
  border-radius: 50%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
  margin: 28px 5px 5px 5px;
}

.right-margin {
  margin-right: 5px;
}
@media screen and (max-width: 767px) {
  .pricing-title {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0.2rem;
    margin-left: 0%;
  }
  .addons-sub-title {
    margin-left: 0%;
    text-align: justify;
  }
}

@media (min-width: 0px) and (max-width: 575.98px) {
  .pricing-schedule {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    padding: 10px 15px;
  }

  .pricing-schedule-section {
    padding: 0px 0px;
  }

  #btnAddSchedule {
    width: 100%;
  }

  #btnAddOns {
    width: 100%;
  }

  .accordion-title {
    width: 200px;
  }

  .activity-expiration .form-check-input {
    margin-left: 5px;
  }

  .td-field-number {
    width: 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}
@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}
