.publish-container {
    font-family: 'Nunito';
}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    height: auto;
    padding: 5px;
    font-size: 1.2vw;
    font-family: 'Nunito-Bold';
    border-width: 0px;
    margin: 0 auto;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

@media (max-width: 767px) {
    .btn-primary {
        font-size: 1rem;
        width:100%;
        padding:10px;
    }
    .publish-text h2 {
        font-size: 3rem;
        font-weight: 800;
    }

    .publish-text p {
        font-size: 0.8rem
    }
}

@media (min-width: 768px) {
    .publish-container {
        background-image: url('../../images/PublishBackground.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .publish-text h2 {
        font-size: 4rem;
        font-weight: 800;
    }

    .publish-text p {
        margin-top: 120px;
        margin-bottom: 60px;
        font-size: 0.9rem
    }

    #publish-image {
        display:none;
    }
}
