.landing-header {
    font-family: 'Backline';
    font-size: 3vw;
}

.section-1 {
    aspect-ratio: 1600/521;
    width: 100%;
    background-color: white;
    position: relative;
}

    .section-1 img {
        aspect-ratio: 1182/457;
        width: 73.875%;
        margin-top: 43px;
        margin-left: 13.4375%;
    }

    .section-1 .landing-header {
        position: absolute;
        width: 29.34%;
        text-align: center;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section-1 .landing-subheader {
        position: absolute;
        font-family: 'Nunito';
        font-size: 1vw;
        top: 50%;
        left: 50%;
        color: var(--black);
        transform: translate(-50%, -50%);
    }

    .section-1 .btn-primary {
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.section-2 {
    aspect-ratio: 1602/452;
    width: 100%;
    background-color: var(--gray);
}
    .section-2 .landing-text {
        padding-top: 43px;
        padding-left: 13.4375%;
    }

    .section-2 .landing-subheader {
        font-family: 'Nunito';
        font-size: 1vw;
        line-height: 1.8em;
        color: var(--black);
    }

    .section-2 img {
        aspect-ratio: 559.82/314.42;
        width: 70%;
        margin-top: 43px;
        margin-left: 13.4375%;
    }

.section-3 {
    height: 602px;
    width: 100%;
    background-color: white;
    position: relative;
}

    .section-3 .landing-text {
        text-align: center;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.section-4 {
    aspect-ratio: 1602/473;
    width: 100%;
    background-color: var(--gray);
}

    .section-4 img {
        aspect-ratio: 573.58/370.58;
        width: 95%;
        margin-top: 24px;
        margin-left: 8.24%;
    }

.footer {
    height: 128px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: white;
}
