.section-1 {
    aspect-ratio: 1600/521;
    width: 100%;
    background-color: white;
    position: relative;
}

    .section-1 img {
        aspect-ratio: 1182/457;
        width: 73.875%;
        margin-top: 43px;
        margin-left: 13.4375%;
    }

    .section-1 .landing-header {
        position: absolute;
        font-family: 'Backline';
        width: 29.34%;
        font-size: 3.5rem;
        text-align: center;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section-1 .landing-subheader {
        position: absolute;
        font-family: 'Nunito';
        font-size: 1.2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.section-2 {
    aspect-ratio: 1602/452;
    width: 100%;
    background-color: var(--gray);
}

    .section-2 img {
        aspect-ratio: 559.82/314.42;
        width: 34.95%;
        margin-top: 43px;
        margin-left: 13.4375%;
    }

.section-3 {
    height: 602px;
    width: 100%;
    background-color: white;
}

.section-4 {
    aspect-ratio: 1602/473;
    width: 100%;
    background-color: var(--gray);
}

    .section-4 img {
        aspect-ratio: 573.58/370.58;
        width: 35.80%;
        margin-top: 24px;
        margin-left: 8.24%;
    }

.footer {
    height: 128px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: white;
}
