.section-1 {
    height: 521px;
    width: 100%;
    background-color: white;
}

    .section-1 img {
        height: 457px;
        margin-top: 43px;
        margin-left: 13.4375%;
    }

.section-2 {
    height: 452px;
    width: 100%;
    background-color: var(--gray);
}

.section-3 {
    height: 602px;
    width: 100%;
    background-color: white;
}

.section-4 {
    height: 473px;
    width: 100%;
    background-color: var(--gray);
}

.footer {
    height: 128px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: white;
}
