.customer-profile-details {
    margin-top: 59px;
}
::deep .customer-profile-details .nav {
    justify-content: start;
    gap: 50px;
}
::deep .customer-profile-details .nav-tabs .nav-link {
    font-size: 20px;
}::deep button {
    transition: transform .25s;
}
::deep button:active {
    transform: scale(.94);
}
.dashboard-welcome {
    display: flex;
    justify-content: space-between;
}
.notif-items{
    display: flex;
    gap:31px;
}
.img-icon {
    width: 28px;
    height: 28px;
}
.img-icon-notif {
    width: 25px;
    height: 25px;
}
.welcome-text {
    color: #343D4C;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 0;
    margin-bottom: 4px;
}
.welcome-sub-text {
    color: #717171;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}
.event-details-wrapper {
    margin-right: 0px;
    margin-left: 0px;
}
@media only screen and (max-width: 576px) {
    ::deep .customer-profile-details .nav.nav-tabs {
        display: flex;
        gap:20px;
    }
}