/*Empty setup*/
.empty-activity {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
}
.empty-options {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    display: block;
}

.no-text {
    color: #000;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 10px;
}

.no-sub-text {
    color: #717171;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.empty-create {
    color: #FFF;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border-radius: 36px;
    background: #34A853;
    display: inline-flex;
    padding: 14.5px 40px;
    justify-content: center;
    align-items: center;
    border: none;
}
.dashboard-header {
    margin-top: 2rem;
}
.swiper-switch{
    display: none;
}
.swiper-scrollbar {
    display: none;
}
.mobile-other-section {
    display: none;
}
.swiper-switch-mobile{
    display: none;
}
.dashboard-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.box-title {
    color: #717171;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.experience-box {
    background: none;
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 47px 0px rgba(217, 217, 217, 0.60);
}
.section-1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.activities-section {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 47px 0px rgba(217, 217, 217, 0.60);
    margin-top: 20px;
    height:auto;
    max-height:715px;
    overflow-y: scroll;
}
.studentlist-section {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 47px 0px rgba(217, 217, 217, 0.60);
    margin-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    height: auto;
    max-height: 715px;
    overflow-y: scroll;
}
.activity {
    width: 75%;
}
.other-section {
    width: 25%;
    margin-top: 20px;
}
.earnings-link {
    color: #00AAF0;
    text-decoration: underline;
}

.earnings-link-activity {
    color: #34A853;
    text-decoration: underline;
}

.earnings-link-student {
    color: #FC4755;
    text-decoration: underline;
}

.schedule-description {
    font-family: Nunito;
    font-size: 14px;
    font-weight: 700;
    color: #343d4c;
    max-width: 350px;
}

p {
    margin: 0px;
}

.earning-icon {
    width: 35px;
    height: 36px;
}

.enrollees-icon {
    width: 48px;
    height: 36px;
}

.calendar-icon {
    width: 33px;
    height: 36px;
}

.title {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 500;
    color: #717171;
    position: sticky;
}

.amount-calculate {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 900;
    color: #343d4c;
}

.amount {
    font-family: Nunito;
    font-size: 35px;
    font-weight: 900;
    color: #343d4c;
}

.description {
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    color: #717171;
}

.dashboard-tab {
    margin-top: 1rem;
}

.dashboard-tab-wrapper {
    margin-top: 2rem;
    margin-left: 40px;
    background: none;
    border-radius: 8px;
    padding: 10px;
    z-index: 1;
    border: 1px solid #d9d9d9;
}

.profile-wrapper {
    margin-top: 2rem;
    background: none;
    border-radius: 8px;
    padding: 10px;
    z-index: 1;
    border: 1px solid #d9d9d9;
    display: flex;
}

.description {
    display: inline-flex;
    padding: 4px 10px;
    justify-content: center;
    border-radius: 4px;
    background: #E1F6FF;
    color: #00AAF0;
    font-size: 12px;
}

.description-activity {
    display: inline-flex;
    padding: 4px 10px;
    justify-content: center;
    border-radius: 4px;
    background: #E5FFEC;
    color: #34A853;
    font-size: 12px;
}

.description-student {
    display: inline-flex;
    padding: 4px 10px;
    justify-content: center;
    border-radius: 4px;
    background: rgba(252, 71, 85, 0.10);
    color: #FC4755;
    font-size: 12px;
}
.title {
    color: #343D4C;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 20px;
    padding-left: 16px;
    padding-bottom: 20px;
}
::deep hr{
    margin:0;
}
.header {
    color: #717171;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.activity-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.activity-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 24px;
    padding-bottom: 24px;
}
.activity-face {
    border-radius: 4px;
    color: #34A853;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 4px 10px;
    background: #EDFFED;
    padding-right: 20px;
    padding-left: 20px;
}
.activity-online {
    border-radius: 4px;
    color: #4285F4;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 4px 10px;
    background: rgba(66, 133, 244, 0.10);
    padding-right: 20px;
    padding-left: 20px;
}
.activity-text {
    color: #343D4C;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
}
.active-text {
    color: #34A853;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 500;
    display: inline-flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #EDFFED;
}
.progress-text {
    color: #FFA942;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 500;
    display: inline-flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: rgba(255, 169, 66, 0.10);
}
.inactive-text {
    color: #717171;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 500;
    display: inline-flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: rgba(113, 113, 113, 0.10);
}
.action-btn {
    width: 20px;
    height: 20px;
}
.status {
    padding-right: 20px;
    padding-left: 20px;
}
.activity-action{
    display: flex;
    gap: 8px;
    padding-left: 20px;
}
.inprogress-action {
    display: flex;
}
.delete-button{
    background-color: transparent;
    border: none;
    padding-right: 0px;
    padding-left: 0px;
    width: 20px;
    height: 20px;
}
.create-section {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 47px 0px rgba(217, 217, 217, 0.60);
    padding: 20px 16px 20px 16px;
}
.attendance-section {
    margin-top: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 47px 0px rgba(217, 217, 217, 0.60);
    padding: 20px 16px 20px 16px;
}
.manual-section {
    margin-top: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 47px 0px rgba(217, 217, 217, 0.60);
    padding: 20px 16px 20px 16px;
}
.profile-section {
    margin-top: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 47px 0px rgba(217, 217, 217, 0.60);
    padding: 20px 16px 20px 16px;
}

.manual-title {
    color: #343D4C;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
}
.manual-text {
    color: #717171;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 20px;
}
.link-profile {
    color: #717171;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 20px;
    text-decoration: underline;
    cursor: pointer;
}
.manual-count {
    color: #000;
    font-family: Nunito;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}
.manual-option{
    margin-top:10px;
    text-align: center;  
}
.add-manual {
    width: 100%;
    color: #00AAF0;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: #E8F8FF;
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
}
.add-manual span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.add-manual span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.add-manual:hover span {
    padding-right: 20px;
}

.add-manual:hover span:after {
    opacity: 1;
    right: 0;
}
.add-manual:active {
    transform: translateY(4px);
}
.check-attendance {
    width: 100%;
    color: #FC4755;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: rgba(252, 71, 85, 0.10);
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
}
.check-attendance span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

    .check-attendance span:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

.check-attendance:hover span {
    padding-right: 20px;
}

    .check-attendance:hover span:after {
        opacity: 1;
        right: 0;
    }

.check-attendance:active {
    transform: translateY(4px);
}
.create-activity {
    width: 100%;
    color: #7D87EA;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: rgba(125, 135, 234, 0.10);
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
}
.create-activity span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

    .create-activity span:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

.create-activity:hover span {
    padding-right: 20px;
}

    .create-activity:hover span:after {
        opacity: 1;
        right: 0;
    }

.create-activity:active {
    transform: translateY(4px);
}
.profile-pic {
    text-align: center;
}
.profile-img {
    width: 100%;
    border-radius: 50%;
}
.profile-name {
    color: #000;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.view-profile {
    width: 100%;
    color: #34A853;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: #EDFFED;
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
    cursor:pointer;
}
.view-profile span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
    .view-profile span:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
.view-profile:hover span {
    padding-right: 20px;
}

    .view-profile:hover span:after {
        opacity: 1;
        right: 0;
    }
.view-profile:active {
    transform: translateY(4px);
}

::deep .pagination-section{
    justify-content: end;
}
::deep .page-item {
    margin-left: 5px;
}

    ::deep .page-item:first-child .page-link {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    ::deep .page-item:last-child .page-link {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

::deep .page-link {
    background-color: #ffffff;
    color: #343D4C;
    border: 1px solid #F1F1F1;
    border-radius: 50px;
    font-size: 13px;
    font-family: 'Nunito';
}

    ::deep .page-link:hover {
        background-color: var(--primary);
        color: #FFFFFF;
    }

::deep .page-item.active .page-link {
    background-color: var(--primary);
    border: 1px solid #F1F1F1;
}

.manage-student {
    border-radius: 4px;
    background: #E1F6FF;
    display: inline-flex;
    margin-top: 20px;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    color: #00AAF0;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 600;
    height: 1.5rem;
    border: none;    
}

@media screen and (min-width: 0px) and (max-width: 430px) {
    .dashboard-header .swiper-wrapper {
        width: 300px !important;
    }
    .mobile-wrapper .swiper-wrapper {
        width: 300px !important;
    }
    .desktop-switch {
        display: none;
    }
    .swiper-switch{
        display: block;
    }
    .swiper-switch-mobile {
        display: block;
        margin-top: 1rem;
    }
    .swiper-switch-mobile {
        margin-top: 1rem;
    }

    .dashboard-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .experience-box {
        width: 300px;
    }

    .section-1 {
        display: flex;
        flex-direction: column;
    }

    .activity {
        order: 1;
        width: 100%;
    }


    ::deep .other-section-mobile .mobile-wrapper {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        height: auto;
    }
    .create-section,
    .attendance-section {
        width: 310px;
    }

    .create-section {
        margin-top: 0;
    }

    .attendance-section {
        margin-top: 0;
    }

    .manual-section {
        margin-top: 0;
        display: none;
    }

    .mobile-other-section .manual-section {
        display: block;
    }

    .mobile-other-section .profile-section {
        display: block;
        margin-top: 20px;
    }

    .profile-section {
        margin-top: 0;
        display: none;
    }

    .activities-section {
        margin-top: 0;
    }

    .create-activity {
        margin-top: 2.4rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .swiper-switch {
        display: block;
    }

    .dashboard-header .swiper-wrapper {
        width: 300px !important;
    }

    .desktop-switch {
        display: none;
    }
}

@media screen and (min-width: 431px) and (max-width: 768px) {
    .dashboard-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    
    .experience-box {
        width: 300px;
    }
    
    .section-1 {
        display: flex;
        flex-direction: column;
    }
    
    .activity {
        order: 1;
        width: 100%;
    }
    
    .other-section {
        order: 0;
    }
    
    .other-section {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        height: auto;
    }
    
    .create-section {
        margin-top: 0;
    }
    
    .attendance-section {
        margin-top: 0;
    }
    
    .manual-section {
        margin-top: 0;
    }
    
    .profile-section {
        margin-top: 0;
    }
    
    .activities-section {
        margin-top: 0;
    }
   
    .manual-count {
        margin-top: 54px;
        margin-bottom: 54px;
    }
    
    .other-section-mobile {
        display: none;
    }
}

@media screen and (min-width: 431px) and (max-width: 445px) {
    .other-section-mobile {
        display: none;
    }
    .create-activity{
        margin-top:2.2rem;
    }
}

@media screen and (min-width: 445px) and (max-width: 647px) {
    .create-activity {
        margin-top: 3.7rem;
    }
}

@media screen and (min-width: 648px) and (max-width: 768px) {
    .create-activity {
        margin-top: 2.5rem;
    }
}

@media screen and (min-width: 492px) and (max-width: 648px) {
    .manual-count {
        margin-top: 45px;
        margin-bottom: 45px;
    }

    .mobile-other-section {
        display: none;
    }
}

@media screen and (min-width: 431px) and (max-width: 491px) {
        .manual-count {
            margin-top: 35px;
            margin-bottom: 35px;
        }

        .mobile-other-section {
            display: none;
        }
    }

@media only screen and (max-width: 890px) {
    #explore-category-scrollbar {
        display: none;
    }
}