.alert {
    width: 40%;
    color: black;
    text-align: center;
    background-color: white;
    text-decoration: none;
    font-family: 'Nunito';
    border-color: black;
    position: fixed;
    bottom: 0;
}

/* For Mobile Portrait View */
@media screen and (max-width: 767px){
    .alert {
        width: 80%;
        font-size: 12px;
        font-family: 'Nunito';
        padding-bottom: 10px;
    }
}
