.user-flow-1 {
    margin-bottom: 3rem;
}
.modal-header-section{
    justify-content:center;
}
.modal-header-section {
    gap: 5px;
}
.light-icon {
    width: 48px;
    height: 48px;
}
.modal-title {
    font-family: nunito-extrabold;
    font-size: 32px;
    font-weight: 900;
    line-height: 44px;
    color: #343D4C;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .img-flow {
        width: 100%;
        height: 100%;
        cursor: zoom-in;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .img-flow {
        width: 100%;
        height: 100%;
        cursor: zoom-in;
    }
}
