p {
    margin: 0;
    text-align: justify;
    font-family: 'Nunito';
    font-size: 12px;
    font-weight: 400;
}
.modal-title {
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 700;
    margin-left: 0.5rem;
}

.card-filter h5 {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 22px;
}

.card-filter h6 {
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
}
.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    font-size: 1vw;
    font-family: 'Nunito-Bold';
    border-width: 0px;
    width: 100%;
    white-space: nowrap;
    padding-right: 50px;
}
.btn-primary:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:focus {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}
.form-check{
    margin: 0;
}
@media screen and (max-width: 767px) {
    p {
        margin: 0;
        text-align: justify;
    }
    .btn-primary {
        width: 100% !important;
        height: 12vw !important;
        font-size: 0.9rem;
        text-align: center;
    }
}
@media screen and (min-width: 767px) {
    .btn-primary {
        height: 3.8vw !important;
        font-size: 1.3vw;
    }
}
