.modal-title {
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 700;
    margin-left: 1rem;
}
.textarea-container label {
    text-align: right;
    padding-right: 10px;
    font-size: 0.8rem;
}
.top-text{
    font-family:'Nunito';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.font-18 {
    font-size: 18px !important;
}
.btn-delete {
    margin-left: 13rem;
    margin-top: 1rem;
}
.figure-profile{
    margin-right:1rem;
    margin-left: 1rem;
}
    .figure-profile .round {
        position: absolute;
        bottom: 30px;
        right: 50px;
        background: white;
        width: 32px;
        height: 32px;
        line-height:32px;
        overflow: hidden;
        border-radius:50%;
        text-align: center;
        border: 1px solid gray;
    }
        .figure-profile .round:hover {
            background: var(--primary);
        }
        .figure-profile .round input[type='file'] {
            position: absolute;
            transform: scale(2);
            opacity: 0;
        }
    input[type=file]::-webkit-file-upload-button{
        cursor: pointer;

    }
.btn-upload{
    margin-top:3rem;
    margin-bottom: 7rem;
}
@media screen and (max-width: 767px){
    .btn-delete {
        margin-left: 10rem;
    }
    .figure-profile .round {
        bottom: 25px;
        right: 45px;
    }
}