.modal-title {
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 700;
    margin-left: 1rem;
}
button:focus {
    outline: none !important;
    box-shadow: none !important;
}
::deep .card-image-full {
    height: 256px;
    aspect-ratio: auto 256 / 256;
    width: 256px;
    line-height: 225px;
    text-align: center;
    vertical-align: middle;
}
.textarea-container label {
    text-align: right;
    padding-right: 10px;
    font-size: 0.8rem;
}
.top-text{
    font-family:'Nunito';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.bottom-text {
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 1rem;
}
.font-18 {
    font-size: 18px !important;
}
.btn-delete {
    margin-left: 15rem;
    margin-top: 0.5rem;
}
.figure-profile{
    margin-right:1rem;
    margin-left: 1rem;
    margin-top: 0px;
}
    .figure-profile .round {
        position: absolute;
        bottom: 30px;
        right: 55px;
        background: white;
        width: 32px;
        height: 32px;
        line-height: 32px;
        overflow: hidden;
        border-radius: 50%;
        text-align: center;
        border: 1px solid gray;
    }
        .figure-profile .round:hover {
            background: var(--primary);
        }
        ::deep .figure-profile .round input[type='file'] {
            position: absolute;
            transform: scale(2);
            opacity: 0;
        }
    input[type=file]::-webkit-file-upload-button{
        cursor: pointer;

    }
.btn-upload{
    margin-top:0.5rem;
    margin-bottom: 5rem;
    
}
img {
    display: block;
    max-width: 100%;
}

.preview {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}
::deep .js-save-cropped-avatar {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    font-size: 1.3vw;
    font-family: 'Nunito-Bold';
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 50px;
    text-align: center;
    padding: 1rem;
}
    ::deep .js-save-cropped-avatar:hover {
        color: #fff;
        background-color: var(--primary);
        border-color: var(--primary);
    }
    ::deep .js-save-cropped-avatar:focus {
        color: #fff;
        background-color: var(--primary);
        border-color: var(--primary);
    }
::deep .cropper-view-box,
.cropper-face {
    border-radius: 50%;
}
button:focus {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width: 767px) {
    .figure-profile .round {
        right: 65px;
    }
    ::deep .js-save-cropped-avatar {
        width: 100% !important;
        font-size: 0.9rem;
    }
}
@media screen and (min-width: 767px) {
    ::deep .js-save-cropped-avatar {
        height: 3.8vw !important;
        font-size: 1.3vw;
    }
}