.modal-title {
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 700;
    margin-left: 1rem;
}
.top-text{
    font-family:'Nunito';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.font-18 {
    font-size: 18px !important;
}
.btn-delete {
    margin-left: 13rem;
    margin-top: 1rem;
}
.figure-profile{
    margin-right:1rem;
    margin-left: 1rem;
}
@media screen and (max-width: 767px){
    .btn-delete {
        margin-left: 10rem;
    }
}