.modal-title {
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 700;
    margin-left: 0.5rem;
}
.modal-dialog{
    z-index: 1055;
}
.card-filter h5 {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 22px;
}
.card-filter h6 {
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
}
