.user-flow-1 {
    margin-bottom: 3rem;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}
.btn-close{
    margin-right: 0.5rem;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .img-flow {
        width: 100%;
        height: 100%;
        cursor: zoom-in;
    }
}
@media screen and (max-width: 767px) and (orientation: portrait) {
    .img-flow {
        width: 100%;
        height: 100%;
        cursor: zoom-in;
    }
}
   
