/* For Desktop View */
@media screen and (min-width: 1024px) {
    .error-pictures {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
        flex-direction: column;
    }


    .error-desktop{

        margin-bottom: -193px;

    }


    .error-dekstop {
        position: absolute;
        z-index: 1;
    }

    .error-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Nunito';
        font-style: normal;
    }


    .error-tagline {
        font-weight: 700;
        font-size: 60px;
        color: #343D4C;
        text-align: center;
        margin-top: 52px;
        margin-bottom: 0px;
    }


    .error-subline {
        font-weight: 800;
        font-size: 16px;
        text-align: center;
        color: #908D8D;
        margin-top: 0px;
    }


    .error-button {
        width: 330px;
        height: 90px;
        background: #FFA942;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 70px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration-line: underline;
        color: #FFFFFF;
        border-style: none;
        margin-top: 80px;
    }


        .error-button:hover {
            filter: brightness(98%);
        }
}








/*Tablet View*/
@media screen and (min-width: 550px) and (max-width: 1100px) {


    .error-pictures {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 130px;
        flex-direction: column;
    }


    .error-desktop {
        margin-bottom: -193px;
    }



    .error-dekstop {
        width: 160px;
        height:160px;
        position: absolute;
        z-index: 1;
    }


    .error-desktop-icon {
        width: 300px;
        height: 300px;
    }

    .error-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Nunito';
        font-style: normal;
    }


    .error-tagline {
        font-weight: 700;
        font-size: 50px;
        color: #343D4C;
        text-align: center;
        margin-top: 52px;
        margin-bottom: 0px;
        padding-left: 40px;
        padding-right: 40px;
    }


    .error-subline {
        font-weight: 800;
        font-size: 14px;
        text-align: center;
        color: #908D8D;
        margin-top: 0px;
        padding-left: 40px;
        padding-right: 40px;
    }


    .error-button {
        width: 300px;
        height: 80px;
        background: #FFA942;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 70px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration-line: underline;
        color: #FFFFFF;
        border-style: none;
        margin-top: 60px;
    }


        .error-button:hover {
            filter: brightness(98%);
        }
}








    /* For Mobile Portrait View */
    @media screen and (max-width: 549px) and (orientation: portrait) {

        .error-pictures {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 96px;
        }

   /*     .plug {
            display: flex;
            gap: 100px;
        }
*/

        .blank-panel {
            width: 10px;
            height: 10px;
        }


        .error-desktop-icon {
            width: 180px;
            height: 180px;
        }

        .left-plug-icon {
            width: 448px;
            height: 105px;
        }

        .right-plug-icon {
            width: 448px;
            height: 103px;
        }




        .error-details {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Nunito';
            font-style: normal;
            padding-left: 24px;
            padding-right: 24px;
        }


        .error-tagline {
            font-weight: 700;
            font-size: 24px;
            color: #343D4C;
            text-align: center;
            margin-top: 52px;
            margin-bottom: 0px;
            padding-left: 24px;
            padding-right: 24px;
        }


        .error-subline {
            font-weight: 800;
            font-size: 14px;
            text-align: center;
            color: #908D8D;
            margin-top: 15px;
        }


        .error-button {
            width: 300px;
            height: 50px;
            background: #FFA942;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 70px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration-line: underline;
            color: #FFFFFF;
            border-style: none;
            margin-top: 50px;
        }
    }










@media screen and (min-width: 1515px) {

    .plug {
        display: flex;
        gap: 350px;
    }
}

@media screen and (min-width: 1409px) and (max-width: 1514px) {

    .plug {
        display: flex;
        gap: 300px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1408px) {

    .plug {
        display: flex;
        gap: 250px;
    }
}
@media screen and (min-width: 550px) and (max-width: 699px) {
    .plug {
        display: flex;
        gap: 190px;
    }
}


@media screen and (max-width: 550px) {
    .plug {
        margin-top: 20px;
        display: flex;
        gap: 20px;
    }
}








/*Media screen for plug icons to be resize*/
@media screen and (min-width: 700px) and (max-width: 1208px) {

    .left-plug-icon {
        width: 724px;
        height: 169.66px;
    }

    .right-plug-icon {
        width: 723px;
        height: 161.41px;
    }


    .error-desktop {
        margin-bottom: -170px;
    }


}

@media screen and (min-width: 550px) and (max-width: 699px) {

    .left-plug-icon {
        width: 724px;
        height: 169.66px;
    }

    .right-plug-icon {
        width: 723px;
        height: 161.41px;
    }


    .error-desktop {
        margin-bottom: -170px;
    }
}



@media screen and (min-width: 300px) and (max-width: 450px) {



    .left-plug-icon {
        width: 350px;
        height: 175px;
    }


    .right-plug-icon {
        width: 350px;
        height: 175px;
    }

    .plug{
        margin-top:0px;
    }

    .error-tagline{
        margin-top: 0px;
    }

}

