.alert {
    color: black;
    z-index: 9999;
    text-align: center;
    text-decoration: none;
    font-family: 'Nunito';
    position: fixed;
    left: 0;
    right: 0;
    bottom: 24px;
    z-index: 999;
    display: block;
    height: auto;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    background-color: #fff;
    bottom: 24px;
}
/* For Desktop View */
@media screen and (min-width: 1024px) {
}
/* For Mobile Portrait View */
@media screen and (max-width: 767px) {
    .alert {
        font-family: 'Nunito';
        font-size: 10px;
        max-width: 360px;
    }
}
/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1023px){

}
