body {
}

.experience-title-header {
  color: #343d4c;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.experience-title {
  color: #343d4c;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.experience-briefing {
  color: #717171;
  text-align: justify;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}

.experience-card {
  border-radius: 5px;
  border: 2px solid #d9d9d9;
  background: #fff;
  display: inline-flex;
  padding: 25px;
  align-items: center;
  gap: 98px;
  margin-bottom: 20px;
  cursor: pointer;
}

.experience-description {
  color: #717171;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 767.98px) {
  .experience-briefing {
    color: #717171;
    text-align: justify;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 2rem;
  }
  .experience-description {
    color: #717171;
    font-family: Nunito;
    font-size: 14px;
  }
  .img-icon {
    margin-top: 0.5rem;
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .experience-title-header {
    color: #343d4c;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;
  }
  .experience-briefing {
    color: #717171;
    text-align: justify;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 4rem;
    width: 100%;
  }

  .img-icon {
    margin-top: 0.5rem;
    width: 4rem;
    height: 4rem;
  }
}
