.student-attendance {
  font-family: "Nunito";
  font-size: 20px;
  color: #343d4c;
  padding-left: 1rem;
  padding-right: 1rem;
}

.student-attendance .title {
  font-size: 32px;
  color: var(--primary);
  font-weight: 700;
}

.student-attendance .activities-schedule-section {
  position: relative;
}

.student-attendance .activities-schedule-section .swiper-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.student-attendance .activities-schedule-section .swiper-slide {
  border: 2px solid #343d4c;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 300px;
  height: auto;
}

.student-attendance .activities-schedule-section .swiper-slide .schedule-title {
  font-weight: 700;
}

.student-attendance .activities-schedule-section .swiper-slide .schedule-time {
  font-size: 16px;
}

.student-attendance .student-attendance-section {
  margin-top: 2rem;
}

.student-attendance .student-attendance-section .tool-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.student-attendance .student-attendance-section .check-all {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 16px;
}

.student-attendance .student-attendance-section .check-all:hover {
  cursor: pointer;
}

.student-attendance .student-attendance-section .table-list {
  margin-top: 0.5rem;
}

.sotring-column {
  cursor: pointer;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .student-attendance .activities-schedule-section {
    margin-top: -10px;
  }

  .student-attendance .title {
    font-size: 20px;
    margin-bottom: 0;
  }

  .student-attendance
    .activities-schedule-section
    .swiper-slide
    .schedule-title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .student-attendance
    .activities-schedule-section
    .swiper-slide
    .schedule-time {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.3;
  }

  .student-attendance .activities-schedule-section .swiper-slide {
    width: 200px;
    padding: 10px;
  }

  .student-attendance .student-attendance-section {
    margin-top: 10px;
  }
}
