.student-attendance {
  font-family: "Nunito";
  font-size: 20px;
  color: #343d4c;
}

.student-attendance .title {
  font-size: 32px;
  color: #ffa942;
  font-weight: 700;
}

.student-attendance .activities-schedule-section {
  overflow: hidden;
}

.student-attendance .activities-schedule-section .swiper-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.student-attendance .activities-schedule-section .swiper-slide {
  border: 2px solid #343d4c;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 300px;
  height: auto;
}

.student-attendance .activities-schedule-section .swiper-slide .schedule-title {
  font-weight: 700;
}

.student-attendance .activities-schedule-section .swiper-slide .schedule-time {
  font-size: 18px;
}
