.img-profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.title-primary {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #343D4C;
}

.title-secondary {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #717171;
}

.title-badge-primary {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #343D4C;
}

.title-badge-secondary {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #343D4C;
}

.greeting-section {
    margin-bottom: 80px;
}

.journey-card {
    width: 95px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FEF7EE;
}

.verified-label {
    background: #7FD061;
    padding: 8px 18px;
}

.rare-label {
    background: #73CCC7;
    padding: 9px 30px;
}

.epic-label {
    background: #B180B6;
    padding: 9px 32px;
}

.epic-arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #B180B6;
    margin-left: 43px;
}

.legendary-label {
    background: #F6838D;
    padding: 9px 8px;
}

.journey-section{
    margin-bottom:45px;
}

.img-badge {
    width: 93px;
    height: 93px;
}

.mini-details {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #717171;
}

.journey-card-section {
    margin-bottom: 35px;
}

.title-badge-primary {
    margin-bottom: 0rem;
}

.title-badge-secondary {
    margin-bottom: 10px;
}

.badges-main-section {
    margin-top: 85px;
}

.achievement-card {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 25px 15px;
    width: 352px;
    height: 161px;
    margin-bottom: 30px;
}

.progress {
    background-color: #9B9B9B;
    height: 0.8rem;
    width: 60%;
}

    .progress .progress-bar {
        border: none;
        background-color: #FFA942;
    }

    .progress::after {
        border: 1px solid #fff;
        border-radius: 0%;
    }

.progress-bar-section {
    margin-bottom: 45px;
}

@media (min-width: 0px) and (max-width: 575.98px) {
    .title-primary {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #343D4C;
    }

    .title-secondary {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #717171;
    }

    .progress {
        width: 100%;
    }

    .img-profile {
        width: 100px;
        height: 100px;
    }

    .journey-card {
        width: 70px;
        height: 30px;
        font-size: 12px;
        color: #FEF7EE;
    }

    .verified-label {
        padding: 6px 12px;
    }

    .rare-label {
        padding: 6px 22px;
    }

    .epic-label {
        padding: 6px 23px;
    }

    .legendary-label {
        padding: 6px 5px;
    }

    .epic-arrow-down {
        margin-left: 30px;
    }
}