.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 15px;
}

.header .title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #ffa942;
  margin: 0px;
}

.header .create-button {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  width: 250px;
  height: 50px;
  background: #4bb749;
  border-radius: 10px;
  border-style: none;
}

.create-button:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*CONTENT*/
.experience-container {
  background: #ffffff;
  border-radius: 5px;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;

  padding-bottom: 15px;
}

.xp-content {
  padding: 23px;
  display: flex;
}

.xp-image {
  width: 230px;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.xp-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #ffa942;
  margin: 0px;
}

.xp-description {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  margin: 0px;
}

.xp-context {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.xp-category {
  display: flex;
  align-items: center;
}

.xp-context img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.xp-context span {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  color: #ffffff;
  padding-top: 7px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 7px;
  background: #343d4c;
  border-radius: 50px;
}

hr {
  color: #d9d9d9;
  margin: 0;
}

.xp-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 13px;
  margin-left: 23px;
  margin-right: 25px;
  margin-bottom: 0px;
}

.active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 5px;
  font-family: "Nunito";
  font-size: 14px;
  color: #343d4c;
  font-weight: 500;
}

.check-button {
  border-style: none;
  background-color: none;
  padding: 0px;
}

.active span {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #343d4c;
}

.update-button {
    width: 100px;
    height: 40px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    background: var(--primary);
    border-radius: 5px;
    border-style: none;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

.delete-button {
    width: 100px;
    height: 40px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    background: #dc3545;
    border-radius: 5px;
    border-style: none;
    text-align: center;
}

.update-button:hover, .delete-button:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

a {
  line-height: 40px;
  text-decoration: none;
}

.announcement {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  background-color: #f3f6fc;
  border-radius: 5px;
  padding: 1.5rem 2rem;
}

.announcement span {
  color: var(--primary);
}
.img-inprogress {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 15px;
  }

  .header .title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #ffa942;
    margin-bottom: 10px;
  }

  .header .create-button {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    width: 100%;
    height: 50px;
    background: #4bb749;
    border-radius: 10px;
    border-style: none;
  }
}

/* For Mobile Portrait View */
@media screen and (max-width: 767px) and (orientation: portrait) {
  .announcement {
    margin-top: 1rem;
    padding: 10px;
    flex-direction: column;
    align-items: baseline;
  }

  .announcement button {
    margin-top: 20px;
  }

  .announcement p {
    font-size: 14px;
  }

  .announcement img {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-top: 1rem;
  }

  .header .title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #ffa942;
    margin-bottom: 10px;
  }

  .header .create-button {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    width: 100%;
    height: 50px;
    background: #4bb749;
    border-radius: 10px;
    border-style: none;
  }

  .experience-container {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding-bottom: 15px;
  }

  .announcement {
    margin-left: 0;
    margin-right: 0;
  }

  .xp-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  .xp-image {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 0px;
    margin-bottom: 14px;
  }

  .xp-title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #ffa942;
    margin-bottom: 9px;
  }

  .xp-description {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    margin-bottom: 14px;
  }

  .xp-context img {
    width: 25px;
    height: 25px;
  }

  .xp-context span {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    color: #ffffff;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
    background: #343d4c;
    border-radius: 50px;
  }

  .xp-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 0px;
  }

    .active {
        display: flex;
        position: relative;
        align-items: center;
        text-decoration: none;
        padding: 6px;
    }

  .active img {
    width: 25px;
    height: 25px;
  }

  .active span {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #343d4c;
  }

  .update-button {
    width: 100px;
    height: 35px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    background: var(--primary);
    border-radius: 5px;
    border-style: none;
    text-align: center;
  }

    .delete-button {
        width: 100px;
        height: 35px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
        background: #dc3545;
        border-radius: 5px;
        border-style: none;
        text-align: center;
    }

  a {
    line-height: 35px;
  }
}
