.header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 15px;
}

.header .title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #ffa942;
  margin: 0px;
}

.user-information {
  display: flex;
  gap: 10px;
}

.header .create-button {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  width: 250px;
  height: 50px;
  background: #4bb749;
  border-radius: 50px;
  border-style: none;
}

.customer-profile-details {
  width: 100%;
}

.create-button:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.dashboard-header {
  margin-top: 2rem;
}

.dashboard-wrapper {
  display: flex;
  gap: 10px;
  justify-items: center;
  margin-right: 55px;
  margin-left: 40px;
}

.experience-box {
  display: flex;
  flex-direction: column;
  background: none;
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
  border: 1px solid #d9d9d9;
  box-shadow: 2px 4px 6px 0px #717171;
}

.earnings-link {
  line-height: 15px;
  color: #ffa942;
  text-decoration: underline;
}

.schedule-description {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 700;
  color: #343d4c;
  max-width: 350px;
}

p {
  margin: 0px;
}

.earning-icon {
  width: 35px;
  height: 36px;
}

.enrollees-icon {
  width: 48px;
  height: 36px;
}

.calendar-icon {
  width: 33px;
  height: 36px;
}

.title {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 500;
  color: #343d4c;
}

.amount {
  font-family: Nunito;
  font-size: 36px;
  font-weight: 900;
  color: #343d4c;
}

.description {
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  color: #717171;
}

.dashboard-tab {
  margin-top: 1rem;
}

.dashboard-tab-wrapper {
  margin-top: 2rem;
  margin-left: 40px;
  background: none;
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
  border: 1px solid #d9d9d9;
}

.profile-wrapper {
  margin-top: 2rem;
  background: none;
  border-radius: 25px;
  padding: 10px;
  z-index: 1;
  border: 1px solid #d9d9d9;
  display: flex;
}
.profile-details {
  display: flex;
}
.progress-bar-section {
  display: block;
}
.progress-item {
  display: flex;
  justify-content: space-between;
}
.faqs-wrapper {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background: none;
  border-radius: 25px;
  padding: 15px;
  z-index: 1;
  border: 1px solid #d9d9d9;
}

.faqs-title {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
  color: #343d4c;
}

.answers {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  color: #717171;
  text-align: justify;
}

.link-question {
  text-decoration: underline;
  color: #343d4c;
  margin-bottom: 5px;
  line-height: 40px;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.link-question:hover {
  color: #ffa942;
}

.profile-info-input > .form-control {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 0.3;
}

.profile-info-input label {
  padding-top: 0.5rem;
}

/*CONTENT*/
.experience-container {
  background: #ffffff;
  border-radius: 5px;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.xp-content {
  padding: 23px;
  display: flex;
}

.xp-image {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.xp-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #343d4c;
  margin: 0px;
  text-transform: capitalize;
  line-height: 1.1;
  margin-bottom: 8px;
}

.xp-description {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  margin: 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
  color: #717171;
}

.xp-context {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.xp-category {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.xp-context img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.xp-context span {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  color: #ffffff;
  padding-top: 5px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 5px;
  background: #343d4c;
  border-radius: 50px;
}

hr {
  color: #d9d9d9;
  margin: 0;
}

.xp-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
  margin-left: 23px;
  margin-right: 25px;
  margin-bottom: 0px;
}

.active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 5px;
  font-family: "Nunito";
  font-size: 14px;
  color: #343d4c;
  font-weight: 500;
}

.check-button {
  border-style: none;
  background-color: none;
  padding: 0px;
}

.active span {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  /*color: #343d4c;*/
}

.update-button {
  width: 100px;
  height: 40px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  border-radius: 5px;
  border-style: none;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  line-height: 40px;
  text-decoration: none;
}

.delete-button {
  width: 100px;
  height: 40px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background: #dc3545;
  border-radius: 5px;
  border-style: none;
  text-align: center;
}

.update-button:hover,
.delete-button:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.announcement {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  background-color: #f3f6fc;
  border-radius: 5px;
  padding: 1.5rem 2rem;
}

.announcement span {
  color: var(--primary);
}

.img-inprogress {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.user-name {
  margin-top: 1.5rem;
  font-family: Nunito;
  font-size: 16px;
  color: #343d4c;
  font-weight: 700;
}

.profile-badges {
  margin-top: 1.5rem;
}

.profile-img {
  margin: 15px;
  width: 70px;
  height: 70px;
}

.verified-text {
  margin-top: 0.2rem;
  margin-left: 0.5rem;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  color: #34a853;
}
.user-information {
  margin-bottom: 2rem;
}
.customer-profile-card {
  box-shadow: 0 0 10px -5px rgb(0 0 0 / 50%);
}
.dashboard-details-tab {
  margin-left: 32px;
}
::deep .dashboard-details-tab .tab-content > .active {
  border: 1px solid #d9d9d9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
::deep .dashboard-details-tab .nav {
  display: flex;
  justify-content: space-between;
}
::deep .dashboard-details-tab .nav-tabs {
  border-bottom: none;
}
::deep .dashboard-details-tab .nav-tabs .nav-link {
  color: #343d4c;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
}
::deep .dashboard-details-tab .nav-tabs .nav-link.active {
  color: #343d4c;
  background-color: white;
  text-decoration: underline 3px solid #ffa942;
  text-underline-position: under;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/*Badges*/
.journey-card {
  width: 95px;
  height: 40px;
  border-radius: 5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #fef7ee;
}
.verified-label {
  background: #ffa942;
  padding: 8px 18px;
}

.rare-label {
  background: #9dc08b;
  padding: 9px 30px;
}
.epic-arrow-down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #8fc3f3;
  margin-left: 43px;
}

.epic-label {
  background: #8fc3f3;
  padding: 9px 32px;
}
.legendary-label {
  background: #a95d5d;
  padding: 9px 8px;
}
.row > * {
  padding-right: 0;
  padding-left: 0;
}
.journey-card-section {
  justify-content: center;
  justify-items: center;
  margin-left: 1.5rem;
}
.dashed-line {
  margin: 10px 4px 0 4px;
  height: 2px;
  width: 100%;
  background: repeating-linear-gradient(90deg, #717171 0 5px, #0000 0 7px);
  /*5px red then 2px transparent -> repeat this!*/
}

.badge-type-1 {
  width: 62px;
  height: 26px;
  padding: 2px, 4px, 2px, 4px;
  border-radius: 2px;
  background-color: #b2aee3;
  text-align: center;
  color: white;
}

.badge-type-2 {
  width: 62px;
  height: 26px;
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
  color: white;
  text-align: center;
  background-color: #f6838d;
}
.badge-text {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  color: #343d4c;
}
.progress-bar-section {
  margin-top: 1rem;
}
.progress-bar-section .progress {
  margin-top: 5px;
  background-color: #dddcec;
  height: 35px;
  width: 100%;
  border-radius: 55px;
  position: relative;
}
.progress-text {
  position: absolute;
  font-size: 14px;
  font-family: Nunito;
  font-weight: 700;
  text-align: center;
  line-height: 35px;
  overflow: hidden;
  color: #fff;
  right: 0;
  left: 0;
  top: 0;
}
.progress-bar-section .progress .progress-bar {
  border: none;
  background-color: #b2aee3;
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.progress-bar-section .progress::after {
  border: 1px solid #fff;
  border-radius: 0%;
  text-align: center;
}
.profile-pic {
  position: relative;
}
.verified-logo {
  position: absolute;
  right: 20px;
  top: 67px;
  width: 20px;
  height: 20px;
}
.personal-tab-swiper .swiper-slide {
  width: auto !important;
}

.personal-tab-swiper .swiper-slide .tab-item {
  padding: 1rem 1rem;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  outline: none;
  border: none;
  cursor: pointer;
}

.personal-tab-swiper .swiper-slide .tab-item.active {
  background-color: white;
  color: #343d4c;
  text-decoration: underline 3px solid #ffa942;
  text-underline-position: under;
  outline: none;
  border: none;
}

.personal-tab-swiper .swiper-slide .tab-item:hover {
  outline: none;
  border: none;
  color: #343d4c;
}

/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .dashboard-tab {
    margin: 0;
  }

  .dashboard-wrapper {
    display: block;
    margin-right: 0;
    margin-left: 0;
  }

  .experience-box {
    margin-bottom: 1rem;
  }

  .announcement {
    margin-right: 0px;
    margin-left: 0px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 15px;
  }

  .header .title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #ffa942;
    margin-bottom: 10px;
  }

  .header .create-button {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    width: 100%;
    height: 50px;
    background: #4bb749;
    border-radius: 50px;
    border-style: none;
  }

  .dashboard-tab-wrapper {
    margin-left: 0px;
    border: 0px;
    margin-top: 0px;
  }

  .user-information {
    display: block;
  }
  .dashboard-details-tab {
    margin-top: 1rem;
    padding: 0;
    margin-left: -10px;
  }
  ::deep .dashboard-details-tab .tab-content > .active {
    border: none;
  }
}

/* For Mobile Portrait View */
@media screen and (max-width: 767px) and (orientation: portrait) {
  .profile-wrapper {
    display: block;
  }
  ::deep .dashboard-details-tab .nav.nav-tabs {
    display: none;
  }
  .user-information {
    display: block;
  }

  .dashboard-tab[b-fvlah8iz30] {
    margin-top: 0;
  }

  .dashboard-tab-wrapper {
    margin-left: 0px;
    border: 0px;
    margin-top: 0px;
  }

  .dashboard-header {
    margin-top: 1rem;
  }

  .dashboard-wrapper {
    display: block;
    margin-right: 0;
    margin-left: 0;
  }

  .experience-box {
    margin-bottom: 0.5rem;
  }

  .announcement {
    margin-top: 1rem;
    padding: 10px;
    flex-direction: column;
    align-items: baseline;
  }

  .announcement button {
    margin-top: 20px;
  }

  .announcement p {
    font-size: 14px;
  }

  .announcement img {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-top: 1rem;
  }

  .header .title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #ffa942;
    margin-bottom: 10px;
  }

  .header .create-button {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    width: 100%;
    height: 50px;
    background: #4bb749;
    border-radius: 50px;
    border-style: none;
  }

  .experience-container {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding-bottom: 15px;
  }

  .announcement {
    margin-left: 0;
    margin-right: 0;
  }

  .xp-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  .xp-image {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 0px;
    margin-bottom: 14px;
  }

  .xp-title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #343d4c;
    margin-bottom: 9px;
  }

  .xp-description {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
  }

  .xp-context img {
    width: 25px;
    height: 25px;
  }

  .xp-context span {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    color: #ffffff;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
    background: #343d4c;
    border-radius: 50px;
  }

  .xp-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 0px;
  }

  .active {
    display: flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    padding: 6px;
  }

  /*.active img {
    width: 20px;
    height: 20px;
  }*/

  .active span {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /*color: #343d4c;*/
  }

  .update-button {
    width: 80px;
    height: 35px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    background: var(--primary);
    border-radius: 5px;
    border-style: none;
    text-align: center;
  }

  .delete-button {
    width: 70px;
    height: 35px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    background: #dc3545;
    border-radius: 5px;
    border-style: none;
    text-align: center;
  }

  a {
    line-height: 35px;
  }

  .verified-logo {
    width: 20px;
    height: 20px;
  }

  .verified-text {
    font-size: 18px;
  }

  .profile-wrapper {
    margin-top: 1rem;
  }
  ::deep .dashboard-details-tab .tab-content > .active {
    border: none;
  }
  .dashboard-details-tab {
    margin-top: 1rem;
    padding: 0;
    margin-left: -10px;
  }
  .journey-card {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    color: #fef7ee;
  }

  .verified-label {
    background: #ffa942;
    padding: 8px 6px;
  }

  .rare-label {
    background: #9dc08b;
    padding: 8px 13px;
  }

  .epic-arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #8fc3f3;
    margin-left: 30px;
  }

  .epic-label {
    background: #8fc3f3;
    padding: 8px 14px;
  }

  .legendary-label {
    background: #a95d5d;
    padding: 8px 0px;
  }
  .profile-wrapper {
    border-right: none;
    border-left: none;
    border-top: 1px solid #d9d9d9;
    border-radius: 0;
  }
  .faqs-wrapper {
    border: none;
  }
  .progress-bar-section {
    margin-top: 0rem;
  }
  .progress-item {
    margin-bottom: 0.5rem;
  }
  .badge-text {
    margin-top: 0.5rem;
  }
  .profile-img {
    margin: 15px 15px 15px 0px;
    width: 70px;
    height: 70px;
  }
}

.xp-image-container {
  width: 30%;
}

.xp-context-container {
  width: 70%;
  padding-left: 20px;
}

@media only screen and (max-width: 715px) {
  .xp-image-container {
    width: 100%;
  }

  .xp-context-container {
    width: 100%;
    padding-left: 0;
  }
}
