input:focus {
    outline: none !important;
    box-shadow: none !important;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

::deep button {
    transition: transform .25s;
}

    ::deep button:active {
        transform: scale(.94);
    }
.direct-students-wrapper {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.title-section {
    display: flex;
    gap: 10px;
}

.back-button {
    background-color: transparent;
    border: none;
    width: 28px;
    height: 28px;
    margin-top: 4px;
}

.back-text {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 900;
    color: #343D4C;
}
.text-description {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
    color: #717171;
    margin-top: 5px;
    margin-left: 2rem;
    max-width: 80%;
}
.information-section {
    margin-left: 2rem;
    margin-top: 2rem;
}
.activity-section {
    margin-left: 2rem;
    margin-top: 2rem;
}
.student-info-title {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 900;
    color: #343D4C;
}
.student-name {
    font-family: Nunito;
    font-size:16px;
    font-weight: 900;
    color: #343D4C;
    margin-bottom: 5px;
}
.other-info {
    display: flex;
    justify-content:space-between;
}
::deep .text-box {
    font-family: Nunito;
    font-size: 16px;
    color: #717171;
}
::deep .form-select {
    font-family: Nunito;
    font-size: 16px;
    color: #717171;
}
::deep .divider {
    margin-left: 2rem;
    margin-bottom: 2rem;
    width: 33.5%;
}
::deep .payment-input {
    font-family: Nunito;
    font-size: 16px;
    color: #717171;
}
.btn-action {
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-left: 40px;
}
.btn-add {
    width: 117px;
    height: 48px;
    border-radius: 8px;
    background-color: #F3F6FC;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 500;
    color: #343D4C;
    border: none;
}
.btn-save{
    width: 117px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--primary);
    font-family: Nunito;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border:none;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .information-section {
        margin-left: 0rem;
        margin-top: 2rem;
    }

    .activity-section {
        margin-left: 0rem;
        margin-top: 2rem;
        margin-top: 2rem;
    }
    .direct-students-wrapper {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 20px;
    }
    .text-description {
        margin-left: 0px;
        max-width:100%;
        text-align: justify;
    }
    .back-button{
        display: none;
    }
    ::deep .divider {
        margin-left: 0rem;
        width: 100%;
    }
    .btn-action {
        display: flex;
        gap: 20px;
        justify-content: end;
        margin-left: 0px;
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    ::deep .divider {
        margin-left: 2rem;
        width: 66%;
    }
    .text-description {
        max-width: 100%;
        text-align: justify;
    }
}