.maker-events-wrapper {
    color: #343d4c;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

    .header .title {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        color: #ffa942;
        margin: 0px;
    }
