.maker-events-wrapper {
    color: #343d4c;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 3.2rem;
}

    .header .title {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        color: #ffa942;
        margin: 0px;
    }
.event-wrapper {
    margin-top: 2rem;
    background: none;
    border-radius: 15px;
    padding: 10px;
    z-index: 1;
    border: 1px solid #717171;
}
.event-content {
    gap: 20px;
}
.event-image {
    width: 138px;
    height: 172px;
    border-radius: 10px;
    object-fit: cover;
}
.event-row {
    justify-content: space-around;
}
.ticket-details {
    border-top: 1px solid #717171;
    margin-top: 0.5rem;
    display: flex;
    padding-top: 10px;
}
    .ticket-details p {
        margin-bottom: 0;
        flex-wrap: wrap;
        margin-right: 1rem;
    }
.ticket-slots {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    color: #343D4C;
}
.ticket-sold {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    color: #AD0C0C;
}
.ticket-available {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    color: #5F906A;
}
.event-title {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    color: #343D4C;
}
.event-schedule, .event-location {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    color: #343D4C;
    line-height:10px;
}
.view-details {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    color: white;
    background: var(--primary);
    border: none;
}


