

@media (min-width: 0px) and (max-width: 575.98px) {
    .heading {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        color: #343D4C;
        margin-bottom: 46px;
        margin-top: 64px;
    }

    .app-name {
        font-family: 'Backline';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 85px;
        color: #FFA942;
    }

    .app-name-section {
        margin-bottom: 30px
    }

    .btn-caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #343D4C;
    }

    .btn-section, .btn-carousel-section {
        padding: 0px 0px 20px 0px;
    }

    .caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #717171;
    }

    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */ {
        filter: invert(100%);
    }

    .swiper-slide.faq[style] {
        width: 325px !important;
        margin-right: 15px !important;
    }

    .swiper-slide.terms[style] {
        width: 240px !important;
        margin-right: 15px !important;
    }

    .swiper-slide.policy[style] {
        width: 185px !important;
        margin-right: 15px !important
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .heading {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        color: #343D4C;
        margin-bottom: 46px;
        margin-top: 64px;
    }

    .app-name {
        font-family: 'Backline';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 85px;
        color: #FFA942;
    }

    .app-name-section {
        margin-bottom: 30px
    }

    .btn-caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #343D4C;
    }

    .btn-section, .btn-carousel-section {
        padding: 0px 0px 20px 0px;
    }

    .caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #717171;
    }

    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */ {
        filter: invert(100%);
    }

    .swiper-slide.faq[style] {
        width: 325px !important;
        margin-right: 15px !important;
    }

    .swiper-slide.terms[style] {
        width: 240px !important;
        margin-right: 15px !important;
    }

    .swiper-slide.policy[style] {
        width: 185px !important;
        margin-right: 15px !important
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .heading {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        color: #343D4C;
        margin-bottom: 46px;
        margin-top: 64px;
    }

    .app-name {
        font-family: 'Backline';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 85px;
        color: #FFA942;
    }

    .app-name-section {
        margin-bottom: 30px
    }

    .btn-caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #343D4C;
    }

    .btn-section, .btn-carousel-section {
        padding-bottom: 20px;
    }

    .caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #717171;
    }

    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */ {
        filter: invert(100%);
    }

    .swiper-slide.faq[style] {
        width: 325px !important;
        margin-right: 15px !important;
    }

    .swiper-slide.terms[style] {
        width: 240px !important;
        margin-right: 15px !important;
    }

    .swiper-slide.policy[style] {
        width: 185px !important;
        margin-right: 15px !important
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .heading {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        color: #343D4C;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .app-name {
        font-family: 'Backline';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 85px;
        color: #FFA942;
    }

    .app-name-section {
        margin-bottom: 30px
    }

    .btn-caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #343D4C;
    }

    .btn-section, .btn-carousel-section {
        padding-bottom: 20px;
    }

    .caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #717171;
    }

    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */ {
        filter: invert(100%);
    }

    .swiper-slide.faq {
        width: 325px;
        margin-right: 17px
    }

    .swiper-slide.terms {
        width: 240px;
        margin-right: 17px
    }

    .swiper-slide.policy {
        width: 185px;
        margin-right: 17px
    }
}

@media (min-width: 1200px) {
    .heading {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        color: #343D4C;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .app-name {
        font-family: 'Backline';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 85px;
        color: #FFA942;
    }

    .app-name-section {
        margin-bottom: 30px
    }

    .btn-caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #343D4C;
    }

    .btn-section, .btn-carousel-section {
        padding-bottom: 20px;
    }

    .caption {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #717171;
    }

    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */ {
        filter: invert(100%);
    }

    .swiper-slide.faq {
        width: 325px;
        margin-right: 17px
    }

    .swiper-slide.terms {
        width: 240px;
        margin-right: 17px
    }

    .swiper-slide.policy {
        width: 185px;
        margin-right: 17px
    }
}
