.heading {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #343D4C;
    margin-bottom: 50px
}

.app-name {
    font-family: 'Backline';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 85px;
    color: #FFA942;
}

.app-name-section{
    margin-bottom:30px
}

.btn-caption {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #343D4C;
}

.btn-section {
    padding-bottom:20px;
}

.caption {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #717171;
}