::deep .update-button {
    background-color: var(--primary);
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}
::deep .table-header {
    background-color: #343D4C;
    height: 70px;
    color: white;
    text-align: left;
    font-family: 'Nunito';
    font-size: 20px;
    line-height: 50px;
}
::deep .table-active {
    background-color: #4BB749; 
    color: white;
    text-align: center;
    width: 64px;
    height: 27px;
    border-radius: 30px;
    font-size: 14px;
    line-height: 25px;
}
::deep .table-body{
    border: 1px solid gray;
}
::deep .table-row{
    font-family:'Nunito';
    font-size: 20px;
    text-align: left;
    line-height: 50px;
}
