

/*HEADER*/
.header {
    display: flex;
    font-family: 'Nunito';
    align-items: center;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.header-title {
    margin: 0;
    padding-left: 5px;
}

.back-button{
    height: 50px;
    width:50px;

}
.back-button img {
    height: 50px;
    width: 50px;
}

.student-details-container {
    background-color: #343D4C;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.student-details {
    background-color: #343D4C;
    color: #FFFFFF;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom:10px;
    width: 100%;
    
}

.student-details-major {
    display: flex;
    flex-direction:column;
    /*justify-content: space-between;*/
}


    .student-details p {
        margin: 0px;
        padding-top: 5px;
        padding-bottom: 0px;
        color: #D9D9D9;
    }

    .student-details span {
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 24px;
        color: #FFFFFF;
    }
.text-remarks {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.days-present {
    color: #4BB749 !important;
}






/*INSTRUCTION*/
.instruction {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.instruction-image {
    margin-right: 5px;
}

.instruction p {
    margin: 0px;
}

.word {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    color: #343D4C;
}

.word::before {
    color: #4BB749;
    content: "GREEN CIRCLE ";
}







/*CALENDAR*/
.calendar {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px #D9D9D9;
    border-radius: 10px;

    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px !important;
}


.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px 
}

.calendar-header-details {
    color: #343D4C;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 36px;
    margin: 0px;

    
}

.arrow-right,.arrow-left{
    height: 60px;
    width: 60px;

}

.arrow-right img, .arrow-left img {
    height: 60px;
    width: 60px;
}



.arrow-right,.arrow-left,.back-button {
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    border-radius: 50px;
    
}


    .arrow-right:hover img {
        filter: brightness(0) invert(1);
    }

    .arrow-right:hover {
        background: var(--primary);
    }

    .arrow-left:hover img {
        filter: brightness(0) invert(1);
    }

    .arrow-left:hover {
        background: var(--primary);
    }

    .back-button:hover img {
        filter: brightness(0) invert(1);
    }

    .back-button:hover {
        background: var(--primary);
    }


hr {
    color: #FFFFFF;
}


.calendar-days {
    align-items: center;
    color: var(--primary);
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    height: 50px !important;
}


section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    font-family: 'Nunito';
    font-weight: 500;
    font-size: 24px;

    
}

section > div {
    /*border: 1px solid black;*/
    text-align: center;
    padding: 10px;
    color: #343D4C;
    height: 80px;
    
   
}


.calendar-dates {
    margin: 0px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:36px;
    border-radius: 50px;
}

 
    .calendar-dates:hover {
        background: var(--primary);
        color: #FFFFFF;
    }

.btn-date {
    border: none;
    background-color: #4BB749;
    color: white;
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 500;
    transform: translate(-65%, -65%);
    width: 36px;
    border-radius: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
}









/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .calendar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0px;
        padding-right: 0px;
    }

    .student-details-major {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .student-details {
        background-color: #343D4C;
        color: #FFFFFF;
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 24px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        width: 100%;
    }



    .calendar {
        background: #FFFFFF;
        box-shadow: 0px 4px 20px #D9D9D9;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px !important;
    }

    .calendar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .calendar-days {
        align-items: center;
        color: var(--primary);
        font-family: 'Nunito';
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        height: 50px !important;
    }

    .calendar-dates {
        margin: 0px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        border-radius: 50px;
    }

    section {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        font-family: 'Nunito';
        font-weight: 500;
        font-size: 20px;
    }

        section > div {
            /*border: 1px solid black;*/
            text-align: center;
            padding: 10px;
            color: #343D4C;
            height: 80px;
        }
}





/* For Mobile Portrait View */
    @media screen and (max-width: 767px) and (orientation: portrait) {



        /*HEADER*/
        .header {
            display: flex;
            color: var(--primary);
            font-family: 'Nunito';
            font-weight: 700;
            font-size: 20px;
            align-items: center;
            margin-top: 30px;
            margin-left: 0px;
            margin-right: 12px;
            margin-bottom: 20px;
        }

        .header-title {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            margin: 0;
            padding-left: 0px;
        }

        .back-button img {
            width: 30px;
            height: 30px;
        }
    



    .student-details-container {
        background-color: #343D4C;
        border-radius: 5px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .student-details {
        background-color: #343D4C;
        color: #FFFFFF;
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 13px;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 12px;
        width: 100%;
    }

    .student-details-major {
        display: flex;
        flex-direction: column;
    }

        .student-details p {
            margin: 0px;
            padding-top: 5px;
            padding-bottom: 5px;
        }



    .student-details span {
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    .text-remarks {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
    }




    .text-remarks {
        font-size: 13px;
    }
    .days-present {
        color: #4BB749;
    }






    /*INSTRUCTION*/
    .instruction {
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .instruction-image {
        margin-right: 5px;
    }

    .instruction-image img {
        width: 24px;
        height: 24px;
    }

    .instruction p {
        margin: 0px;
    }

    .word {
        font-family: 'Nunito';
        font-weight: 400;
        font-size: 12px;
        color: #343D4C;
    }

    .word::before {
        color: #4BB749;
        content: "GREEN CIRCLE ";
    }






    /*CALENDAR*/
    .calendar {
        background: #FFFFFF;
        box-shadow: 0px 4px 20px #D9D9D9;
        border-radius: 5px;

        margin-top: 15px !important;
        margin: 12px;
        padding:15px;
        padding-bottom: 10px !important;
    }


    .calendar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 13px;
    }

    .calendar-header-details {
        color: #343D4C;
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 20px;
    }


    .arrow-right, .arrow-left {
        outline: none;
        border: none;
        text-decoration: none;
        box-sizing: border-box;
        width: 30px !important;
        height: 30px !important;
        margin: 0px;
        padding: 0px;
        background-color: #FFFFFF;
        border-radius: 50px;
    }

        .arrow-right img, .arrow-left img{
            width:30px !important;
            height:30px !important;
        }


        .arrow-right:hover img {
            filter: brightness(0) invert(1);
        }

        .arrow-right:hover {
            background: var(--primary);
        }

        .arrow-left:hover img {
            filter: brightness(0) invert(1);
        }

        .arrow-left:hover {
            background: var(--primary);
        }



    .calendar-days {
        align-items: center;
        color: var(--primary);
        font-family: 'Nunito';
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        height: 30px !important;
    }






    section {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        font-family: 'Nunito';
        font-weight: 500;
        font-size: 12px;
    }

    hr {
        color: #FFFFFF;
        display:none;
    }

    section > div {
        /*border: 1px solid black;*/
        text-align: center;
        padding: 0px;
        color: #343D4C;
        height: 36px;
    }



    .calendar-dates {
        margin: 0px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border-radius: 50px;
    }



        .calendar-dates:hover {
            background: var(--primary);
            color: #FFFFFF;
        }


    .calendar-body {
        min-width: 0;
        min-height:0;
        overflow:hidden;
    }

        .btn-date {
            border: none;
            background-color: #4BB749;
            font-size: 12px;
            font-family: 'Nunito';
            font-weight: 500;
            transform: translate(-65%, -65%);
            width: 20px;
            height: 20px;
            border-radius: 50px;
            margin-left: 25px;
            margin-bottom: 8px;
        }

}
