::deep .datagrid-data {
    font-family: 'Nunito';
    font-size: 20px;
    margin-top: 2rem;
    background-color: #343D4C;
    color:white;
}
::deep thead{
    height: 4rem;
}
::deep th{
    line-height: 50px;
}
::deep tbody {
    background-color: white;
    color: #343D4C;
    line-height: 50px;
}
::deep .search-bar {
    width: 250px;
    height: 40px;
    background-color: #F3F6FC;
    border-radius: 10px;
    margin-left: 50rem;
    font-size: 18px;
    font-family: 'Nunito';
}
::deep .dropdown-select {
    width: 256px;
    height: 40px;
    border-radius: 10px;
    background-color: #F3F6FC;
    color: #FFA942;
    font-size: 18px;
    font-family: 'Nunito';
}
.font-16 {
    font-size: 16px !important;
}
.text-color-8080 {
    color: #525252;
}
::deep .btn-update {
    height: 3rem;
    border-radius: 20px;
    font-size: 18px;
    font-family:'Nunito';
}
::deep .btn-edit {
    height: 3rem;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Nunito';
    width: 7rem;
}
::deep .btn-save {
    height: 3rem;
    border-radius: 20px;
    width: 6rem;
    font-size: 18px;
    font-family: 'Nunito';
}

::deep .btn-cancel {
    height: 3rem;
    border-radius: 20px;
    width: 6rem;
    font-size: 18px;
    font-family: 'Nunito';
}
