input:focus {
    outline: none !important;
    box-shadow: none !important;
}
button:focus {
    outline: none !important;
    box-shadow: none !important;
}
::deep button {
    transition: transform .25s;
}

    ::deep button:active {
        transform: scale(.94);
    }
.enrollee-materlist-wrapper{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.title-section {
    display: flex;
    gap: 10px;
}
.back-button{
    background-color: transparent;
    border: none;
    width: 28px;
    height: 28px;
    margin-top: 4px;
}
.back-text {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 900;
    color: #343D4C;
}
.search-section{
    display: flex;
    justify-content: space-between;
}
.btn-add {
    left: 40px;
    padding: 10px;
    border-radius: 8px;
    background-color: #4BB749;
    color: #FFFFFF;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    border: none;
}
::deep .search-bar {
    width: 280px;
    height: 40px;
    background-color: white;
    color: #717171;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Nunito';
    margin-right: 10px;
    border: 1px solid #D9D9D9;
}
.direct-student-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

::deep th {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    background-color: #343D4C;
    color: #FFFFFF;
    height: 60px;
    padding: 10px 20px 10px 20px;
}
::deep .action-header, gender-header, age-header {
    text-align: center;
}

::deep .update, age-body, gender-body {
    text-align: center;
}

::deep tr {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #343D4C;
    height: 80px;
    vertical-align: middle;
}

::deep td {
    padding: 20px;
}

::deep .btn-update {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
}
/*TABLE BORDER CSS*/
::deep table {
    margin: auto;
    padding: 0px;
    border-collapse: separate;
    border-spacing: 0;
    padding: 0px;
    outline: 1px solid #000000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

::deep tr:last-child td:first-child {
    border-bottom-left-radius: 0px;
}

::deep tr:last-child td:last-child {
    border-bottom-right-radius: 0px;
}

/* For Mobile Portrait View */
@media screen and (max-width: 767px) and (orientation: portrait) {
    .enrollee-materlist-wrapper {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 20px;
    }
    .search-section{
        display: block;
    }
    .btn-add{
        width: 100%;
        margin-bottom: 0.5rem;
    }
    ::deep .search-bar {
        width: 100%;
    }
    .back-text{
        font-size: 20px;
    }
    /*TABLE CSS*/
    ::deep thead {
        display: none;
    }
    ::deep td {
        display: block;
        width: 100%;
    }
    ::deep tr {
        display: block;
        width: 100%;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #343D4C;
        height: 100%;
        vertical-align: middle;
    }
    ::deep td.name-body {
        background-color: #343D4C;
        color: #FFFFFF;
        font-size: 16px;
    }
        ::deep td.name-body::before {
            content: "Name:";
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: #FFFFFF;
            padding-right: 10px;
        }
    ::deep td.age-body {
        font-size: 16px;
    }
        ::deep td.age-body::before {
            content: "Age:";
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: #343D4C;
            padding-right: 5px;
        }
    ::deep td.gender-body {
        font-size: 16px;
    }

        ::deep td.gender-body::before {
            content: "Gender:";
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: #343D4C;
            padding-right: 5px;
        }
}
