input:focus {
  outline: none !important;
  box-shadow: none !important;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

::deep button {
  transition: transform 0.25s;
}

::deep button:active {
  transform: scale(0.94);
}
.direct-students-wrapper {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.title-section {
  display: flex;
  gap: 10px;
}

.back-button {
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
  margin-top: 4px;
}

.back-text {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 900;
  color: #343d4c;
}
.text-description {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  color: #717171;
  margin-top: 5px;
  margin-left: 2rem;
  max-width: 80%;
}

.activity-section {
  margin-top: 2rem;
}
.student-info-title {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 900;
  color: #343d4c;
}
.student-name {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 900;
  color: #343d4c;
  margin-bottom: 5px;
}
.other-info {
  display: flex;
  justify-content: space-between;
}
::deep .text-box {
  font-family: Nunito;
  font-size: 16px;
  color: #717171;
}
::deep .form-select {
  font-family: Nunito;
  font-size: 16px;
  color: #717171;
}
::deep .divider {
  margin-left: 2rem;
  margin-bottom: 2rem;
  width: 33.5%;
}
::deep .payment-input {
  font-family: Nunito;
  font-size: 16px;
  color: #717171;
}
.btn-action {
  display: flex;
  justify-content: end;
}
.btn-add {
  width: 117px;
  height: 48px;
  border-radius: 8px;
  background-color: #f3f6fc;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 500;
  color: #343d4c;
  border: none;
}
.btn-save {
  width: 117px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--primary);
  font-family: Nunito;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: none;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .activity-section {
    margin-left: 0rem;
    margin-top: 2rem;
    margin-top: 2rem;
  }
  .direct-students-wrapper {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
  }
  .text-description {
    margin-left: 0px;
    max-width: 100%;
    text-align: justify;
  }
  .back-button {
    display: none;
  }
  ::deep .divider {
    margin-left: 0rem;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  ::deep .divider {
    margin-left: 2rem;
    width: 66%;
  }
  .text-description {
    max-width: 100%;
    text-align: justify;
  }
}

.direct-students-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 530px) {
  .direct-students-container {
    width: 100%;
  }
}
