.order-banner {
  font-family: "Nunito";
  color: #343d4c;
  margin-top: 5rem;
}

.order-banner-h1 {
  font-family: "Nunito-Bold";
  font-size: 62px;
}

.cinnamon-banner-text {
  color: var(--primary);
  font-family: "Backline";
}

.schedule-ordered {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 220px;
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #f3f6fc;
}

@media only screen and (max-width: 750px) {
  .order-banner-h1 {
    font-size: 32px;
  }
}
