.order-banner {
  font-family: "Nunito";
  color: #343d4c;
  margin-top: 5rem;
}

.order-banner-h1 {
  font-family: "Nunito-Bold";
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
}

.cinnamon-banner-text {
  color: var(--primary);
  font-family: "Backline";
  font-style: normal;
}

.schedule-ordered {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 220px;
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #f3f6fc;
}

.order-details {
  background: #fffcf9;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 380px;
  margin: 0 auto;
  margin-top: 2.5rem;
  font-family: "Nunito";
}

@media only screen and (max-width: 750px) {
  .order-banner-h1 {
    font-size: 32px;
  }

  .order-details {
    width: 95%;
  }
}
