.header {
    font-family: Nunito;
    font-size: 40px;
    font-weight: 700;
    line-height: 68px;
    text-align: center;
    color: #343D4C;
}
.cinnamon-text {
    font-family: Backline;
    font-size: 40px;
    font-weight: 400;
    line-height: 68px;
    color: #FFA942;
}
.checkout-text {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    color: #343D4C;
    margin-top: 4vw;
}
::deep .view-link {
    width: 268px;
    height: 57px;
    padding: 15px, 60px, 15px, 60px;
    border-radius: 30px;
    background-color: #FFA942;
    color: #FFFFFF;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
}
::deep .home-button {
    width: 268px;
    height: 57px;
    padding: 15px, 60px, 15px, 60px;
    border-radius: 30px;
    background-color: transparent;
    color: #717171;
    border: 1px solid #717171;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
}
.cancellation{
    margin-top: 2rem;
}
.cancellation-text {
    font-family: Nunito;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #717171;
    max-width: 435px;
}

@media only screen and (max-width: 750px) {
    .header{
        display: none;
    }
    .checkout-text {
        margin-top: 0vw;
    }
}