.payment-confirmation-section {
    border-radius: 12px;
    background: #FFF;
    padding: 30px 24px 30px 24px;
    box-shadow: 0px 0px 48px 0px rgba(217, 217, 217, 0.60);
}

.header-section {
    display: flex;
    justify-content: space-between;
    color: #343D4C;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 23px;
}

.event-info-section {
    color: #717171;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
}

.purchase-details-text {
    color: #343D4C;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 45px;
}
.ticket-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid #D9D9D9;
    color: #343D4C;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ticket-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    color: #717171;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.other-payment-section{
    margin-top: 22px;
}
.other-details-text {
    color: #343D4C;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom:17px;
}
.other-info {
    display: flex;
    justify-content: space-between;
    color: #717171;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.view-ticket-section {
    border-radius: 12px;
    background: #FFF;
    padding: 30px 24px 30px 24px;
    box-shadow: 0px 0px 48px 0px rgba(217, 217, 217, 0.60);
}
.thank-you-text {
    max-width: 400px;
    color: #343D4C;
    text-align: center;
    font-family: Nunito;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 32px;
}
.assistance-text {
    max-width: 438px;
    color: #717171;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 50px;
}
.back-btn {
    display: flex;
    width: 147px;
    height: 48px;
    padding: 14.5px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #F3F6FC;
    color: #717171;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.view-btn {
    display: flex;
    width: 147px;
    height: 48px;
    padding: 14.5px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #34A853;
    color: #FFF;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}