::deep button:focus {
    outline: none !important;
    box-shadow: none !important;
}
::deep button {
    transition: transform .25s;
}
    ::deep button:active {
        transform: scale(.94);
    }
.apply-credits {
    transition: transform .25s;
}
    .apply-credits:active {
        transform: scale(.94);
    }
.app-name {
    color: var(--primary);
    font-family: "Backline";
    font-size: 1.3rem;
    margin-left: 3px;
}
.button-back {
    border: none;
    width: 50px;
    height: 40px;
    background-color: transparent;
    transition: transform .25s;
}
    .button-back:active {
        transform: scale(.94);
    }
.item-counter-container {
  width: 110px;
  margin-left: auto;
}

.item-counter-container[data-disabled=""] {
  background-color: #f3f6fc;
}

.item-counter-container .counter-item {
  width: 33.33%;
}

.item-counter-container[data-disabled=""] .counter-item {
  cursor: not-allowed;
}

.item-counter-container:not([data-disabled=""]) .counter-item .item-action {
  color: var(--primary);
}

.ewallet-item-img {
  min-width: 60px;
}

.line-h-1-1 {
  line-height: 1.1;
}

.service-fee-info {
  background-color: #d9d9d9;
  color: #fff;
  height: 15px;
  width: 15px;
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
}

.coupon-error-message {
  width: 200px;
  position: absolute;
  background-color: white;
  border: 1px solid #343d4c;
  top: -4.5rem;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 5px;
}

.remove-coupon-icon {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 0;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
}

.span-radio {
  width: 18px;
  display: inline-block;
}

.span-radio.selected {
  border-color: #ffa942;
  border-width: 5px;
}
.field-icon {
  position: absolute;
  top: 71.5%;
  right: 35px;
  cursor: pointer;
}

.booking-total-container {
  z-index: 99;
}

.mobile-calculator-wrapper {
  display: none;
}

.mobile-calculator-wrapper-container {
  bottom: 0;
  z-index: 50;
  box-shadow: 0px 3px 16px 0px rgba(243, 246, 252, 0.87);
}

.mobile-calculator-wrapper-container .l-width-90 {
  width: 90%;
}

.mobile-calculator-wrapper-container .l-width-5 {
  width: 5%;
}

.mobile-footer-shadow {
  border: 1px solid rgba(217, 217, 217, 1);
}

@media screen and (max-width: 767px) {
  .booking-total-container > .card {
    border: none !important;
    padding: 0 !important;
  }

  .booking-total-container > .shadow {
    box-shadow: none !important;
  }

  .mobile-calculator-wrapper {
    display: block;
  }
}
