.img-banner {
  height: 400px;
  width: 325px;
  object-fit: cover;
  display: inline;
}

.img-qrcode {
  width: 65%;
  height: auto;
  display: inline;
}

.ticket-info {
  display: flex !important;
  justify-content: center;
}

