.provider-avatar {
  width: 60px;
  height: 60px;
}
.img-banner {
  height: 400px;
  width: 325px;
  object-fit: cover;
  display: inline;
}

.img-qrcode {
  max-width: 250px;
  height: auto;
  display: inline;
}
.event-image {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
.event-image img {
  border-radius: 20px;
}
.event-schedule {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 10px;
}
.event-type img {
  width: 30px;
  height: 30px;
}
.event-details {
  margin-left: 2rem;
}
.event-title {
  font-family: Nunito;
  font-size: 32px;
  font-weight: 700;
  color: #343d4c;
}
.event-description {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  color: #717171;
}
.online-ticket-wrapper {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 2rem;
}
.header-title {
  display: flex;
  gap: 20px;
}

.header-title .title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.header-title .title img {
  width: 25px;
  height: 25px;
}

.header-title .title .link-name {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  color: #343d4c;
}
.start-in-section p {
  color: #717171;
  font-family: Nunito;
  font-size: 10px;
  font-weight: 700;
  padding: 5px;
  background-color: #d9d9d9;
  border-radius: 5px;
}
.schedule-date {
  margin-top: 0.5vw;
  margin-bottom: 0.5rem;
}
.schedule-date img,
.schedule-time img {
  width: 20px;
  height: 20px;
}
.schedule-date label,
.schedule-time label {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  color: #717171;
}
.schedule-time .ote-schedule {
  text-transform: uppercase;
}

.button-disabled {
  width: 191px;
  height: 40px;
  border-radius: 20px;
  background-color: #d9d9d9;
  border: none;
  color: #717171;
}
::deep .b-tooltip {
  width: 20%;
}
.message-me {
  width: 100%;
  background-color: transparent;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  color: #717171;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  padding: 8px;
}
.event-by {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 700;
}
.button-link {
  width: 191px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: #ffa942;
  color: #ffffff;
  text-decoration: none;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .img-banner {
    width: 100%;
  }
  .event-image img {
    border-radius: 0;
  }
  .event-schedule {
    display: none;
  }
  .event-description {
    margin-top: 1rem;
  }
  .event-details {
    margin-left: 0px;
  }
  ::deep .ticket-schedule {
    display: flex;
    flex-direction: column;
  }

  ::deep .event-column {
    order: 2; /* Change order to appear after ticket-column */
  }

  ::deep .ticket-column {
    order: 1; /* Change order to appear before event-column */
  }
  .header-title {
    display: block;
  }

  .header-title .title {
    justify-content: start;
    gap: 2px;
  }
  .start-in-section {
    width: 27%;
  }
  .start-in {
    text-align: center;
  }
  .message-me {
    z-index: 9999;
  }
}

.ticket-info {
  display: flex !important;
  justify-content: center;
}

.ticket-details {
  padding-top: 2rem;
  padding-bottom: 10px;
}

.qr-details {
  border-style: dashed;
  border-left: 1px;
  border-right: 1px;
  border-color: #343d4c;
}
