* {
  font-family: "Nunito";
}

input {
  background-color: #edf2f8;
}

.app-name {
  color: var(--primary);
  font-family: "Backline";
  font-size: 1.3rem;
  margin-left: 3px;
}

.checkbox-round {
  width: 1.1em;
  height: 1.1em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #bbbbbb;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  border-color: #ffa942;
  border-width: 5px;
}

.payment-container label {
  font-size: 0.8rem;
}

.enter-coupon {
  text-transform: capitalize;
  color: #0071c1;
  text-decoration: underline;
}

.enter-coupon:hover {
  cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    height: auto;
    padding: 5px;
    width:fit-content;
    font-size: 1.2vw;
    font-family: 'Nunito-Bold';
    border-width: 0px;
    margin:0 auto;
    border-radius:8px !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:focus {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

@media (max-width: 767px) {
  .booking-total-container > .card {
    border: none !important;
    padding: 0 !important;
  }

  .booking-total-container > .shadow {
    box-shadow: none !important;
  }

    .btn-primary {
        width: 80% !important;
        font-size: 0.9rem;
    }
}



@media screen and (min-width: 767px) {
    .btn-primary {
        font-size: 1.3vw;
    }
}

