* {
    font-family: 'Nunito';
}

input {
    background-color: #EDF2F8
}

.app-name {
    color: var(--primary);
    font-family: 'Backline';
    font-size: 1.3rem;
    margin-left:3px;
}

@media (max-width: 767px) {
    .booking-total-container > .card {
        border:none !important;
        padding:0 !important;
    }

    .booking-total-container > .shadow {
        box-shadow:none !important;
    }
}