* {
    font-family: 'Nunito';
}

input {
    background-color: #EDF2F8
}

.app-name {
    color: var(--primary);
    font-family: 'Backline';
    font-size: 1.3rem;
    margin-left:3px;
}

.checkbox-round {
    width: 1.1em;
    height: 1.1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #bbbbbb;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked{
    border-color:#ffa942;
    border-width:5px;
}


.payment-container label{
    font-size:0.8rem;
}

@media (max-width: 767px) {
    .booking-total-container > .card {
        border:none !important;
        padding:0 !important;
    }

    .booking-total-container > .shadow {
        box-shadow:none !important;
    }
}