.maker-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30PX;
    justify-items: center;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
  }

@font-face {
    font-family: 'Rockwell Bold';
    src: url('/fonts/rockwell-cufofonts/fonnts.com-Rockwell_Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
  
  @font-face {
    font-family: 'Sansita One';
    src: url('/fonts/sansita-cufonfonts/SansitaOne.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
  }

.maker-swiper-slide {
    width: fit-content !important;
}

::deep #b-animate {
    width: fit-content;
}

::deep .card {
    border: none;
    width: fit-content !important;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 47px 0px rgba(217, 217, 217, 0.60);
}

::deep .card-img-overlay {
    width: auto;
}

.pulse {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    border-radius: 50%;
    background: #00ACEE;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(52,168,83, 0.4);
    animation: pulse 1s infinite;
}

    .pulse:hover {
        animation: none;
    }

.pulse-complete {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #34A853;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(52,168,83, 0.4);
    animation: pulse 1s infinite;
}

    .pulse-complete:hover {
        animation: none;
    }

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(52,168,83, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(52,168,83, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(52,168,83, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(52,168,83, 0.4);
        box-shadow: 0 0 0 0 rgba(52,168,83, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(52,168,83, 0);
        box-shadow: 0 0 0 10px rgba(52,168,83, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(52,168,83, 0);
        box-shadow: 0 0 0 0 rgba(52,168,83, 0);
    }
}

@-webkit-keyframes pulse-complete {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(52,168,83, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(52,168,83, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(52,168,83, 0);
    }
}

@keyframes pulse-complete {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(52,168,83, 0.4);
        box-shadow: 0 0 0 0 rgba(52,168,83, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(52,168,83, 0);
        box-shadow: 0 0 0 10px rgba(52,168,83, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(52,168,83, 0);
        box-shadow: 0 0 0 0 rgba(52,168,83, 0);
    }
}

.active-badge {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: left;
    margin-bottom: 16px;
}

.star-section span {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #717171;
}

.star-tag-badge {
}

.pulse-section {
    text-align: right;
}

.title-section {
    margin-top: 10px;
}

.star-pulse-section {
}

.new-experience-label {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #717171;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 5%;
    width: fit-content;
    margin-top: 16px;
    height: 141.6px;
    margin-bottom: 20px;
}

.card-title1 {
    font-size: 18px;
    font-family: "Nunito Sans";
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    cursor: pointer;
  }

.card-title2 {
    font-size: 16px;
    font-family: "Nunito Sans";
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    cursor: pointer;
}

.address-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 12px;
  }


  .maker-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30PX;
    justify-items: center;
}


.ongoing-experience-wrapper {
    font-family: "Nunito";
    margin-top: 5rem;
}

    .ongoing-experience-wrapper .title {
        font-size: 24px;
        font-weight: 700;
        color: #343D4C;
    }

.card-experience-item {
    width: 100%;
}

    .card-experience-item .figure-container {
        border-radius: 10px !important;
    }

    .card-experience-item .name {
        font-size: 16px;
        font-weight: 600;
    }

    .card-experience-item .address {
        font-size: 14px;
        font-weight: 400;
    }

    .card-experience-item .new-tag-icon {
        width: 15px;
        height: auto;
    }

    .card-experience-item .new-tag-label {
        font-size: 14px;
        margin-left: 5px;
    }

    .card-experience-item .new-badge {
        background-color: #F8F8F8;
        border-radius: 14px;
    }

    .favorite-icon-button {
        background: none;
    }

    .favorite-icon {
        width: 22px;
        height: 22px;
    }

    .activities-card .favorite-icon {
        width: 22px;
        height: 22px;
    }

    .favorite-icon-button {
        float: right;
    }

    .activities-card .favorite-icon-button {
        float: right;
    }


@media screen and (max-width: 499px) {
    .card {
        width: 300px !important;
        height: fit-content !important;
    }

    .card-container {
        width: fit-content !important;
    }
}



@media (min-width: 500px) and (max-width: 899px) {
    .card {
        width: 338px !important; 
        height: 585px !important;
    }

    .image-header {
        width: 338px !important;
        height: 398px !important;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .card {
        width: 450px !important;
        height: 584px !important;
    }

    .image-header {
        width: 449px !important;
        height: 398px !important;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 0px) and (max-width: 575.98px) {
    .image-header {
        width: 100%;
        height: 223.39px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px 10px 0px 0px;
    }

    .img-card {
        position: relative;
    }

    .new-badge {
        margin-top: -5px;
        margin-left: -5px;
    }

    .heart-badge {
        text-align: right;
        margin-top: -5px;
    }

    .card-title1 {
        font-size: 18px;
        font-family: "Nunito Sans";
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        cursor: pointer;
    }

    .card-title2.mb-0.in-person {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #343D4C;
    }

    .card-title2.mb-0.online {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #34A853;
    }

    .card-title3 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #343D4C;
    }

    .price-badge-section {
        width: 100%;
    }

    .star-badge {
        margin-top: -3px;
    }

    .pulse, .pulse-complete {
        width: 14px;
        height: 14px;
    }

    .heart-badge-section, .activity-heart-badge-section {
        text-align: right;
    }

    .active-tag-label {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #717171;
    }

    .active-badge {
        margin-top: 11px;
    }

    .ongoing-section {
        width: 52px;
        height: 24px;
        background: #FFFFFF;
        margin-left: 100px;
        margin-top: 175px;
        display: flex;
        justify-content: center;
    }

    .pulse {
        width: 14px;
        height: 14px;
        margin-top: 2px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px){
    .image-header {
        width: 100%;
        height: 223.39px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px 10px 0px 0px;
    }

    .img-card {
        position: relative;
    }

    .new-badge {
        margin-top: -5px;
        margin-left: -5px;
    }

    .heart-badge {
        text-align: right;
        margin-top: -5px;
    }

    .card-title1 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: #344869;
    }

    .card-title2.mb-0.in-person {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #343D4C;
    }

    .card-title2.mb-0.online {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #34A853;
    }

    .card-title3 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #343D4C;
    }

    .price-badge-section {
        width: 100%;
    }

    .star-badge {
        margin-top: -3px;
    }

    .pulse, .pulse-complete {
        width: 14px;
        height: 14px;
    }

    .heart-badge-section, .activity-heart-badge-section {
        text-align: right;
    }

    .active-tag-label {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #717171;
    }

    .active-badge {
        margin-top: 11px;
    }

    .ongoing-section {
        width: 52px;
        height: 24px;
        background: #FFFFFF;
        margin-left: 100px;
        margin-top: 175px;
        display: flex;
        justify-content: center;
    }

    .pulse {
        width: 14px;
        height: 14px;
        margin-top: 2px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px){
    .image-header {
        width: 214.04px;
        height: 261.78px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px 10px 0px 0px;
    }

    .img-card {
        position: relative;
    }

    .heart-badge {
        text-align: right;
        margin-top: 5px;
    }

    .card-title1 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #344869;
    }

    .card-title2.mb-0.in-person {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #343D4C;
    }

    .card-title2.mb-0.online {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #34A853;
    }

    .card-title3 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #343D4C;
    }

    .price-badge-section {
        width: 100%;
    }

    .star-badge {
        margin-top: -3px;
    }

    .heart-badge-section, .activity-heart-badge-section {
        text-align: right;
    }

    .active-tag-label {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #717171;
    }

    .active-badge {
        margin-top: 11px;
    }

    .ongoing-section {
        width: 52px;
        height: 24px;
        background: #FFFFFF;
        margin-left: 130px;
        margin-top: 210px;
        display: flex;
        justify-content: center;
    }

    .pulse {
        width: 14px;
        height: 14px;
        margin-top: 2px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px){
    .image-header {
        width: 214.04px;
        height: 261.78px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px 10px 0px 0px;
    }

    .img-card {
        position: relative;
    }

    .heart-badge {
        text-align: right;
        margin-top: 5px;
    }

    .card-title1 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #344869;
    }

    .card-title2.mb-0.in-person {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #343D4C;
    }

    .card-title2.mb-0.online {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #34A853;
    }

    .card-title3 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #343D4C;
    }

    .price-badge-section {
        width: 100%;
    }

    .star-badge {
        margin-top: -3px;
    }

    .heart-badge-section, .activity-heart-badge-section {
        text-align: right;
    }

    .active-tag-label {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #717171;
    }

    .active-badge {
        margin-top: 11px;
    }

    .ongoing-section {
        width: 52px;
        height: 24px;
        background: #FFFFFF;
        margin-left: 130px;
        margin-top: 210px;
        display: flex;
        justify-content: center;
    }

    .pulse {
        width: 14px;
        height: 14px;
        margin-top: 2px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
    .image-header {
        width: 380px;
        height: 398px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px 10px 0px 0px;
    }

    .img-card{
        position:relative;
    }

    .heart-badge {
        text-align: center;
        margin-top: 5px;
    }

    .card-title1 {
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #343d4c;
    }

    .card-title2.mb-0.in-person {
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #343d4c;
    }

    .card-title2.mb-0.online {
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #34a853;
    }

    .card-title3 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #343D4C;
    }

    .price-badge-section{
        width: 100%;
    }

    .heart-badge-section, .activity-heart-badge-section {
        text-align: right;
        margin-top: 5px;
        margin-left: -30px;
    }

    .active-tag-label {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #717171;
    }

    .active-badge {
        margin-top: 13px;
    }

    .ongoing-section {
        width: 60px;
        height: 28px;
        background: #FFFFFF;
        margin-left: auto;
        margin-top: 330px;
        display: flex;
        justify-content: center;
    }

    .pulse {
        width: 16px;
        height: 16px;
        margin-top: 2px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* For Mobile Portrait View */
@media screen and (max-width: 767px) 
{
    .ongoing-experience-wrapper {
        font-family: "Nunito";
        margin-top: 2rem;
    }

    .maker-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10PX;
    }
}

@media screen and (max-width: 600px) {
    .maker-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 25px !important;
        justify-items: center;
    }
    
}

@media screen and (min-width: 1200px) {
    .maker-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1119px) 
{
    .maker-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30PX;
    }
}

/* For Mobile Portrait View */
@media screen and (max-width: 767px) 
{
    .ongoing-experience-wrapper {
        font-family: "Nunito";
        margin-top: 2rem;
    }

    .maker-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10PX;
    }
}
