.image-wrapper {
    border: 1px dashed #000000;
    border-radius: 5px;
    width: 450px;
    height: auto;
}
.figure-image {
    width: 450px;
    height: auto;
}
@media screen and (max-width: 767px) {
    .image-wrapper {
        width: 96%;
        height: auto;
    }
    .figure-image {
        width: 96%;
        height: auto;
    }
}
