
.customer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    justify-items: center;
}
.swiper-wrapper{
    z-index: 1;
}

.ongoing-experience-wrapper {
    font-family: "Nunito";
    margin-top: 5rem;
}

    .ongoing-experience-wrapper .title {
        font-size: 24px;
        font-weight: 700;
        color: #343D4C;
    }

.card-experience-item {
    width: 100%;
}

    .card-experience-item .figure-container {
        border-radius: 10px !important;
    }

    .card-experience-item .name {
        font-size: 16px;
        font-weight: 600;
    }

    .card-experience-item .address {
        font-size: 14px;
        font-weight: 400;
    }

    .card-experience-item .new-tag-icon {
        width: 15px;
        height: auto;
    }

    .card-experience-item .new-tag-label {
        font-size: 14px;
        margin-left: 5px;
    }

    .card-experience-item .new-badge {
        background-color: #F8F8F8;
        border-radius: 14px;
    }

/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1200px) {

    .customer-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 10PX;
        justify-items: center;
    }
}




/* For Mobile Portrait View */
@media screen and (max-width: 767px) {

    .ongoing-experience-wrapper {
        font-family: "Nunito";
        margin-top: 2rem;
    }
    .customer-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30PX;
        justify-items: center;
    }
}
