button:focus {
    outline: none !important;
    box-shadow: none !important;
}
::deep button {
    transition: transform .25s;
}

    ::deep button:active {
        transform: scale(.94);
    }
.skeleton {
    position: relative;
}

    .skeleton::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: linear-gradient(90deg, #eee, #b6b6b6, #eee);
        background-size: 200%;
        animation: skeleton 2s infinite reverse;
    }
@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}
::deep .textarea-container textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}
::deep .btn-not-now {
    border: 1px solid #D9D9D9;
    width: 10rem;
    color: #717171;
    font-size: 16px;
    font-weight: 700;
}

::deep .btn-primary {
    font-size: 16px;
    font-weight: 700;
    border: none;
}
.card {
    border: none;
    flex-direction: row;
    background: #F3F6FC;
    border-radius: 10px;
    padding: 14px;
}


.experience-box {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 48px 0px rgba(217, 217, 217, 0.60);
    padding: 14px;
    width: 380px;
    z-index: 1;
    transition: box-shadow 0.3s ease-in-out;
}

.experience-box:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}



.image-header {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    object-fit: cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(manuel-fLI2FYqQ0Yo-unsplash.jpg);
    border-radius: 10px;
}

.experience-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 22px;
}

.experience-content {
    width: 100%;
}

.top-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}



.xp-title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #343D4C;
}

.xp-body-item {
    display: flex;
    gap: 50px;

    margin-top:7px;
}

    .xp-body-item.student-name {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #717171;
    }

    .xp-body-item.sessions-attended {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #717171;
    }

    .xp-body-item.session-details {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #717171;
    }

.view-button{
    cursor: pointer;
    margin-top: 30px;
}



::deep .view-exp-btn {
    cursor: pointer;
    padding: 9px 16px;
    color: #34A853 !important;
    background: #EDFFED !important;
    transition: ease-in-out 0.3s;
}

::deep .view-exp-btn:hover {
    color: #EDFFED !important;
    background: #34A853 !important;
}

.progress {
    width: 100%;
    height: 20px;
    background: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    overflow: hidden;
}

    .progress:after {
        border: none;
    }


::deep .bg-success {
    background-color: #4285F4 !important;
}

.label {
    width: 40%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #717171;
}
.context {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #343D4C;
}

.view-dates {
    width: 124px;
    height: 40px;
    background: #FFA942;
    border-radius: 10px;
    border: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

    .view-dates:hover {
        transform: scale(1.02);
    }
::deep .btn-update {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
}

    ::deep .btn-update:hover {
        transform: scale(1.1);
    }

.modal-title {
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 700;
    margin-left: 1.4rem;
}

/*HEADER*/
.header {
    display: flex;
    font-family: 'Nunito';
    align-items: center;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.header-title {
    margin: 0;
    padding-left: 5px;
}

.back-button {
    height: 50px;
    width: 50px;
}

    .back-button img {
        height: 50px;
        width: 50px;
    }

.student-details-container {
    background-color: #343D4C;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.student-details {
    background-color: #343D4C;
    color: #FFFFFF;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.student-details-major {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}


.student-details p {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
    color: #D9D9D9;
}

.student-details span {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.text-remarks {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.days-present {
    color: #4BB749 !important;
}
/*INSTRUCTION*/
.instruction {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.instruction-image {
    margin-right: 5px;
}

.instruction p {
    margin: 0px;
}

.word {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    color: #343D4C;
}

    .word::before {
        color: #4BB749;
        content: "GREEN CIRCLE ";
    }

/*CALENDAR*/
.calendar {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px #D9D9D9;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px !important;
}


.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px
    
}

.calendar-header-details {
    color: #343D4C;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 36px;
    margin: 0px;
}

.arrow-right, .arrow-left {
    height: 60px;
    width: 60px;
}

    .arrow-right img, .arrow-left img {
        height: 60px;
        width: 60px;
    }



.arrow-right, .arrow-left, .back-button {
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    border-radius: 50px;
}


    .arrow-right:hover img {
        filter: brightness(0) invert(1);
    }

    .arrow-right:hover {
        background: var(--primary);
    }

    .arrow-left:hover img {
        filter: brightness(0) invert(1);
    }

    .arrow-left:hover {
        background: var(--primary);
    }

    .back-button:hover img {
        filter: brightness(0) invert(1);
    }

    .back-button:hover {
        background: var(--primary);
    }


hr {
    color: #FFFFFF;
}


.calendar-days {
    align-items: center;
    color: var(--primary);
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    height: 50px !important;
}


section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 24px;
}

    section > div {
        /*border: 1px solid black;*/
        text-align: center;
        padding: 10px;
        color: #343D4C;
        height: 80px;
    }


.calendar-dates {
    margin: 0px;
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 36px;
    border-radius: 50px;
}

.btn-date {
    border: none;
    background-color: #4BB749;
    color: white;
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 500;
    transform: translate(-65%, -65%);
    width: 36px;
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 35px;
}

.btn-date-absent {
    border: none;
    background-color: white;
    color: #343D4C;
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 500;
    transform: translate(-65%, -65%);
    width: 36px;
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 35px;
}

.row {
    margin-bottom: 5px;
}

.secondary-caption {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #717171;

    margin:0px !important;
}



.pulse {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00ACEE;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(52,168,83, 0.4);
    animation: pulse 1s infinite;
}

    .pulse:hover {
        animation: none;
    }

.pulse-complete {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    border-radius: 50%;
    background: #34A853;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(52,168,83, 0.4);
    animation: pulse 1s infinite;
}

    .pulse-complete:hover {
        animation: none;
    }

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(52,168,83, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(52,168,83, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(52,168,83, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(52,168,83, 0.4);
        box-shadow: 0 0 0 0 rgba(52,168,83, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(52,168,83, 0);
        box-shadow: 0 0 0 10px rgba(52,168,83, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(52,168,83, 0);
        box-shadow: 0 0 0 0 rgba(52,168,83, 0);
    }
}

@-webkit-keyframes pulse-complete {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(52,168,83, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(52,168,83, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(52,168,83, 0);
    }
}

@keyframes pulse-complete {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(52,168,83, 0.4);
        box-shadow: 0 0 0 0 rgba(52,168,83, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(52,168,83, 0);
        box-shadow: 0 0 0 10px rgba(52,168,83, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(52,168,83, 0);
        box-shadow: 0 0 0 0 rgba(52,168,83, 0);
    }
}

.pulse-section {
    margin-bottom: 22px;
    margin-top: 15px;
}

.pulse-section div label{
    display: flex;
    gap: 10px;
}

    .pulse-section div label span.active-text {
        margin-top: 3px;
    }
    .pulse-section div label span.active-tag-label {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #00ACEE;
    }
    .pulse-section div label span.active-tag-label-complete {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #34A853;
    }

.divider {
    margin-bottom: 8px;
}
.modal-title {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 700;
    margin-left: 1rem;
}
.customer-review-modal .modal-title {
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 700;
    margin-left: 1rem;
}

.modal-body .mt-1 {
    height: 160px;
    width: 130px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

::deep .rating .rating-item.rating-item-primary {
    color: var(--primary);
}

    ::deep .rating .rating-item.rating-item-primary i {
        margin-top: .5rem;
        width: 4rem;
        height: 2rem;
        font-size: 1.3rem;
    }

::deep .textarea-container {
    margin-bottom: 1rem;
}

    ::deep .textarea-container textarea {
        height: 10rem;
    }

.modal-body btn {
    margin-top: 1rem;
}

::deep .btn-not-now {
    border: 1px solid #D9D9D9;
    width: 10rem;
    color: #717171;
}

.font-14 {
    font-weight: 700;
    color: #717171;
    margin: 0;
    margin-bottom: 6px;
}

.font-16 {
    font-weight: 700;
    color: #343D4C;
    margin-top: 4px;
    margin-bottom: 4px;
}

.progress-wrapper {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.progress-label {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: white;
    padding: 5.178px 7.767px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    transition: left 0.4s ease
}

.progress-label::after {
    content: "";
    position: absolute;
    bottom: -8px; /* Position the point 5px below the label */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px; /* Size of the point */
    border-style: solid;
    border-color: #007bff transparent transparent transparent; /* Point color and transparency */
}

.expiration-text {
    color: #EC6264;
}
/* Small devices (portrait phones, 576px and up) */
@media screen and (max-width: 767px) and (orientation: portrait) {
    .customer-review-modal .modal-dialog {
        max-width: 250px;
        margin: 0 auto;
        margin-top: 25%;
    }

    .customer-review-modal .modal-body img {
        height: 110px;
        width: 80px;
    }

    ::deep .rating .rating-item.rating-item-primary i {
        width: 2.3rem;
        height: 2rem;
    }

    ::deep .btn-not-now {
        width: 5rem;
        font-size: 12px;
    }

    ::deep .btn-primary {
        width: 7rem;
        font-size: 12px;
    }

    ::deep .textarea-container textarea {
        height: 6rem;
        font-size: 14px;
    }

    .customer-review-modal .modal-title {
        font-size: 13px;
        margin-left: 0.2rem;
    }

    .customer-review-modal .font-16 {
        margin-top: 1px;
        margin-bottom: 0px;
    }

    .customer-review-modal .font-14 {
        margin-top: 0;
        margin-bottom: 2px;
    }
}

@media (min-width: 0px) and (max-width:400px) {
    .experience-box {
        width: 300px !important;
        height: 304px;
    }

}
/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 767px) {
    .header {
        display: flex;
        color: var(--primary);
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 20px;
        align-items: center;
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 12px;
        margin-bottom: 20px;
    }

    .header-title {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        margin: 0;
        padding-left: 0px;
    }

    .back-button img {
        width: 30px;
        height: 30px;
    }

    .student-details-container {
        background-color: #343D4C;
        border-radius: 5px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .student-details {
        background-color: #343D4C;
        color: #FFFFFF;
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 13px;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 12px;
        width: 100%;
    }

    .student-details-major {
        display: flex;
        flex-direction: column;
    }

    .student-details p {
        margin: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .student-details span {
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    .text-remarks {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
    }

    .text-remarks {
        font-size: 13px;
    }

    .days-present {
        color: #4BB749;
    }

    .modal-title {
        font-family: "Nunito";
        font-size: 14px;
        font-weight: 700;
        margin-left: 1rem;
    }
    /*INSTRUCTION*/
    .instruction {
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .instruction-image {
        margin-right: 5px;
    }

        .instruction-image img {
            width: 24px;
            height: 24px;
        }

    .instruction p {
        margin: 0px;
    }

    .word {
        font-family: 'Nunito';
        font-weight: 400;
        font-size: 12px;
        color: #343D4C;
    }

        .word::before {
            color: #4BB749;
            content: "GREEN CIRCLE ";
        }

    /*CALENDAR*/
    .calendar {
        background: #FFFFFF;
        box-shadow: 0px 4px 20px #D9D9D9;
        border-radius: 5px;
        margin-top: 15px !important;
        margin: 12px;
        padding: 15px;
        padding-bottom: 10px !important;
        height: 100%;
    }


    .calendar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 13px;
    }

    .calendar-header-details {
        color: #343D4C;
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 20px;
    }


    .arrow-right, .arrow-left {
        outline: none;
        border: none;
        text-decoration: none;
        box-sizing: border-box;
        width: 30px !important;
        height: 30px !important;
        margin: 0px;
        padding: 0px;
        background-color: #FFFFFF;
        border-radius: 50px;
    }

        .arrow-right img, .arrow-left img {
            width: 30px !important;
            height: 30px !important;
        }


        .arrow-right:hover img {
            filter: brightness(0) invert(1);
        }

        .arrow-right:hover {
            background: var(--primary);
        }

        .arrow-left:hover img {
            filter: brightness(0) invert(1);
        }

        .arrow-left:hover {
            background: var(--primary);
        }



    .calendar-days {
        align-items: center;
        color: var(--primary);
        font-family: 'Nunito';
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        height: 30px !important;
    }

    section {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        font-family: 'Nunito';
        font-weight: 500;
        font-size: 12px;
    }

    hr {
        color: #FFFFFF;
        display: none;
    }

    .calendar-dates {
        /* transform: translate(-50%, -50%);*/
        width: 25px;
        height: 25px;
        border-radius: 50px;
        font-size: 12px;
        font-family: 'Nunito';
        font-weight: 500;
        margin-top: 5px;
    }

    .calendar-body {
        min-width: 0;
        min-height: 0;
        overflow: hidden;
    }

    .btn-date {
        border: none;
        background-color: #4BB749;
        font-size: 12px;
        font-family: 'Nunito';
        font-weight: 500;
        transform: translate(-110%, -110%);
        width: 25px;
        height: 25px;
        border-radius: 50px;
        margin-left: 35px;
        margin-bottom: 1px;
    }

    .btn-date-absent {
        border: none;
        font-size: 12px;
        font-family: 'Nunito';
        font-weight: 500;
        transform: translate(-110%, -110%);
        width: 25px;
        height: 25px;
        border-radius: 50px;
        margin-left: 35px;
    }

    section > div {
        /*border: 1px solid black;*/
        text-align: center;
        padding: 0px;
        color: #343D4C;
        height: 36px;
    }

    .card {
        width: 380px;
        height: 291px;
    }

    .image-header {
        width: 64px;
        height: 64px;
    }

    .experience-box {
        width: 379px;
        height: 304px;
    }


    .xp-title {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #343D4C;
        width: 100%;
    }

    .xp-body-item {
        gap: 14px;
    }

    .btn-update {
        width: 352px;
        height: 40px;
        background: #FFA942;
        border-radius: 10px;
    }
}

@media (min-width:950px) and (max-width: 1200px) {
    .experience-box {
        width: 449px !important;
        height: 304px !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1024px) {
    .calendar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0px;
        padding-right: 0px;
    }

    .student-details-major {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .student-details {
        background-color: #343D4C;
        color: #FFFFFF;
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 24px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        width: 100%;
    }
    .modal-title {
        font-family: "Nunito";
        font-size: 14px;
        font-weight: 700;
        margin-left: 1rem;
    }
    .calendar {
        background: #FFFFFF;
        box-shadow: 0px 4px 20px #D9D9D9;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px !important;
    }

    .calendar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .calendar-days {
        align-items: center;
        color: var(--primary);
        font-family: 'Nunito';
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        height: 50px !important;
    }

    .calendar-dates {
        margin: 0px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        border-radius: 50px;
    }

    section {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        font-family: 'Nunito';
        font-weight: 500;
        font-size: 20px;
    }

        section > div {
            /*border: 1px solid black;*/
            text-align: center;
            padding: 10px;
            color: #343D4C;
            height: 80px;
        }

    .card {
        width: fit-content;
        height: 291px;
    }

    .image-header {
        width: 64px;
        height: 64px;
    }
    .experience-box {
        width: 338px;
        height: 304px;
    }
    .xp-title {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #343D4C;
        width: 100%;
    }
    .xp-body-item {
        gap: 14px;
    }

    .btn-update {
        width: 352px;
        height: 40px;
        background: #FFA942;
        border-radius: 10px;
    }
}
@media (min-width: 1023px) and (max-width: 1200px) {
    .experience-box {
        width: 449px !important;
        height: 304px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card {
        width: 380px;
        height: 291px;
    }
    .modal-title {
        font-family: "Nunito";
        font-size: 14px;
        font-weight: 700;
        margin-left: 1rem;
    }
    .image-header {
        width: 64px;
        height: 64px;
    }

    .xp-title {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #343D4C;
        width: 100%;
    }

    .experience-box {
        width: 338px;
    }

    .xp-body-item {
        gap: 14px;
    }

    .btn-update {
        width: 352px;
        height: 40px;
        background: #FFA942;
        border-radius: 10px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .card {
        width: 380px;
        height: 291px;
    }
    .image-header {
        width: 64px;
        height: 64px;
    }
    .xp-title {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #343D4C;
        width: 100%;
    }

    .experience-box {
        width: 379px;
        height: 304px;
    }

    .xp-body-item {
        gap: 14px;
    }

    .btn-update {
        width: 352px;
        height: 40px;
        background: #FFA942;
        border-radius: 10px;
    }
}
