::deep button {
    transition: transform .25s;
}

    ::deep button:active {
        transform: scale(.94);
    }
.event-container-item-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center;
}

.events-container .title {
  font-size: 24px;
  font-weight: 700;
  color: #343d4c;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

::deep .btn-not-now {
  border: 1px solid #d9d9d9;
  width: 10rem;
  color: #717171;
  font-size: 16px;
  font-weight: 700;
}

::deep .btn-primary {
  font-size: 16px;
  font-weight: 700;
  border: none;
}

.experience-box {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(217, 217, 217, 0.6) 0px 0px 48px 0px;
  padding: 14px;
  width: 380px;
  z-index: 1;
}

::deep .view-exp-btn {
  cursor: pointer;
  padding: 9px 16px;
  color: #34A853 !important;
  background: #EDFFED !important;
  transition: ease-in-out 0.3s;
}

::deep .view-exp-btn:hover {
  color: #EDFFED !important;
  background: #34A853 !important;
}

.image-header {
  object-fit: cover;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(manuel-fLI2FYqQ0Yo-unsplash.jpg);
  border-radius: 5px;
}

/*.experience-content {
    border-radius: 0px 0px 10px 10px;
    padding: 0px 0px 0px 9px;
}*/
.top-content {
  display: flex;
  justify-content: space-between;
}

.xp-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #343d4c;
}

.xp-body-item {
  display: flex;
  gap: 50px;

  margin-top: 7px;
}

.xp-body-item.student-name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #717171;
}

.xp-body-item.sessions-attended {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #717171;
}

.xp-body-item.session-details {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #717171;
}

.view-button {
  margin-top: 10px;
}

.progress {
  width: 181px;
  height: 20px;
  background: #d9d9d9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.progress:after {
  border: none;
}

.label {
  width: 40%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #717171;
}
.context {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #343d4c;
}

.view-dates {
  width: 124px;
  height: 40px;
  background: #ffa942;
  border-radius: 10px;
  border: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.view-dates:hover {
  transform: scale(1.02);
}
::deep .btn-update {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px 25px 10px 25px;
}

::deep .btn-update:hover {
  transform: scale(1.1);
}

.modal-title {
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 700;
  margin-left: 1.4rem;
}

/*HEADER*/
.header {
  display: flex;
  font-family: "Nunito";
  align-items: center;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.header-title {
  margin: 0;
  padding-left: 5px;
}

.back-button {
  height: 50px;
  width: 50px;
}

.back-button img {
  height: 50px;
  width: 50px;
}

.student-details-container {
  background-color: #343d4c;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.student-details {
  background-color: #343d4c;
  color: #ffffff;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 24px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.student-details-major {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}

.student-details p {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
  color: #d9d9d9;
}

.student-details span {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}

.text-remarks {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.days-present {
  color: #4bb749 !important;
}
/*INSTRUCTION*/
.instruction {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.instruction-image {
  margin-right: 5px;
}

.instruction p {
  margin: 0px;
}

.word {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 16px;
  color: #343d4c;
}

.word::before {
  color: #4bb749;
  content: "GREEN CIRCLE ";
}

/*CALENDAR*/
.calendar {
  background: #ffffff;
  box-shadow: 0px 4px 20px #d9d9d9;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px !important;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.calendar-header-details {
  color: #343d4c;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 36px;
  margin: 0px;
}

.arrow-right,
.arrow-left {
  height: 60px;
  width: 60px;
}

.arrow-right img,
.arrow-left img {
  height: 60px;
  width: 60px;
}

.arrow-right,
.arrow-left,
.back-button {
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  border-radius: 50px;
}

.arrow-right:hover img {
  filter: brightness(0) invert(1);
}

.arrow-right:hover {
  background: var(--primary);
}

.arrow-left:hover img {
  filter: brightness(0) invert(1);
}

.arrow-left:hover {
  background: var(--primary);
}

.back-button:hover img {
  filter: brightness(0) invert(1);
}

.back-button:hover {
  background: var(--primary);
}

hr {
  color: #ffffff;
}

.calendar-days {
  align-items: center;
  color: var(--primary);
  font-family: "Nunito";
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  height: 50px !important;
}

section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-family: "Nunito";
  font-weight: 500;
  font-size: 24px;
}

section > div {
  /*border: 1px solid black;*/
  text-align: center;
  padding: 10px;
  color: #343d4c;
  height: 80px;
}

.secondary-caption {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #717171;

  margin: 0px !important;
}

.divider {
  margin-bottom: 8px;
}


@media (min-width: 0px) and (max-width: 400px) {
  
  .experience-box {
    width: 300px !important;
  }

}
@media (min-width: 1023px) and (max-width: 1200px) {
  .experience-box {
    width: 449px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

  .event-container-item-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 2fr) !important;
      gap: 10PX;
      justify-items: center;
  }
}

/* Small devices (portrait phones, 576px and up) */
@media screen and (max-width: 767px) and (orientation: portrait) {
  ::deep .btn-not-now {
    width: 5rem;
    font-size: 12px;
  }

  ::deep .btn-primary {
    width: 7rem;
    font-size: 12px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 767px) {
  .header {
    display: flex;
    color: var(--primary);
    font-family: "Nunito";
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 12px;
    margin-bottom: 20px;
  }

  .header-title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    padding-left: 0px;
  }

  .back-button img {
    width: 30px;
    height: 30px;
  }

  section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-family: "Nunito";
    font-weight: 500;
    font-size: 12px;
  }

  hr {
    color: #ffffff;
    display: none;
  }

  section > div {
    /*border: 1px solid black;*/
    text-align: center;
    padding: 0px;
    color: #343d4c;
    height: 36px;
  }

  .card {
    width: 380px;
    height: 291px;
  }

  .image-header {
    width: 110px;
    height: 145px;
  }

  .experience-box {
    width: 379px;
  }

  .xp-title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #343d4c;
    width: 222px;
  }

  .xp-body-item {
    gap: 14px;
  }

  .btn-update {
    width: 352px;
    height: 40px;
    background: #ffa942;
    border-radius: 10px;
  }

  .event-container-item-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-items: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-family: "Nunito";
    font-weight: 500;
    font-size: 20px;
  }

  section > div {
    /*border: 1px solid black;*/
    text-align: center;
    padding: 10px;
    color: #343d4c;
    height: 80px;
  }

  .card {
    width: 380px;
    height: 291px;
  }

  .image-header {
    width: 110px;
    height: 145px;
  }
  .experience-box {
    width: 338px;
  }

  .xp-title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #343d4c;
    width: 222px;
  }
  .xp-body-item {
    gap: 14px;
  }

  .btn-update {
    width: 352px;
    height: 40px;
    background: #ffa942;
    border-radius: 10px;
  }

    .event-container-item-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 10PX;
        justify-items: center;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .card {
    width: 380px;
    height: 291px;
  }
  .modal-title {
    font-family: "Nunito";
    font-size: 14px;
    font-weight: 700;
    margin-left: 1rem;
  }
  .image-header {
    width: 110px;
    height: 145px;
  }

  .xp-title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #343d4c;
    width: 222px;
  }

  .experience-box {
    width: 380px;
  }

  .xp-body-item {
    gap: 14px;
  }

  .btn-update {
    width: 352px;
    height: 40px;
    background: #ffa942;
    border-radius: 10px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card {
    width: 380px;
    height: 291px;
  }
  .image-header {
    width: 110px;
    height: 145px;
  }
  .xp-title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #343d4c;
    width: 222px;
  }

  .experience-box {
    width: 380px;
  }

  .xp-body-item {
    gap: 14px;
  }

  .btn-update {
    width: 352px;
    height: 40px;
    background: #ffa942;
    border-radius: 10px;
  }
}
