.personal-info-wrapper {
    font-family: "Nunito";
    overflow: hidden;
}

    .personal-info-wrapper p {
        margin-bottom: 0;
    }

    .personal-info-wrapper .p-section .title {
        font-size: 18px;
        color: #344050;
        font-weight: 700;
    }

    .personal-info-wrapper .p-section .details {
        font-size: 16px;
        color: #717171;
        font-weight: 500;
    }

    .personal-info-wrapper .p-section .edit {
        font-size: 14px;
        font-weight: 700;
        color: #343D4C;
        cursor: pointer;
    }
    ::deep .payout-account-section a {
        font-size: 14px;
        font-weight: 700;
        color: #343D4C;
        cursor: pointer;
    }
@media screen and (max-width: 767px) {
    .personal-info-wrapper {
        margin-bottom: 4rem;
    }
}
