/* Extra small devices (portrait phones, less than 576px) */
.recommended-experience-wrapper .image-header {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.recommended-experience-wrapper-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30PX;
  justify-items: center;
}


@media screen and (max-width: 600px) {
  .recommended-experience-wrapper-cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr) !important;
      gap: 25px !important;
      justify-items: center;
  }
  
}

@media screen and (min-width: 1200px) {
  .recommended-experience-wrapper-cards {
      grid-template-columns: repeat(3, 1fr);
  }
}

/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1119px) 
{
  .recommended-experience-wrapper-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30PX;
  }
}

/* For Mobile Portrait View */
@media screen and (max-width: 767px) 
{
  .recommended-experience-wrapper-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10PX;
  }
}


@media (min-width: 0px) and (max-width: 575.98px) {
  .recommended-experience-wrapper .image-header {
    height: 223.39px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .recommended-experience-wrapper .image-header {
    height: 223.39px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .recommended-experience-wrapper .image-header {
    height: 261.78px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .recommended-experience-wrapper .image-header {
    height: 261.78px;
  }
}

@media (min-width: 1200px) {
  .recommended-experience-wrapper .image-header {
    height: 340px;
  }
}
