/* Extra small devices (portrait phones, less than 576px) */
.recommended-experience-wrapper .image-header {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

@media (min-width: 0px) and (max-width: 575.98px) {
  .recommended-experience-wrapper .image-header {
    height: 223.39px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .recommended-experience-wrapper .image-header {
    height: 223.39px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .recommended-experience-wrapper .image-header {
    height: 261.78px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .recommended-experience-wrapper .image-header {
    height: 261.78px;
  }
}

@media (min-width: 1200px) {
  .recommended-experience-wrapper .image-header {
    height: 340px;
  }
}
