/*HEADER*/
.header {
    display: flex;
    font-family: 'Nunito';
    align-items: center;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.back-report {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    color: #343D4C;
}

.header-title {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    color: #343D4C;
}
.gross-sale-text {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    color: #717171;
}

.back-button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: none;
}
.header .back-text {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    margin-left: 2rem;
}


/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}
/* For Mobile Portrait View */
@media screen and (max-width: 767px) and (orientation: portrait) {
    /*HEADER*/
    .header {
        display: flex;
        color: var(--primary);
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 20px;
        align-items: center;
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 12px;
        margin-bottom: 20px;
    }

    .header-title {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        margin: 0;
        padding-left: 0px;
    }

    .back-button img {
        width: 30px;
        height: 30px;
    }
}

