.header {
    display: flex;
    font-family: 'Nunito';
    align-items: center;
    margin-top: 10px;
}
.back-report {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
}

.header-title {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    color: #343D4C;
}
.gross-sale-text {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    color: #717171;
}

.back-button {
    border: none;
    background-color: transparent;
}
.header .back-text {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    margin-top: 1rem;
    margin-left: 1rem;
    text-transform: uppercase;
    color: #343D4C;
}
.btn-today {
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
}
.btn-months {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.btn-group button {
    font-family: 'Nunito';
    font-size: 14px;
    background-color: #FFFFFF; /* Green background */
    border: 1px solid #D9D9D9; /* Green border */
    color: #717171; /* White text */
    padding: 5px 20px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
}

    .btn-group button:not(:last-child) {
        border-right: none; /* Prevent double borders */
    }

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #F3F6FC;
}

/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}
/* For Mobile Portrait View */
@media screen and (max-width: 767px) and (orientation: portrait) {
    /*HEADER*/
    .header {
        display: flex;
        color: var(--primary);
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 20px;
        align-items: center;
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 12px;
        margin-bottom: 20px;
    }

    .header-title {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        margin: 0;
        padding-left: 0px;
    }

    .back-button img {
        width: 30px;
        height: 30px;
    }
}

