.profile-banner {
  position: relative;
  max-height: 300px;
  overflow: hidden;
  min-height: 300px;
  color: #343d4c;
}
::deep .card-image-full {
    height: 150px;
    aspect-ratio: auto 150 / 150;
    width: 150px;
    line-height: 150px;
    text-align: center;
    vertical-align: middle;
}
.profile-content {
  font-family: "Nunito";
  color: #343d4c;
}
.text-color-8080 {
  color: #525252;
}
.edit-icon {
  text-align: right;
  margin-right: 2rem;
}

::deep .figure {
    display: flex !important;
    justify-content: center;
    margin: 0 0 -1rem;
}

/* font sizes */
.font-12 {
    font-size: 12px !important;
    font-family: "Nunito";
}
.font-14 {
    font-size: 14px !important;
    font-family: "Nunito";
}
.font-16 {
    font-size: 16px !important;
    font-family: "Nunito";
}
.font-18 {
    font-size: 18px !important;
    font-family: "Nunito";
}
.font-24 {
    font-size: 24px !important;
    background-color: #F3F6FC;
    padding: 5px;
    border-radius: 10px;
    font-family: "Nunito";
}
.font-30 {
    font-size: 30px !important;
    font-family: "Nunito";
}

.profile-info-input > .form-control {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 0.3;
}

.profile-info-input label {
  padding-top: 0.5rem;
}
.img-pending {
    height: 28px;
    width: 28px;
    left: 197px;
    top: 491px;
}

.img-verified {
    height: 28px;
    width: 28px;
    left: 3px;
    top: 3px;
}
.img-not {
    height: 28px;
    width: 28px;
    left: 3px;
    top: 3px;
}

.span-pending {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFA942;
}

.span-verified {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #34A853;
}
.span-not {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: orangered;
}
.ongoing-students-label {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 600;
}

.completed-students-label {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 600;
}
@media screen and (max-width: 767px) {
    .edit-icon {
        text-align: right;
        margin-right: 4rem;
        margin-top: 0.5rem;
    }
}
@media only screen and (max-width: 576px) {
    .profile-banner {
        max-height: none;
        min-height: auto;
    }

    .font-16 {
        font-size: 14px !important;
    }

    .font-24 {
        font-size: 16px !important;
    }

    .font-30 {
        font-size: 24px !important;
    }
}
