button:focus {
    outline: none !important;
    box-shadow: none !important;
}
.alertContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dff0d8;
    border: 1px solid #d0e9c6;
    padding: 10px;
    border-radius: 4px;
    z-index: 99999;
}

.alertMessage {
    color: #3c763d;
    font-weight: bold;
}

.showAlert {
    display: block !important;
}


.profile-banner {
  position: relative;
  max-height: 300px;
  overflow: hidden;
  min-height: 300px;
  color: #343d4c;
}
::deep .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-between;
}

::deep .nav-tabs {
    border-bottom: none;
}
::deep .card-image-full {
    height: 150px;
    aspect-ratio: auto 150 / 150;
    width: 150px;
    line-height: 150px;
    text-align: center;
    vertical-align: middle;
}
.profile-content {
  font-family: "Nunito";
  color: #343d4c;
}
.text-color-8080 {
  color: #525252;
}
.edit-icon {
  text-align: right;
  margin-right: 2rem;
}

::deep .figure {
    display: flex !important;
    justify-content: center;
    margin: 0 0 -1rem;
}

.verified-logo img {
    margin-right: 5px;
    cursor: pointer;
}

.badge-name {
    margin-top: 0.8rem;
    padding: 4px;
    margin-right: 2rem;
    font-family: 'Nunito';
    font-weight: bold;
}

.badges-column img {
    vertical-align: middle;
    width: 53px;
    height: 53px;
    display: flex;
    margin-left: 2rem;
}

::deep .badges-column .card-body {
    display: flex;
}

::deep .badges-column {
    width: 100%;
    background-color: #F3F6FC;
    padding: 20px;
    border: none;
    align-items: center;
}

/* font sizes */
.font-12 {
    font-size: 12px !important;
    font-family: "Nunito";
}
.font-14 {
    font-size: 14px !important;
    font-family: "Nunito";
}
.font-16 {
    font-size: 16px !important;
    font-family: "Nunito";
}
.font-18 {
    font-size: 18px !important;
    font-family: "Nunito";
}
.font-24 {
    font-size: 24px !important;
    background-color: #F3F6FC;
    padding: 5px;
    border-radius: 10px;
    font-family: "Nunito";
}
.font-30 {
    font-size: 30px !important;
    font-family: "Nunito";
}

.profile-info-input > .form-control {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 0.3;
}

.profile-info-input label {
  padding-top: 0.5rem;
}
.img-pending {
    height: 28px;
    width: 28px;
    left: 197px;
    top: 491px;
}

.img-verified {
    height: 28px;
    width: 28px;
    left: 3px;
    top: 3px;
}
.img-not {
    height: 28px;
    width: 28px;
    left: 3px;
    top: 3px;
}

.span-pending {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFA942;
}

.span-verified {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #34A853;
}
.span-not {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: orangered;
}
.ongoing-students-label {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 600;
}

.completed-students-label {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 600;
}
.btn-copy img{
    width: 25px;
    height: 25px;
}
@media screen and (max-width: 767px) {
    .edit-icon {
        text-align: right;
        margin-right: 4rem;
        margin-top: 0.5rem;
    }
    .badges-column img, svg {
        margin-top: auto;
        margin-bottom: auto;
        width: 45px;
        height: 45px;
        display: flex;
        margin-left: 0.7rem;
    }

    ::deep .badges-column {
        padding: 1px;
    }

    .badge-name {
        margin-top: 2rem;
        padding-left: 3px;
        margin-right: 0.5rem;
        font-family: 'Nunito';
        font-weight: bold;
    }
}
@media only screen and (max-width: 576px) {
    .profile-banner {
        max-height: none;
        min-height: auto;
    }

    .font-16 {
        font-size: 14px !important;
    }

    .font-24 {
        font-size: 16px !important;
    }

    .font-30 {
        font-size: 24px !important;
    }
}
