.activity-summary-wrapper {
  font-family: "Nunito";
  font-size: 20px;
}

.summary-header {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-family-nunito {
  font-family: "Nunito";
}

.margin-top-1rem {
  margin-top: 1rem;
}

.margin-botton-1rem {
  margin-bottom: 1rem;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-botton-3rem {
  margin-bottom: 3rem;
}

.margin-top-3rem {
  margin-top: 3rem;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-900 {
  font-weight: 900;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-40 {
  font-size: 40px;
}

.font-size-64 {
  font-size: 64px;
}

.text-black-100 {
  color: #343d4c;
}

.text-orange-100 {
  color: #ffa942;
}

.text-white-100 {
  color: #fff;
}

.background-black-100 {
  background-color: #343d4c;
}

.background-gray-100 {
  background-color: #f3f6fc !important;
}

.border-radius-20 {
  border-radius: 20px;
}

.img-human-left {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(0, -50%);
}

.img-human-right {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(0, -50%);
}

.experience-type-button {
  padding: 5px 20px;
  margin-left: 10px;
}

/* media queries */
@media only screen and (max-width: 576px) {
  .img-human-right,
  .img-human-left {
    display: none;
  }

  .m-font-size-6 {
    font-size: 6px;
  }

  .m-font-size-10 {
    font-size: 10px;
  }

  .m-font-size-12 {
    font-size: 12px;
  }

  .m-font-size-16 {
    font-size: 16px;
  }

  .m-font-size-18 {
    font-size: 18px;
  }

  .m-font-size-24 {
    font-size: 24px;
  }

  .m-font-size-32 {
    font-size: 32px;
  }

  .m-laptop-icon {
    width: 20px;
    height: auto;
  }

  .m-padding-10 {
    padding: 10px !important;
  }

  .m-border-radius-10 {
    border-radius: 10px;
  }

  .m-margin-0 {
    margin: 0;
  }

  .m-margin-5 {
    margin: 5px !important;
  }

  .m-margin-top-10 {
    margin-top: 10px !important;
  }

  .m-margin-bottom-10 {
    margin-bottom: 10px;
  }
}
