.publish-read-more {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  right: 0;
  left: 0;
}
* {
  font-family: "Nunito";
}

.activity-summary-wrapper {
  background: #f3f6fc;
  border-radius: 10px;
  padding: 31px 29px;
}

.summary-header {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-marker {
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
}

.font-family-nunito {
  font-family: "Nunito";
}

.margin-top-1rem {
  margin-top: 1rem;
}

.margin-botton-1rem {
  margin-bottom: 1rem;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-botton-3rem {
  margin-bottom: 3rem;
}

.margin-botton-1-5rem {
  margin-bottom: 1.5rem;
}

.margin-top-3rem {
  margin-top: 3rem;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-900 {
  font-weight: 900;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-40 {
  font-size: 40px;
}

.font-size-64 {
  font-size: 64px;
}

.text-black-100 {
  color: #343d4c;
}

.text-orange-100 {
  color: #ffa942;
}

.text-white-100 {
  color: #fff;
}

.background-black-100 {
  background-color: #343d4c;
}

.background-gray-100 {
  background-color: #f3f6fc !important;
}

.border-radius-20 {
  border-radius: 20px;
}

.img-human-left {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(0, -50%);
}

.img-human-right {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(0, -50%);
}

.in-person-button,
.online-button {
  padding: 5px 20px;
  margin-left: 10px;
}

::deep.schedule-box {
  display: flex;
  justify-content: center;
}

.experience-provide p {
  display: flex;
  justify-content: left;
  font-family: "Nunito";
}

.experience-requirements p {
  display: flex;
  justify-content: center;
  font-family: "Nunito";
}

.form-switch .form-check-input:checked {
  background-color: var(--primary);
  border: none;
}

.check-button {
  border-style: none;
  background-color: #f3f6fc;
  padding: 0px;
  cursor: default;
  text-align: left;
}

.label-top-margin {
  margin-top: 5px;
}

.form-control-label.label-top-margin {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #343d4c;
  margin-bottom: 30px;
}

.activity-schedule-box {
  background: #ffffff;
  border-radius: 20px;
  padding: 27px 20px;
  margin-right: 20px;
}

.swiper-slide.schedule {
  width: 262px;
}

/*Schedule Section*/
.details-header-small {
  display: none;
}

.schedule-mobile {
  display: none;
}

.schedule-detail {
  background-color: #ffffff;
}

.schedule-detail hr {
  margin: 0rem;
}

.sub-details {
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  padding: 0px 10px 0px 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10; /*number of lines to show */
  line-clamp: 10;
  -webkit-box-orient: vertical;
  color: #d13636;
  margin-left: 2rem;
}

.schedule-detail {
  border: 2px solid #d9d9d9;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 2px 4px 6px 0px #d9d9d980;
}

.schedule-header {
  padding: 5px 10px 0px 10px;
}

.schedule-header .schedule-title {
  color: #343d4c;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  margin-top: 0.5rem;
}

.schedule-header .form-check {
  width: auto;
  height: 3rem;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px 10px;
  border: 1px solid #d9d9d9;
  text-align: center;
  margin-left: auto;
  cursor: pointer;
}

.schedule-header .form-check .form-check-input {
  float: none;
  margin-left: 0px;
  margin-top: 0.2rem;
  cursor: pointer;
}

.schedule-header .form-check-input:checked {
  background-color: #34a853;
}

.schedule-header .form-check .form-check-label {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-top: 0rem;
  margin-left: 0.3rem;
  color: var(--primary);
  cursor: pointer;
}

.schedule-body {
  display: flex;
  padding: 5px 10px 5px 10px;
  box-shadow: 2px 4px 6px 0px #d9d9d980;
}

.schedule-body .schedule-price {
  border-left: 1px solid #d9d9d9;
  text-align: center;
}

.schedule-price p {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
  color: #344050;
  top: 40%;
  position: relative;
}

.price-details p {
  margin-bottom: 0.3rem;
}

.expiration-details p {
  margin-bottom: 0.3rem;
}

.price-details-title {
  margin-left: 1rem;
}

.price-details-title img {
  margin-top: 10px;
  width: 18px;
  height: 18px;
}

.expiration-details-title {
  margin-left: 1rem;
}

.expiration-details-title img {
  margin-top: 10px;
  width: 18px;
  height: 18px;
}

.schedule-details-title {
  margin-left: 1rem;
}

.schedule-details-title img {
  margin-top: 10px;
  width: 18px;
  height: 18px;
}

.font-14 {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  padding: 0;
  color: #343d4c;
  padding: 10px 10px 0px 10px;
  margin: 0;
}

.font-16-d {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  padding-left: 10px;
  margin: 0;
  margin-left: 2rem;
}

.font-20 {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
}

.PE-details {
  display: flex;
}

.S-details {
  margin-bottom: 1rem;
}

.btn-show {
  color: #fff;
  background-color: #34a853;
  border-color: #34a853;
  height: auto;
  padding: 5px;
  width: 25%;
  font-size: 16px;
  font-family: nunito-bold;
  border-width: 0px;
  border-radius: 10px !important;
}

.recommended {
  color: #344050;
  font-family: nunito-extrabold;
  font-weight: 700;
  font-size: 10px;
  background-color: #f3d052;
  border-radius: 5px;
  padding: 4px;
  margin-right: 1rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

.recommended-mobile {
  display: none;
}

.recommended-desktop {
  display: flex;
  margin-top: 0.5rem;
}

/* media queries */
@media only screen and (max-width: 576px) {
  .img-human-right,
  .img-human-left {
    display: none;
  }

  .m-font-size-6 {
    font-size: 6px;
  }

  .m-font-size-10 {
    font-size: 10px;
  }

  .m-font-size-12 {
    font-size: 12px;
  }

  .m-font-size-16 {
    font-size: 16px;
  }

  .m-font-size-18 {
    font-size: 18px;
  }

  .m-font-size-24 {
    font-size: 24px;
  }

  .m-font-size-32 {
    font-size: 32px;
  }

  .m-laptop-icon {
    width: 20px;
    height: auto;
  }

  .m-padding-10 {
    padding: 10px !important;
  }

  .m-border-radius-10 {
    border-radius: 10px;
  }

  .m-margin-0 {
    margin: 0;
  }

  .m-margin-5 {
    margin: 5px !important;
  }

  .m-margin-top-10 {
    margin-top: 10px !important;
  }

  .m-margin-bottom-10 {
    margin-bottom: 10px;
  }

  .activity-summary-wrapper {
    background: #ffffff;
  }

  .activity-schedule-box {
    background: #f3f6fc;
  }

  .in-person-button {
    width: 121px;
    height: 32px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    padding: 8px 26px;
  }

  .online-button {
    width: 90px;
    height: 32px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    padding: 8px 26px;
  }

  .m-laptop-icon {
    width: 43px;
    height: 34px;
  }

  .experience-title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #ffa942;
  }

  .experience-description {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: justify;
    color: #343d4c;
  }

  .experience-location h3 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #ffa942;
  }

  .experience-location p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #343d4c;
  }

  .experience-schedules .text-capitalize {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #ffa942;
  }

  .activity-schedule-box .font-size-20 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: justify;
    color: #343d4c;
    text-align: center;
  }

  .activity-schedule-box .font-size-16 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: #515151;
    text-align: center;
  }

  .experience-provide .text-capitalize {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #ffa942;
  }

  .check-button {
    background-color: #ffffff;
  }

  .confirmation-description {
    text-align: justify;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .box-border {
    box-shadow: 2px 4px 10px 0px rgba(217, 217, 217, 0.25);
    border: 1px solid rgba(217, 217, 217, 1);
    margin: 1rem;
  }
  p {
    margin: 1rem;
  }
  .experience-confirmation-checkbox {
    margin: 0 1rem 0 1rem;
  }
  .experience-what-you-will-provide {
    margin: 0 1rem 0 1rem;
  }
  .confirmation-description {
    margin-bottom: 1rem;
  }
}
