.round-padding {
  padding: 1px 9px;
}

.empty-image-container {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #343d4c;
}

.empty-supporting-container {
  width: 540px;
  height: 350px;
}

#error-message-container {
  width: 100%;
  background-color: #ffd8d8;
  border: 1px solid #ffb2b2;
  color: #f25151;
  padding: 10px;
}
