.publish-read-more {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  right: 0;
  left: 0;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .box-border {
    box-shadow: 2px 4px 10px 0px rgba(217, 217, 217, 0.25);
    border: 1px solid rgba(217, 217, 217, 1);
  }
}
