::deep button {
    transition: transform .25s;
}
    ::deep button:active {
        transform: scale(.94);
    }
    ::deep button:focus {
        outline: none !important;
        box-shadow: none !important;
    }
#error-message-container {
    width: 100%;
    background-color: #ffd8d8;
    border: 1px solid #ffb2b2;
    color: #f25151;
    padding: 10px;
}
.ticket-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
}
.ticket-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.sub-text {
    color: #717171;
    text-align: justify;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.option-img{
    width: 40px;
    height: 44px;
}
.div-option-details {
    display: flex;
    gap: 20px;
    background-color: #FFF;
    border-radius: 8px;
    padding: 6px;
    cursor: pointer;
}
.accept-reg {
    display: flex;
    gap: 20px;
}
.registration {
    margin-bottom: 0;
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.reg-status {
    margin-bottom: 0;
    color: #717171;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.ticket-box {
    height: 238px;
    background: white;
    border-radius: 12px;
    padding:20px 16px 20px 16px;
}
.ticket-title {
    color: #717171;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
}
.ticket-price {
    color: #343D4C;
    font-family: Nunito-extrabold;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    margin-bottom:25px;
}
.approval {
    color: #000;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 8px;
}
.approval-text {
    color: #717171;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.form-switch .form-check-input:checked {
    background-color: #34A853;
    border: none;
}
.button-footer{
    display: flex;
    gap: 16px;
}
::deep .btn-cancel {
    border-radius: 8px;
    background-color: #F3F6FC;
    display: flex;
    padding: 15px;
    justify-content: center;
    width: 117px;
    color: #717171;
    font-family: Nunito;
    font-size: 16px;
}
::deep .btn-save {
    border-radius: 8px;
    background-color: #FFA942;
    display: flex;
    padding: 15px;
    justify-content: center;
    width: 117px;
    color: #FFF;
    font-family: Nunito;
    font-size: 16px;
}

.field-title {
    color: #343D4C;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px;
}
::deep .capacity-input {
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}
.accept-capacity {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}
.check-section{
    display: flex;
    margin-bottom:30px; 
}
.ticket-section-name{
    display: flex;
    justify-content: space-between;
}
.dropdown-item {
    color: #717171;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.btn-menu{
    border: none;
    background-color: transparent;
    line-height: 10px;
}
.round-padding {
    padding: 1px 9px;
}

.round-day {
  width: 35px;
  height: 35px;
  text-align: center;
  padding-top: 3px;
}

.box-width {
  width: 200px;
}

.cursor-none {
  cursor: not-allowed;
}

::deep .ticket-limit-group {
  display: flex;
}

::deep .ticket-limit-group label {
  line-height: 1.5;
  color: #717171;
  font-size: 20px;
}

::deep .ticket-limit-group .form-control {
  width: 15%;
}

.label-set-limit {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
  user-select: none;
}

@media only screen (min-width: 618px) and (max-width: 767px) {
    .ticket-box {
        height: auto;
    }
    .ticket-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 20px;
    }
    .ticket-options {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 26px;
    }

    .date-left {
        width: 60%;
    }

    .date-right {
        width: 35%;
    }

    ::deep .ticket-limit-group {
        display: flex;
    }

        ::deep .ticket-limit-group label {
            line-height: 1.5;
            color: #717171;
            font-size: 18px;
        }

        ::deep .ticket-limit-group .form-control {
            width: 50%;
            margin-top: 10%;
        }

    .specific-text {
        margin-top: 10%;
    }

    .label-set-limit {
        padding-right: 0;
        padding-left: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-transform: capitalize;
        cursor: pointer;
        user-select: none;
    }
}

@media only screen and (max-width: 407px) {
  .ticket-options {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 26px;
  }
  .date-left {
    width: 55%;
  }

  .date-right {
    width: 40%;
  }

  ::deep .ticket-limit-group .form-control {
    width: 50%;
    margin-top: 12%;
  }

  .specific-text {
    margin-top: 12%;
  }

  .label-set-limit {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
    user-select: none;
  }
}

@media only screen and (max-width: 991px) {
  .weekly-repeat-every .repeat-every-flex {
    flex-direction: column !important;
  }

  .weekly-repeat-every .repeat-every-flex > div:first-child {
    width: 100% !important;
    margin-bottom: 20px !important;
  }

  .weekly-repeat-every .repeat-every-flex > div:last-child {
    width: 100% !important;
  }
    .ticket-options {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 26px;
    }
    .ticket-box {
        height: auto;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .ticket-options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 26px;
    }
    .ticket-box {
        height: auto;
    }
}

@media only screen and (max-width: 617px){
    .div-option-details {
        background-color: #f3f6fc;
    }
    .ticket-box {
        background-color: #f3f6fc;
        height: auto;
    }
    .ticket-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}
