::deep .modal-content{
    border-radius: 10px;
}
::deep .modal-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.publish-read-more {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  right: 0;
  left: 0;
}
.view-calendar {
    display: inline-flex;
    padding: 10.5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #4BB749;
    border: none;
    color: white;
}
.event-name {
    color: #343D4C;
    font-family: Nunito-bold;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}
.prices-title {
    margin-top: 32px;
    color: #343D4C;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
.ticket-details .event-details{
    margin-bottom:16px;
}
.ticket-details {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.event-details {
    color: #717171;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}
.terms-link-text {
    color: #343D4C;
    text-align: justify;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.terms-link {
    text-align: justify;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Nunito';
    text-decoration-line: underline;
    margin: 0;
}
.terms-condition-section{
    margin-bottom: 10px;
    margin-left: 33px;
}
input:focus {
    outline: none !important;
    box-shadow: none !important;
}
.form-check {
    width: 100%;
    background-color:transparent;
    padding-top: 0.5rem;
    margin-right: 20px;
    margin-left: 10px;
}

    .form-check .form-check-input {
        float: none;
        margin-left: 0px;
    }
        .form-check .form-check-input:checked {
            background-color: #4BB749;
        }

        .form-check .form-check-label {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #717171;
        }

@media screen and (max-width: 767px) and (orientation: portrait) {
  .box-border {
    box-shadow: 2px 4px 10px 0px rgba(217, 217, 217, 0.25);
    border: 1px solid rgba(217, 217, 217, 1);
  }
}
