.publish-read-more {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  right: 0;
  left: 0;
}
.terms-link {
    cursor: pointer;
    font-size:20px;
    font-family:'Nunito';
    text-decoration-line: underline;
}
input:focus {
    outline: none !important;
    box-shadow: none !important;
}
.form-check {
    width: 100%;
    background-color:transparent;
    padding-top: 0.5rem;
    margin-right: 20px;
    margin-left: 10px;
}

    .form-check .form-check-input {
        float: none;
        margin-left: 0px;
    }
        .form-check .form-check-input:checked {
            background-color: #4BB749;
        }

        .form-check .form-check-label {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #717171;
        }

@media screen and (max-width: 767px) and (orientation: portrait) {
  .box-border {
    box-shadow: 2px 4px 10px 0px rgba(217, 217, 217, 0.25);
    border: 1px solid rgba(217, 217, 217, 1);
  }
}
