::deep button {
  transition: transform 0.25s;
}
::deep button:active {
  transform: scale(0.94);
}
::deep button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.unli-flag{
    justify-content: space-between;
}
.switch-toggle.switch-candy[b-7xmhspiomt],
.switch-light.switch-candy > span {
    width: 200px;
}
.switch-light.switch-candy span span,
.switch-light.switch-candy input:checked ~ span span:first-child,
.switch-toggle.switch-candy label {
  width: 100px;
  text-shadow: none;
  color: #717171;
  padding: 8px;
}

.switch-toggle.switch-candy,
.switch-light.switch-candy > span {
  background-color: #e5e5e5;
  border-radius: 8px;
  box-shadow: none;
}

.switch-candy a {
  background-color: white;
  border-radius: 8px;
  color: #343d4c;
  border: 1px solid #e5e5e5;
}

.switch-light.switch-candy input ~ span span:first-child,
.switch-light.switch-candy input:checked ~ span span:nth-child(2),
.switch-candy input:checked + label {
  padding: 8px;
  border-radius: 8px;
}

.switch-light.switch-candy span span[b-mhgi7i39ne],
.switch-light.switch-candy input:checked ~ span span:first-child[b-mhgi7i39ne],
.switch-toggle.switch-candy label[b-mhgi7i39ne] {
  padding: 8px;
  border-radius: 8px;
}
#error-message-container {
  width: 100%;
  background-color: #ffd8d8;
  border: 1px solid #ffb2b2;
  color: #f25151;
  padding: 10px;
}
.learn-more {
  cursor: pointer;
}
.ticket-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 26px;
}
.ticket-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.sub-text {
  color: #717171;
  text-align: justify;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.option-img {
  width: 40px;
  height: 44px;
  z-index: 2;
}

.option-name {
  position: relative;
  z-index: 2;
}

.div-option-details {
  position: relative;
  display: flex;
  gap: 20px;
  background-color: #fff;
  border-radius: 8px;
  padding: 6px;
  cursor: pointer;
  overflow: hidden;
}

.accept-reg {
  display: flex;
  gap: 20px;
}
.registration {
  margin-bottom: 0;
  color: #000;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.reg-status {
  margin-bottom: 0;
  color: #717171;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.ticket-box {
  height: auto;
  background: white;
  border-radius: 12px;
  padding: 20px 16px 20px 16px;
}
.ticket-title {
  color: #717171;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}
.ticket-price {
  color: #343d4c;
  font-family: Nunito-extrabold;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 25px;
}
.approval {
    color: #717171;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.approval-section{
    display: flex;
    gap:8px;
}
.info-img {
    width: 12px;
    height: 12px;
}
.approval-text {
    color: #717171;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.form-switch .form-check-input:checked {
  background-color: #34a853;
  border: none;
}
.button-footer {
  display: flex;
  gap: 16px;
}

::deep .btn-question {
  background: #CFFFCE;  
  color: #34A853 !important;
  border-radius: 8px;
  padding: 10px 16px;
  transition: ease-in-out 0.3s;
}

::deep .btn-question:hover {
  background: #34A853;
  color: #F3F6FC !important;
}

::deep .btn-cancel {
  border-radius: 8px;
  background-color: #f3f6fc;
  display: flex;
  padding: 15px;
  justify-content: center;
  width: 117px;
  color: #717171;
  font-family: Nunito;
  font-size: 16px;
}
::deep .btn-save {
  border-radius: 8px;
  background-color: #ffa942;
  display: flex;
  padding: 15px;
  justify-content: center;
  width: 117px;
  color: #fff;
  font-family: Nunito;
  font-size: 16px;
}

.field-title {
  color: #343d4c;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 5px;
}
::deep .capacity-input {
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  height: 56px;
}
.accept-capacity {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}
.check-section {
  display: flex;
  margin-bottom: 30px;
}
.ticket-section-name {
  display: flex;
  justify-content: space-between;
}
.dropdown-item {
  color: #717171;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.btn-menu {
  border: none;
  background-color: transparent;
  line-height: 10px;
}
.round-padding {
  padding: 1px 9px;
}

.round-day {
  width: 35px;
  height: 35px;
  text-align: center;
  padding-top: 3px;
}

.box-width {
  width: 200px;
}

.cursor-none {
  cursor: not-allowed;
}

::deep .ticket-limit-group {
  display: flex;
}

::deep .ticket-limit-group label {
  line-height: 1.5;
  color: #717171;
  font-size: 20px;
}

::deep .ticket-limit-group .form-control {
  width: 15%;
}

.label-set-limit {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
  user-select: none;
}
/*
@media only screen (min-width: 618px) and (max-width: 767px) {
  .ticket-box {
    height: auto;
  }
  .ticket-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 20px;
  }
  .ticket-options {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 26px;
  }

  .date-left {
    width: 60%;
  }

  .date-right {
    width: 35%;
  }

  ::deep .ticket-limit-group {
    display: flex;
  }

  ::deep .ticket-limit-group label {
    line-height: 1.5;
    color: #717171;
    font-size: 18px;
  }

  ::deep .ticket-limit-group .form-control {
    width: 50%;
    margin-top: 10%;
  }

  .specific-text {
    margin-top: 10%;
  }

  .label-set-limit {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
    user-select: none;
}
*/

@media only screen and (max-width: 407px) {
  .ticket-options {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 26px;
  }
  .date-left {
    width: 55%;
  }

  .date-right {
    width: 40%;
  }

  ::deep .ticket-limit-group .form-control {
    width: 50%;
    margin-top: 12%;
  }

  .specific-text {
    margin-top: 12%;
  }

  .label-set-limit {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
    user-select: none;
  }
}

@media only screen and (max-width: 991px) {
  .weekly-repeat-every .repeat-every-flex {
    flex-direction: column !important;
  }

  .weekly-repeat-every .repeat-every-flex > div:first-child {
    width: 100% !important;
    margin-bottom: 20px !important;
  }

  .weekly-repeat-every .repeat-every-flex > div:last-child {
    width: 100% !important;
  }
  .ticket-options {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 26px;
  }
  .ticket-box {
    height: auto;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .ticket-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
  }
  .ticket-box {
    height: auto;
  }
}

@media only screen and (max-width: 617px) {
  /*.div-option-details {
    background-color: #f3f6fc;
  }*/
  /*.ticket-box {
    background-color: #f3f6fc;
    height: auto;
  }*/
  .ticket-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
    ::deep .registration-section {
        background-color: #f3f6fc;
    }
}

.div-line {
  height: 4px;
  background-color: #d9d9d9;
}

.div-line-75 {
  height: 4px;
  background-color: #d9d9d9;
  width: 75%;
}

.white-bg-shadow {
  box-shadow: 0px 0px 48px 0px rgba(217, 217, 217, 0.6);
}

.effect {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  z-index: 1;
}

.effect.hover1 {
  width: 100px;
  height: 100px;
  filter: blur(50px);
  background: radial-gradient(circle, #34a853a7 25%, #cfffceaa 100%);
}

.effect.hover2 {
  width: 100px;
  height: 100px;
  filter: blur(50px);
  background: radial-gradient(circle, #ffaa427a 0%, #FFF3E1 100%);
}

.effect.hover3 {
  width: 100px;
  height: 100px;
  filter: blur(30px);
  background: radial-gradient(circle, #00D0927a 0%, #CFFFCE 100%);
}

.effect.hover4 {
  width: 200px;
  height: 300px;
  filter: blur(70px);
  background: radial-gradient(circle, #00D0927a 0%, #CFFFCE 100%);
}

.effect.hover5 {
  width: 200px;
  height: 300px;
  filter: blur(70px);
  background: radial-gradient(circle, #5aff57ba 0%, #CFFFCE 100%);
}

.effect.hover6 {
  width: 200px;
  height: 300px;
  filter: blur(70px);
  background: radial-gradient(circle, #fe4463b4 0%, #FFC1C4 100%);
}

.text-box {
  position: relative;
  z-index: 2;
  transition: ease-in-out 0.3s;
}

.image-holder{
  position: relative;
  z-index: 2;
}

.line-effect {
  position: relative;
  z-index: 2;
  transition: ease-in-out 0.3s;
}

.email-box {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 48px 0px rgba(217, 217, 217, 0.60);
}