.round-padding {
  padding: 1px 9px;
}

.round-day {
  width: 35px;
  height: 35px;
  text-align: center;
  padding-top: 3px;
}

.box-width {
  width: 200px;
}

.cursor-none {
  cursor: not-allowed;
}

@media only screen and (max-width: 767px) {
  .date-left {
    width: 60%;
  }
  .date-right {
    width: 35%;
  }

  .box-width {
    width: 45%;
  }
}

@media only screen and (max-width: 407px) {
  .date-left {
    width: 55%;
  }
  .date-right {
    width: 40%;
  }
}

@media only screen and (max-width: 991px) {
  .weekly-repeat-every .repeat-every-flex {
    flex-direction: column !important;
  }
  .weekly-repeat-every .repeat-every-flex > div:first-child {
    width: 100% !important;
    margin-bottom: 20px !important;
  }
  .weekly-repeat-every .repeat-every-flex > div:last-child {
    width: 100% !important;
  }
}
