.date-group {
    column-count: 2;
    column-gap: 1em;
}

.date-group p {
    font-size: 200px;
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    padding-bottom: 24px;
}

.monthly-text {
    font-size: 20px;
    font-weight: 700;
    color: white; /* Replace with the actual color */
    border-radius: 50rem;
    background-color: black; /* Replace with the actual color */
    user-select: none;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}