.date-group {
    column-count: 2;
}

.dates-text {
    user-select: none;
    padding: 10px;
    color: #343D4C;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px; 
}

  @media (min-width: 0px) and (max-width: 575.98px) {
    .dates-text {
        font-size: 14px;    
        background: #F3F6FC;
    }

    .date-group {
        column-count: 1;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768.98px) {
    .dates-text {
        background: #FFFFFF;
    }

  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .dates-text {
        background: #FFFFFF;
    }

    .date-group {
        column-count: 1;
    }
  
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {

  
  }
  
  @media (min-width: 1200px) {
    .dates-text {
        background: #FFFFFF;
        
    }
    

  }