.ote-activity-wrapper .sidebar-item:not(:last-child) {
  border-bottom: 0.5px solid rgba(217, 217, 217, 1);
}

.ote-activity-wrapper .sidebar-item {
  transition: all 0.3s;
}

.ote-activity-wrapper .sidebar-item img.img-active {
  display: none;
}

.ote-activity-wrapper .sidebar-item[data-active=""] {
  background-color: #ffa942;
  color: #ffffff;
}

.ote-activity-wrapper .sidebar-item[data-active=""] img.img-active {
  display: block;
}
@media (min-width: 588px) and (max-width: 767px) {
    .ote-activity-wrapper .sidebar-item{
        display: none !important;
    }
}
