body {
  font-family:'nunito';
}
.email-box {
  position: relative;
  box-shadow: 0px 0px 48px 0px rgba(217, 217, 217, 0.60);
  overflow: hidden;
}

.me-3 {
  z-index: 2;
}

.email-text {
  z-index: 2;
}

.effect {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  z-index: 1;
}

.effect.hover1 {
  width: 250px;
  height: 250px;
  filter: blur(100px);
  background: radial-gradient(circle, #fe4463b4 0%, #FFC1C4 100%);
}

.effect.hover2 {
  width: 250px;
  height: 250px;
  filter: blur(100px);
  background: radial-gradient(circle, #FDD8357a 0%, #FFF6CE 100%);
}
