::deep input:focus {
    outline: none !important;
    box-shadow: none !important;
}
.event-details-wrapper{
    margin-right: 20px;
    margin-left: 20px;
}
.back-button {
    border: none;
    background-color: transparent;
    margin-right: 1rem;
    color: #343D4C;
}
.back-text {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    margin-top: 1rem;
    color: var(--primary);
}
.ticket-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60PX;
    justify-items: center;
}
/*TABLE COMPONENTS CSS*/
.ticket-table{
    width: 100%;
}
::deep .tr-name {
    font-weight: 700;
}
::deep .tr-sold {
    color: #AD0C0C;
}
::deep .tr-available {
    color: #009220;
}
::deep th {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    background-color: #343D4C;
    color: #FFFFFF;
    height: 10px;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

::deep tr {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #343D4C;
    height: 60px;
    vertical-align: middle;
}

::deep td {
    padding: 10px 20px 10px 20px;
}

::deep table {
    border-collapse: separate;
    border-spacing: 0;
    outline: 1px solid #000000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
}

::deep tr:last-child td:first-child {
    border-bottom-left-radius: 0px;
}

::deep tr:last-child td:last-child {
    border-bottom-right-radius: 0px;
}
/*Event Details*/
.event-section{
    width: 100%;
}
.event-content {
    gap: 40px;
}
.event-image {
    width: 160px;
    height: 207px;
    border-radius: 10px;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;

}
.event-title {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    color: #FFA942;
}
.event-schedule, .event-location {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    color: #343D4C;
    line-height: 10px;
}
.event-ticket{
    line-height: 15px;
}
.event-slots {
    color: #FFA942;
    font-weight: 700;
}
.event-available {
    color: #4BB749;
    font-weight: 700;
}
.event-sold {
    color: #AD0C0C;
    font-weight: 700;
}
.overall-ticket {
    margin-top: 2rem;
}
/*Customer List Section*/
.customer-list {
    color: #343D4C;
}
    .customer-list .back-text {
        color: #343D4C;
        margin-top:2rem;
    }
    .customer-list .ticket-table {
        margin-top: 1rem;
    }
::deep .search-bar {
    width: 40%;
    height: 40px;
    background-color: #F3F6FC;
    color: #717171;
}
.search-box{
    display: flex;
    margin-top:1.5rem;
}
.btn-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
    font-family: "Nunito";
    color: #343d4c;
    font-weight: 700;
    max-width: 100px;
}
.check-button {
    border-style: none;
    background-color: transparent;
    padding: 0px;
}
::deep .customer-list .tr-name {
    color: #343D4C;
    font-weight: 500;
}

