.overview-section{
    margin-top:34px;
    display: flex;
    gap:40px;
}
.overview-details {
    width: 725px;
    gap: 40px;
    padding: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 48px 0px rgba(217, 217, 217, 0.60);
}
.event-image {
    border-radius: 12px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    width: 241px;
    height: 284px;
}
.event-details{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.event-schedule-details {
    display: flex;
    gap: 20px;
}
.event-img {
    width: 24px;
    height: 24px;
}
.event-title {
    color: #343D4C;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.event-schedule, .event-location {
    color: #717171;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}
.event-buttons{
    gap:16px;
    margin-top:37px;
}
.btn-event {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 0px 48px 0px rgba(217, 217, 217, 0.60);
    display: inline-flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    color: #343D4C;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    border: none;
}
.ticket-details {
    padding: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 48px 0px rgba(217, 217, 217, 0.60);
    width: 352px;
}
