::deep hr {
    margin:0;
}
::deep .title {
    color: #343D4C;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-top:35px;
    padding-left:24px;
}
.sub-text {
    color: #717171;
    text-align: justify;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.details-box {
    padding: 5px;
    border-radius:8px;
    border: 1px solid #E8E8E8;
    background: #FFF;
    margin-bottom: 1rem;
}
.waitlist-status {
    color: #FFF;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 2px;
    background: #D9D9D9;
    margin-top: 2rem;
    margin-right: 0.5rem;
}
.waitlist-approved {
    color: #FFF;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 3px;
    background: #4BB749;
    margin-top: 2rem;
    margin-right: 0.5rem;
}
.waitlist-declined {
    color: #FFF;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 2px;
    background: #D13636;
    margin-top: 2rem;
    margin-right: 0.5rem;
}
.details {
    display: flex;
    justify-content: space-between;
}
.approved-waitlist {
    color: green;
}
.timeline-section{
    padding: 10px;
}
.timeline-title {
    color: #343D4C;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
}
.customer-details{
    display: flex;
    gap: 15px;
    padding: 10px;
}
.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.registration {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    height: auto;
    background: white;
    border-radius: 12px;
    padding: 20px 16px 5px 16px;
    box-shadow: 0px 0px 48px 0px rgba(217, 217, 217, 0.60);
}
::deep .ticket-decline {
    background-color: #FFE5E7;
    color: #D13636;
    display: flex;
    width: 195px;
    height: 48px;
    padding: 14.5px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: ease-in-out 0.3s;
}

::deep .ticket-decline:hover {
    background-color: #D13636;
    color: white;
}


::deep .ticket-approve {
    background-color: #CFFFCE;
    color: #34A853;
    display: flex;
    width: 195px;
    height: 48px;
    padding: 14.5px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: ease-in-out 0.3s;
}

::deep .ticket-approve:hover {
    background-color: #34A853;
    color: #ffffff;
}

.reg-time {
    color: #343D4C;
    font-family: Nunito-extrabold;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.name {
    color: #717171;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}
.back-button {
    border: none;
    background-color: transparent;
    margin-right: 1rem;
    color: #343d4c;
}

.back-text {
    font-family: Nunito;
    font-weight: bolder;
    font-size: 24px;
    margin-top: 1rem;
    color: #343D4C;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}

.ticket-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    justify-items: center;
}
.ticket-purchase-details {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.registration {
    padding: 10px;
}
/*TABLE COMPONENTS CSS*/
::deep .table-list table tbody tr td:nth-child(4) span:last-child {
    display: none;
}

.ticket-details .ticket-table {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
}

    .ticket-details .ticket-table .table-list {
        border: 1px solid #343d4c;
        border-radius: 10px;
    }

::deep .th-id {
    text-align: left;
    border-top-left-radius: 10px;
}

::deep .th-name {
    text-align: left;
}

::deep .th-email {
    text-align: left;
}

::deep .th-status {
    text-align: left;
    border-top-right-radius: 10px;
}
::deep .approved-waitlist {
    font-family: "Nunito";
    color: #4BB749;
    text-align: left;
}
::deep .declined-waitlist {
    font-family: "Nunito";
    color: #FF2147;
    text-align: left;
}
::deep .tr-name {
    text-align: left;
}

::deep .tr-email {
    text-align: left;
}

::deep .tr-name {
    font-weight: 700;
}

::deep .tr-sold {
    color: #ad0c0c;
}

::deep .tr-available {
    color: #009220;
}

::deep .th-ticket {
    text-align: left;
    border-top-left-radius: 10px;
}

::deep .th-available {
    border-top-right-radius: 10px;
}

::deep th {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    background-color: #343d4c;
    color: #ffffff;
    height: 10px;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

::deep tr {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #343d4c;
    vertical-align: middle;
    text-align: center;
}

::deep td {
    padding: 10px 20px 10px 20px;
}
.customer-list {
    margin-top: 34px;
}
::deep .customer-list table {
    border-collapse: separate;
    border-spacing: 0;
    outline: 1px solid rgb(52, 61, 76);
    width: 100%;
    border-radius: 10px;
}

::deep tr:last-child td:first-child {
    border-bottom-left-radius: 0px;
}

::deep tr:last-child td:last-child {
    border-bottom-right-radius: 0px;
}
.btn-status {
    content: "Action";
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
    font-family: "Nunito";
    color: #343d4c;
    font-weight: 700;
    max-width: 100px;
}

.btn-action {
    border-radius: 8px;
    background: #F3F6FC;
    border: none;
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    color: #343D4C;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    transition: ease-in-out 0.3s;
}

.btn-action:hover {
    background: #343D4C;
    color: #F3F6FC;
}


.btn-approved {
    border-radius: 8px;
    background: #34A853;
    border: none;
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    transition: ease-in-out 0.3s;
}


.btn-declined {
    border-radius: 8px;
    background: #D13636;
    border: none;
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.customer-profile-details {
    margin-top: 59px;
}

::deep .customer-profile-details .nav {
    justify-content: start;
    gap: 50px;
}
/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /*Customer Table styling*/
    ::deep .table-list .b-table.table {
        border: 0 !important;
        box-shadow: none !important;
        outline: none;
    }

    ::deep .table-list table thead {
        display: none;
    }

    ::deep .table-list table tbody tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        border: 1px solid;
    }

        ::deep .table-list table tbody tr td {
            padding: 10px;
            font-size: 12px;
        }

            ::deep .table-list table tbody tr td:first-child {
                background-color: #343d4c;
                color: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

                ::deep .table-list table tbody tr td:first-child > span {
                    display: block;
                    margin-right: 10px;
                }

                ::deep .table-list table tbody tr td:first-child span::before {
                    content: "Name: ";
                    font-weight: bold;
                    width: 70%;
                }

            ::deep .table-list table tbody tr td:nth-child(2)::before {
                content: "Ticket: ";
                font-weight: bold;
            }
            ::deep .table-list table tbody tr td:nth-child(3) span:first-child {
                content: "Price: ";
                font-weight: bold;
                width: 100%;
            }

            ::deep .table-list table tbody tr td:nth-child(4) {
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                margin-bottom: 10px;
            }
    .btn-action {
        width: 50%;
        align-items: center;
    }

    .btn-approved {
        width: 50%;
        align-items: center;
    }

    .btn-declined {
        width: 50%;
        align-items: center;
    }
    .email-box {
        margin-top: 10px;
    }
}
/* For Mobile Portrait View */
@media screen and (max-width: 767px) and (orientation: portrait) {
   /*Customer Table styling*/
    ::deep .table-list .b-table.table {
        border: 0 !important;
        box-shadow: none !important;
    }

    ::deep .table-list table thead {
        display: none;
    }

    ::deep .table-list table tbody tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        border: 1px solid;
    }

    ::deep .table-list table tbody tr td {
        padding: 10px;
        font-size: 12px;
    }

    ::deep .table-list table tbody tr td:first-child {
        background-color: #343d4c;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        ::deep .table-list table tbody tr td:first-child > span {
            display: block;
            margin-right: 10px;
        }

        ::deep .table-list table tbody tr td:first-child span::before {
            content: "Name: ";
            font-weight: bold;
            width: 70%;
        }

    ::deep .table-list table tbody tr td:nth-child(2)::before {
        content: "Ticket: ";
        font-weight: bold;
    }

    ::deep .table-list table tbody tr td:nth-child(3)::before {
        content: "Price: ";
        font-weight: bold;
    }
    ::deep .table-list table tbody tr td:nth-child(4) {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .btn-action {
        width: 50%;
        align-items: center;
    }
    .btn-approved {
        width: 50%;
        align-items: center;
    }
    .btn-declined {
        width: 50%;
        align-items: center;
    }
    ::deep .tr-ticket {
        text-align: left;
    }
    ::deep .customer-list table {
        outline: none;
    }
    .email-box {
        margin-top: 10px;
    }
}

@media screen and (min-width: 618px) and (max-width : 767px) {
    .customer-filter {
        display: block;
    }

    .btn-export {
        margin-bottom: 0.5rem;
        width: 100%;
    }
    /*Customer Table styling*/
    ::deep .table-list .b-table.table {
        border: 0 !important;
        box-shadow: none !important;
    }

    ::deep .table-list table thead {
        display: none;
    }

    ::deep .table-list table tbody tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        border: 1px solid;
    }

        ::deep .table-list table tbody tr td {
            padding: 10px;
            font-size: 12px;
        }

            ::deep .table-list table tbody tr td:first-child {
                background-color: #343d4c;
                color: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

                ::deep .table-list table tbody tr td:first-child > span {
                    display: block;
                    margin-right: 10px;
                }

                ::deep .table-list table tbody tr td:first-child span::before {
                    content: "Name: ";
                    font-weight: bold;
                    width: 70%;
                }

            ::deep .table-list table tbody tr td:nth-child(2)::before {
                content: "Ticket: ";
                font-weight: bold;
            }

            ::deep .table-list table tbody tr td:nth-child(3)::before {
                content: "Price: ";
                font-weight: bold;
            }

            ::deep .table-list table tbody tr td:nth-child(4) {
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                margin-bottom: 10px;
            }

    .btn-action {
        width: 50%;
        align-items: center;
    }

    .btn-approved {
        width: 50%;
        align-items: center;
    }

    .btn-declined {
        width: 50%;
        align-items: center;
    }
    .email-box {
        margin-top: 10px;
    }
}


.shared-link-btns {
    width: 184px;
}
