::deep button {
    transition: transform .25s;
}

    ::deep button:active {
        transform: scale(.94);
    }
.payout-account-content {
  font-family: "Nunito";
}

.font-30 {
  font-size: 30px;
}

.font-20 {
  font-size: 20px;
}

.font-16 {
  font-size: 16px;
}

.weight-700 {
  font-weight: 700;
}

.color-black-100 {
  color: #343d4c;
}

.color-grey-100 {
  color: #717171;
}

.payout-account-content-details {
  width: 500px;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .payout-account-content-details {
    width: 100%;
  }
}
