.breadcrumb-circle {
  padding-left: 8px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

/* for app name styling */
.app-name {
  color: var(--primary);
  font-family: "Backline";
  font-size: 1.6vw;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .app-name {
    font-size: 3vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .app-name {
    font-size: 2.5rem;
  }
}

/* For Mobile Portrait View */
@media screen and (max-width: 767px) and (orientation: portrait) {
  .app-name {
    font-size: 2.5rem;
  }
}
