.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    height: 3vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    font-size: 1vw;
    font-family: 'Nunito-Bold';
    border-width: 0px;
}

.btn-primary:hover{
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:focus{
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}


@media screen and (max-width: 767px) {
    .btn-primary {
        width: 100% !important;
        height: 12vw;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 767px) {
    .btn-primary {
        height: 3.8vw;
        font-size: 1.3vw;
    }
}