.footer {
    height: 128px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 120px;
    background-color: white;
    position: relative;
}

.footer-content {
    text-align: left;
    width: 100%;
    top: 10%;
}
.footer-appname {
    font-family: 'Backline';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 103px;
    color: #FFA942;
}

.footer-text {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

a{
    text-decoration: none;
    color: black;
}
a:hover {
    color: var(--primary);
}
@media screen and (max-width: 767px) and (orientation: portrait) {
    .footer-appname {
        font-family: 'Backline';
        font-size: 5vw;
    }

    .footer-text {
        font-family: 'Inter';
        font-size: 2.3vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .footer-appname {
        font-family: 'Backline';
        font-size: 4vw;
    }

    .footer-text {
        font-family: 'Inter';
        font-size: 2vw;
    }
}

