.footer {
    height: 128px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: white;
    position: relative;
}

.footer-content {
    text-align: left;
    position: absolute;
    width: 100%;
    top: 10%;
}
.footer-appname {
    font-family: 'Backline';
    font-size: 1.8rem;
}

.footer-text {
    font-family: 'Inter';
    font-size: 1.1rem;
}

