body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
  }
  
  @font-face {
    font-family: 'Rockwell Bold';
    src: url('/fonts/rockwell-cufofonts/fonnts.com-Rockwell_Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
  
  .btn-close-modal {
    display: flex;
    padding: 18px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #4285F4;
    border: none;
    color: #fff;
    transition: ease-in-out 0.3s;
  }
  
  .btn-close-modal:hover {
    background: #fff;
    border: 1px solid #4285F4;
    color: #4285F4;
  }
  
  .header-modal {
    display: flex;
  }
  
  .header-modal-subtext {
    color: #717171;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Nunito;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 0px;
  }
  
  .header-modal-title {
    color: #343D4C;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 35px; /* 175% */
  }
  .partner-logo {
    transition: transform 0.3s ease-in-out;
  }
  
  .partner-logo:hover {
    transform: scale(1.05);
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border-radius: 20px;
    padding: 40px 32px;
    border: 1px solid #888;
    width: 454px;
    height: auto;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .success {
    color: #717171;
    text-align: justify;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .error {
    color: #717171;
    text-align: justify;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .footer-button-blogs,
  .footer-button-about {
    cursor: pointer;
  }
  
  .footer-email-input {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
  }
  
  .footer-email-input-box {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  
  .footer-email-button {
    padding: 8px 9px;
    background-color: #FFA942;
    color: white;
    border: 1px solid #FFA942;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: ease 0.5s;
  }
  
  .footer-email-button:hover {
    background-color: #007bff;
    border: 1px solid #007bff;
  }
  
  
  .footer-title-text {
    color: #E8E8E8;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 0px;
  }
  
  .footer-title-text-nav {
    color: #E8E8E8;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 0px;
  }
  
  .footer-sub-newsletter-text {
    color: #E8E8E8;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .footer-sub-newsletter-text2 {
    color: #E8E8E8;
    font-family: "Nunito Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer-container-wider.align-items-footer {
    display: none;
  }
  
  .social-media-href-button {
    text-decoration: none;
    color: #E8E8E8;
  }
  
  .cinnamon-support-email {
    text-decoration: none;
    outline: none;
    color: #E8E8E8;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: ease 0.5s;
  }
  
  .cinnamon-support-email:hover {
    color: #FFA942;
  }

  
  .align-items-center {
    margin-bottom: 30px;
    gap: 12.5%
  }
  
  .footer-container,
  .line-container,
  .footer-final {
    box-sizing: border-box;
    width: 100%;
  }

  .footer-final {
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 37px;
  }
  
  .footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E8E8E8;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0px !important;
  }
  
  .footer-copyright p {
    margin-bottom: 0px !important;
  }
  
  .footer-text-media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .footer-copyright .fab {
    display: flex;
    align-items: center;
    margin-left: 5px;
    align-items: center;
    font-size: 1.3rem;
    margin-right: 20px;
  }
  
  .align-items-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
  }
  
  .footer-final-social-media {
    display: flex;
    align-items: left;
    gap: 14.545px;
  }
  
  .footer-final-social-media .fa-facebook,
  .footer-final-social-media .fa-linkedin,
  .footer-final-social-media .fa-tiktok,
  .footer-final-social-media .fa-instagram,
  .footer-final-social-media .fa-youtube,
  .footer-support-email .fa-envelope {
    color: #E8E8E8;
    transition: color 0.5s ease;
  }
  
  .fa-envelope:hover {
    color: #FFA942; /* Email color */
  }
  .fa-facebook:hover {
    color: #FFA942; /* Facebook color */
  }
  
  .fa-linkedin:hover {
    color: #FFA942; /* LinkedIn color */
  }
  
  .fa-tiktok:hover {
    color: #FFA942; /* TikTok color */
  }
  
  .fa-instagram:hover {
    color: #FFA942; /* Instagram color */
  }
  
  .fa-youtube:hover {
    color: #FFA942; /* YouTube color */
  }
  
  
  /* end of footer final */
  
  /* footer */
  .section-4 {
    background: #343D4C;
    width: 100%;
    flex-shrink: 0;
    gap: 20px;
  }
  
  .footer-email-social-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 26px;
  }
  
  .footer-text-about-container {
    display: flex;
    flex-direction: column;
  }
  
  .footer-text-events-container {
    display: flex;
    flex-direction: column;
  }
  
  .footer-text-connect-container {
    display: flex;
    flex-direction: column;
  }
  
  .footer-text {
    color: #FFA942;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 250% */
    margin-bottom: 0px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .footer-info {
    display: flex;
    flex-direction: column;
  }
  
  .footer-nav {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 12px;
    margin-top: 7px;
  }
  
  .footer-nav a {
    text-decoration: none;
    outline: none;
    color: #E8E8E8;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: ease 0.5s;
  }
  
  .footer-nav a:hover {
    color: #FFA942;
  }
  
  .footer-nav-2 {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 12px;
    margin-top: 7px;
  }
  
  .footer-nav-2 a {
    text-decoration: none;
    outline: none;
    color: #E8E8E8;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: ease 0.5s;
  }
  
  .footer-nav-2 a:hover {
    color: #FFA942;
  }
  
  .footer-support-email {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-top: 6px;
    transform: ea;
  }
  
  
  
  .footer-support-email a {
    margin-bottom: 0px !important;
    color: #E8E8E8;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: ease 0.5s;
  }
  
  .footer-support-email:hover,
  .footer-support-email:hover .far,
  .footer-support-email:hover p{
    color: #FFA942;
  }
  
  .footer-support img {
    margin-right: 10px;
  }
  
  .align-items {
    display: flex;
    align-items: flex-start;
  }
  
  .line-container {
    display: flex;
    justify-content: center;
  }
  
  .line {
    height: 1px;
    width: 90%;
    background: #E8E8E8; /* Change this to the color you want for the line */
  }
  
  /* end of footer */
  
  /* Extra small devices (portrait phones, less than 576px) */
  @media (min-width: 0px) and (max-width: 426px) {
  
    .footer-title-text {
      font-size: 18px;
    }
  
    .footer-sub-newsletter-text {
      font-size: 12px;
    }
  
    .footer-sub-newsletter-text2 {
      font-size: 12px;
    }
  
    .footer-email-social-container {
      margin-bottom: 0px;
    }
  
    .footer-email-input {
      width: auto;
    }
  
    .footer-text-events-container {
      width: 100%;
    }
  
    .footer-title-text-nav {
      position: relative;
   }
  
   .footer-title-text-nav::after {
    content: '▼';
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
    .footer-email-social-container {
      margin-bottom: 0px;
    }
  
    .footer-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .footer-text-about-container {
      margin-bottom: 16px;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #FFF;
    }
  
    .footer-text-events-container {
      margin-bottom: 16px;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #FFF;
    }
  
    .footer-info p  {
      display: flex;
      justify-content: left;
    }
  
    .footer-final{
      display: flex;
      justify-content: center;
    }
  
    .footer-final-mobile {
      display: flex;
    }
  
    .footer-copyright p {
      font-size: 12px;
    }
  
    .footer-final-social-media {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 32px;
    }
  
    .footer-final-social-media .fab {
      margin-right: 10px;
      font-size: 1rem;
    }
  
    .footer-container {
      flex-direction: column;
      justify-content: left;
    }
  
    .footer-logo img {
      width: 120px;
    }
  
    .footer-column {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
  
    .footer-nav {
      align-items: flex-start;
      justify-content: flex-start;
      display: none;
    }
  
    .footer-nav-2 {
      align-items: flex-start;
      justify-content: flex-start;
      display: none;
    }
  
    .footer-nav.active {
      align-items: flex-start;
      justify-content: flex-start;
      display: flex;
    }
  
    .footer-nav-2.active {
      align-items: flex-start;
      justify-content: flex-start;
      display: flex;
    }
  
    .footer-support-email {
      justify-content: flex-start;
      margin-bottom: 1rem;
    }
  
    .footer-text-media-container {
      flex-direction: column;
    }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 426px) and (max-width: 766px) {
  
    .footer-email-social-container {
      margin-bottom: 0px;
    }
  
    .footer-email-input {
      width: 414px;
    }
  
    .footer-text-events-container {
      width: 100%;
    }
  
    .footer-title-text-nav {
      position: relative;
   }
  
   .footer-title-text-nav::after {
    content: '▼';
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

    .footer-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .footer-text-about-container {
      margin-bottom: 16px;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #FFF;
    }
  
    .footer-text-events-container {
      margin-bottom: 16px;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #FFF;
    }
  
    .footer-info p {
      display: flex;
      justify-content: left;
    }
  
    .footer-final {
      display: flex;
    }
  
    .footer-final-mobile {
      display: flex;
    }
  
    .footer-final-social-media {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 32px;
    }
  
    .footer-final-social-media .fab {
      margin-right: 10px;
    }
  
    .footer-container {
      flex-direction: column;
      align-items: left;
    }
  
    .footer-logo .img {
      width: 126px;
    }
  
    .footer-column {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
  
    .footer-nav {
      align-items: flex-start;
      justify-content: flex-start;
      display: none;
    }
  
    .footer-nav-2 {
      align-items: flex-start;
      justify-content: flex-start;
      display: none;
    }
  
    .footer-nav.active {
      align-items: flex-start;
      justify-content: flex-start;
      display: flex;
    }
  
    .footer-nav-2.active {
      align-items: flex-start;
      justify-content: flex-start;
      display: flex;
    }
  
    .footer-support-email {
      justify-content: flex-start;
      margin-bottom: 1rem;
      margin-top: 18px;
    }
  
    .footer-text-media-container {
      flex-direction: column;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 767px) and (max-width: 1023px) {
  
    .footer-email-social-container {
      margin-bottom: 0px;
    }
  
    .footer-text-support-container {
      display: flex;
      flex-direction: row;
      gap: 40px;
    }
  
    .footer-email-input {
      width: 414px;
    }
  
    .footer-text-events-container {
      width: 100%;
    }
  
    .footer-title-text-nav {
      position: relative;
   }
  
   .footer-title-text-nav::after {
    content: '▼';
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
    .footer-email-social-container {
      gap: 34px;
    }
  
    .footer-text-about-container {
      margin-bottom: 16px;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #FFF;
    }
  
    .footer-text-events-container {
      margin-bottom: 16px;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #FFF;
    }
  
    .footer-text {
      display: flex;
      justify-content: center;
      margin-bottom: 12px;
    }

    .footer-final {
      display: flex;
    }
  
    .footer-final-tablet {
      display: flex;
    }
  
    .footer-column {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .footer-final-social-media {
      display: flex;
      align-items: center;
      flex-direction: row;
      align-items: end;
    }
 
    .footer-text-media-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
      width: fit-content;
    }
  
    .align-items-footer {
      flex-direction: column;
      align-items: left;
    }
  
    .footer-info p {
      width: 696px;
      text-align: left; 
    }
  
    .footer-nav {
      align-items: flex-start;
      justify-content: flex-start;
      display: none;
    }
  
    .footer-nav-2 {
      align-items: flex-start;
      justify-content: flex-start;
      display: none;
    }
  
    .footer-nav.active {
      align-items: flex-start;
      justify-content: flex-start;
      display: flex;
    }
  
    .footer-nav-2.active {
      align-items: flex-start;
      justify-content: flex-start;
      display: flex;
    }
  }
  
  
  @media (min-width: 1441px){
    .footer-container {
      display: none;
    }
  
    .footer-container-wider.align-items-footer {
      display: flex;
    }
  }
  /* For specific desktop screen */
  @media (min-width: 1024px) and (max-width: 1400px) {
  
    .footer-text-media-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
      width: fit-content;
    }
  
    .align-items-footer {
      gap: 20px;
    }
  
    .footer-info p {
      width: 369px; 
    }
  
    .footer-nav {
      align-items: flex-start;
      justify-content: flex-start;
    }
  
    .footer-nav-2 {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
