.select-calendar-wrapper .input {
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  width: 522px;
}

.select-calendar-wrapper .calendar-container {
  position: absolute;
}

.select-calendar-wrapper .calendar-wrapper {
  width: 100%;
}
@media only screen and (max-width: 766px) {
    .select-calendar-wrapper .input {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}
