.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    height: 3vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    font-size: 1vw;
    font-family: 'Nunito-Bold';
    border-width: 0px;
}
