.gallery-image-viewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
}

.image-preview {
  width: 400px;
  height: auto;
}

.preview-tools {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .close-preview {
    width: 20px;
    height: auto;
  }
  .count-preview {
    font-size: 14px;
  }
}
