.gallery-image-viewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
}

.image-preview {
  width: 400px;
  height: auto;
}

.preview-tools {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .close-preview {
    width: 20px;
    height: auto;
  }
  .count-preview {
    font-size: 14px;
  }
}

.gallery {
  max-width: 1224px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  margin-left: 3vw;
  margin-right: 3vw;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.gallery__item--2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.gallery__item--3 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

/* Media query for screens smaller than 767px */
@media (max-width: 767px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

    margin-left: 0vw;
    margin-right: 0vw;
  }

  .gallery__item--1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .gallery__item--2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .gallery__item--3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
}
