button {
    transition: transform .25s;
}
    button:active {
        transform: scale(.94);
    }

@media (min-width: 0px) and (max-width: 575.98px) {
    .caption-bold {
        width: 241px;
        height: 27px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #343D4C;
    }

    .caption-secondary {
        height: 27px;
       
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #717171;
    }

    #btnExploreMore {
        width: 206px;
        height: 60px;
        background: #FFA942;
        border-radius: 5px;
    }

    .contact-img {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .caption-bold {
        width: 241px;
        height: 27px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #343D4C;
    }

    .caption-secondary {
        height: 27px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #717171;
    }

    #btnExploreMore {
        width: 206px;
        height: 60px;
        background: #FFA942;
        border-radius: 5px;
    }

    .contact-img {
        width: 317px;
        height: 198px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .caption-bold {
        width: 241px;
        height: 27px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #343D4C;
    }

    .caption-secondary {
        height: 27px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #717171;
    }

    #btnExploreMore {
        width: 206px;
        height: 60px;
        background: #FFA942;
        border-radius: 5px;
    }

    .contact-img {
        width: 317px;
        height: 198px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .caption-bold {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #343D4C;
    }

    .caption-secondary {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #717171;
    }

    #btnExploreMore {
        width: 206px;
        height: 60px;
    }
    .contact-section {
        padding-left: 50px;
        padding-top: 50px
    }
}

@media (min-width: 1200px) {
    .caption-bold {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #343D4C;
    }

    .caption-secondary {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #717171;
    }

    #btnExploreMore {
        width: 206px;
        height: 60px;
    }
    .contact-section {
        padding-left: 200px;
        padding-top: 50px
    }
}
