/* Style the form */

* {
    font-family: 'Varela Round', sans-serif;
}
::deep button {
    transition: transform .25s;
}

    ::deep button:active {
        transform: scale(.94);
    }
.publish-container {
    font-family: 'Nunito';
    width: 80%;
    padding: 1rem;
    text-align: center;
    margin-left: 8%;
}

.publish-text h6 {
    margin-top: 2rem;
}

.publish-text h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 4vw;
}

.button-container {
    display: flex;
    justify-content: left;
    margin-top: 40px;
    overflow: auto;
}

::deep .button-container .btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    height: auto;
    padding: 5px;
    font-size: 20px;
    font-family: "Nunito-Bold";
    border-width: 0px;
    margin: 0 auto;
    height: 55px;
    width: 130px;
    border-radius: 5px;
}

::deep .button-container .btn-back {
    color: white;
    background-color: #D9D9D9;
    border-color: #D9D9D9;
    padding: 5px;
    font-size: 20px;
    font-family: "Nunito-Bold";
    height: 55px;
    width: 100px;
    border-radius: 5px;
    margin-right: 20px;
}

.fa-spin {
    font-size: 15px;
}

#regForm {
    width: 80%;
    padding: 30px;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 10px;
}

a {
    text-decoration: none;
    font-family: 'Nunito';
    color: #000000;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+);
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}
/* Make circles that indicate the steps of the form: */
.step {
    opacity: 0.5;
    display: flex;
    align-items: center;
}

.tab.show {
    display: inline;
}

.icon-step {
    height: 23px;
    width: 23px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    text-align: center;
    font-size: 1rem;
    margin-left: 10px;
}
    /* Mark the active step: */
    .icon-step.active {
        opacity: 1;
        background-color: #FFA942;
    }

.step.active {
    opacity: 1;
}

.step.finish {
    color: black;
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.icon-step.finish {
    background-color: #107c41;
    color: black;
    opacity: 1;
}

.nav-breadcrumbs {
    width: 100%;
    font-size: 1.3rem;
    background-color: white;
    padding: 15px 50px;
    position: absolute;
    top: 70px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    z-index: 9999;
}

.breadcrumb {
    display: flex;
    margin-bottom: 0px !important;
}

.step-yellow {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: left;
    margin-top: 40px;
}

.progress {
    background-color: rgba(255, 169, 66, 0.3);
    height: 0.5rem;
}

    .progress .progress-bar {
        border: none;
        background-color: #FFA942;
    }

    .progress::after {
        border: 1px solid #fff;
        border-radius: 0%;
    }

.progress-bar-section {
    margin-bottom: 80px;
}

.progress-details {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #343D4C;
}

.experience-heading {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #343D4C;
    margin-bottom: 45px;
}

.nav-pills .nav-link.active {
    background: #FFA942;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.nav-pills .nav-link {
    padding: 15px 20px;
    border-bottom: 0.5px solid #D9D9D9;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2C3642;
}

#v-pills-tab {
    width: 285px;
    background: #F3F6FC;
    border-radius: 10px;
}

.menu-badge {
    background: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.menu-badge-icon {
    color: #FFA942;
    margin-top: 3px;
}

.carousel-control-prev, .carousel-control-next {
    width: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 50%;
    opacity: 1;
    position: relative;
    z-index: 0;
}

.carousel-control-prev {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.experience-progress-wrapper {
    background: #F3F6FC;
    border-radius: 3px;
    padding: 15px 27px;
    margin-bottom: 20px;
}

.triangle, .triangle-reverse {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #ffffff;
    border-bottom: 5px solid transparent;
}

.experience-progress-label {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #343D4C;
}

.next-button-section {
    display: flex;
    justify-content: end;
}

.save-later-section {
    display: flex;
    justify-content: right;
}

::deep .save-later-section .btn {
    width: 166px;
    height: 44px;
    background: #4BB749 !important;
    border-radius: 5px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.save-later-button-section{
    display: flex;
    justify-content: left;
}

.guide-title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #2C3642;
    margin-bottom: 17px;
}

.dashed-divider {
    border: 1px dashed #D9D9D9;
    margin-top: 30px;
    margin-bottom: 20px;
}

.creation-guide-step-1 {
    margin-bottom: 40px;
}

.creation-guide-step-6 {
    margin-bottom: 50px;
}

.invalid-icon{
    width: 30px;
    height: 30px;
}

.display-error {
    color: #f25151;
    font-weight: 700 !important;
    font-family: 'Nunito';
    width: 60%;
    margin-top: 20px;
}

@media (min-width: 0px) and (max-width: 575.98px) {
    .carousel-control-prev, .carousel-control-next {
        width: 20px;
        height: 20px;
    }

    #experience-progress .carousel-item {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #343D4C;
    }

    .progress-bar-section {
        margin: 24px;
    }

    #regForm {
        padding: 5px 0 0 0;
        width: 100%;
        margin-top: 60px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin: 40px;
        overflow: visible;
    }

        .button-container .row div {
            padding: 0px;
        }

        ::deep .button-container .btn-primary {
            width: 165px;
            border-radius: 5px;
        }

    ::deep .button-container .btn-back {
        width: 160px;
    }

    ::deep .save-later-section-mobile .btn {
        width: 133px;
        height: 40px;
        background: #4BB749 !important;
        border-radius: 5px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
    }

    .save-later-section-mobile {
        padding: 0 24px;
        margin-bottom: 24px;
    }

    .tab-content-section {
        border-radius: 10px;
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .landing-sm {
        display: block;
    }

    .landing-md {
        display: none;
    }

    .btn-primary {
        font-size: 3.5vw;
    }

    #regForm {
        margin-top: 110px;
        width: 100%;
    }

    .publish-text .btn-primary {
        font-size: 1rem;
        width: 100%;
        padding: 10px;
    }

    .publish-text h2 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0px;
    }

    .publish-text p {
        font-size: 0.8rem;
        margin: 0px;
    }

    .publish-container {
        font-family: 'Nunito';
        width: 100%;
        margin-left: 0px;
    }

    .progress {
        height: 10px;
        border-radius: 20px;
    }

        .progress:after {
            border: 2px solid #f5f5f5;
            border-radius: 20px;
        }

    .progress-container {
        width: 100%;
        font-size: 1.3rem;
        background-color: white;
        padding: 20px;
        margin: 1px auto;
        position: absolute;
        top: 50px;
    }

    .progress-bar {
        background-color: #00875a;
        border-radius: 20px;
    }

    .tab-content-section {
        border-radius: 10px;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .landing-sm {
        display: none;
    }

    .landing-md {
        display: block;
    }

    .publish-container {
        background-image: url('../../images/PublishBackground.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    #publish-image {
        display: none;
    }

    .tab-content-section {
        border-radius: 10px;
        width: 793px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .tab-content-section {
        border-radius: 10px;
        width: 793px;
    }
}

@media (min-width: 1200px) {
    .tab-content-section {
        border-radius: 10px;
        width: 793px;
    }
}
