/* Style the form */

* {
    font-family: 'Varela Round', sans-serif;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    height: auto;
    padding: 5px;
    font-size: 1.2vw;
    font-family: 'Nunito-Bold';
    border-width: 0px;
    margin: 0 auto;
    border-radius: 5px;
}

#regForm {
    width: 80%;
    padding: 30px;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 10px;
}


/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    opacity: 0.5;
    display: flex;
    align-items: center;
}

.icon-step {
    height: 23px;
    width: 23px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    text-align: center;
    font-size: 1rem;
    margin-left: 10px;
}

.progress-container {
    width: 100%;
    font-size: 1.3rem;
    background-color: white;
    padding: 20px;
    margin: 1px auto;
    position: fixed;
    top: 50px;
}

.progress-bar {
    background-color: #FFA942;
}

/* Mark the active step: */
.icon-step.active {
    opacity: 1;
    background-color: #FFA942;
}

.step.active {
    opacity: 1;
}

.step.finish {
    color: black;
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.icon-step.finish {
    background-color: #107c41;
    color: black;
    opacity: 1;
}

.nav-breadcrumbs {
    width: 100%;
    font-size: 1.3rem;
    background-color: white;
    padding: 15px 50px;
    position: fixed;
    top: 70px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.breadcrumb {
    display: flex;
    margin-bottom: 0px !important;
}

.step-yellow {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

@media screen and (max-width: 767px) {
    .landing-sm {
        display: block;
    }

    .landing-md {
        display: none;
    }

    .btn-primary {
        font-size: 3.5vw;
    }

    #regForm {
        margin-top: 110px;
        width: 100%;
    }
}

@media screen and (min-width: 767px) {
    .landing-sm {
        display: none;
    }

    .landing-md {
        display: block;
    }
}

@media (min-width: 1200px) {
}
