* {
    font-family: 'Nunito';
}

.activity-image-container {
    color: white;
}

.circle {
    width: 70px;
    height: 40px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    border-radius: 100px;
}

.landing-header {
    font-family: 'Backline';
}

.footer {
    height: 128px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: white;
    position: relative;
}

.footer-content {
    text-align: left;
    position: absolute;
    width: 100%;
    top: 10%;
}

.footer-appname {
    font-family: 'Backline';
    font-size: 2vw;
}

.footer-text {
    font-family: 'Inter';
    font-size: 1vw;
}

