.cinnamon-logo {
  display: none;
}

.top-row {
  background-color: white;
  border-bottom: 1px solid var(--lineColor);
  justify-content: flex-start;
  aspect-ratio: 1600/74;
  width: 100%;
  display: flex;
  align-items: center;
}

.top-row ::deep a {
  white-space: nowrap;
  margin-left: 1.5rem;
}

.top-row a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-name {
  color: var(--primary);
  font-family: "Backline";
  font-size: 1.6vw;
  text-decoration: none;
}

.menu {
  position: relative;
  height: 32%;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.dropdown {
  font-family: "Nunito";
  font-size: 0.5vw;
}

a.dropdown-item {
  margin-left: auto;
  display: none;
}

.dropdown-mobile {
  font-family: "Nunito";
  font-size: 0.5vw;
}

.menu img {
  aspect-ratio: 1;
  width: 25%;
}

.input-group {
  width: 50%;
}

.home-logo {
  display: none;
}

.btn-primary {
  width: 50%;
  background-color: #ffa942;
  color: black;
  font-family: "Nunito";
  padding: 15px 15px;
  border: none;
}

.form-control {
  width: 70%;
  border-color: #ffa942;
  border: 2px solid #ffa942;
  border-radius: 10px;
  color: black;
  font-family: "Nunito";
  margin: auto;
}

.cards-wrapper {
  display: flex;
  padding-top: 20px;
}

.cards-wrapper a {
  text-align: center;
}

.carousel-list {
  height: 75px;
  width: 100px;
}

.categories-container {
  display: flex;
  justify-content: space-around;
}

img.img-icon,
img.img-icon-home {
  margin-top: 0.5rem;
  height: 50%;
}

.card-title {
  font-size: 14px;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.card-slider {
  margin: 0 1.5em;
  border: 1px;
  height: 30%;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #757474;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 30px;
  margin-left: 30px;
  filter: invert(100%);
}

.carousel-list {
  text-decoration: none;
  color: inherit;
}

.categories .swiper-slide:hover img {
  filter: brightness(0) invert(1);
}

.activity-sm .swiper-slide:hover,
.categories .swiper-slide:hover,
.carousel-list:hover {
  color: #fff;
  background-color: #ffa942;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  https: ; //localhost:7213/images/landing-page-images/landing_page_pic4.webp
}

.btn-light {
  background-color: #fff;
  border-color: #e4e4e4;
}

.filter {
  text-decoration: none;
  padding-top: 30px;
  font-family: "Nunito";
  width: 70%;
}

.list-menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list-menu a {
  color: #343a40;
}

.section-3-md {
  display: none;
}

.card {
  margin: 0 1em;
  border: 1px;
}

.card-title1 {
  font-size: 16px;
  font-family: "Nunito";
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  cursor: pointer;
}

.card-title2 {
  font-size: 14px;
  font-family: "Nunito";
}

.card-body1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.active-badge {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: right;
  margin-bottom: 16px;
}

.carousel-indicators button {
  border-radius: 100%;
  width: 7.5px;
  height: 6px;
}

.carousel-card {
  text-decoration: none;
  color: inherit;
}

.modal-content {
  font-family: "Nunito";
}

.become {
  width: 15rem;
  height: 100%;
  font-weight: 900;
  text-align: center;
  font-family: "Nunito";
  font-size: 1.5vw;
}

.become:hover {
  color: #ffa942;
}

.input-group {
  width: 25rem;
  margin-left: 15rem;
}

.active-tag-label {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: white;
}

.card-title3 {
  font-size: 16px;
  font-family: "Nunito-Bold";
}

/* https://localhost:7213/images/landing-page-images/landing_page_pic3.webp */
#observerTarget {
  width: 100px;
  height: 100px;
  margin-top: 300px;
  margin-bottom: 200px;
  visibility: hidden;
}

.in-person {
  color: #aa6843;
}

.online {
  color: #43aa8b;
}

.swiper-scrollbar {
  display: none;
}
/*
img {
    object-fit: cover;
    object-position: center;
}*/

.card-img-overlay {
  z-index: 99;
  height: 0px;
}

.activities-card .favorite-section {
  z-index: 99;
  height: 0px;
}
.activities-card .carousel-item img {
  z-index: 1;
}

.new-badge-section,
.activity-new-badge-section {
  text-align: left;
}

.card {
  margin: 0px;
}

.pulse {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(52, 168, 83, 0.4);
  animation: pulse 1s infinite;
}

.pulse:hover {
  animation: none;
}

.pulse-complete {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #34a853;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(52, 168, 83, 0.4);
  animation: pulse 1s infinite;
}

.pulse-complete:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(52, 168, 83, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(52, 168, 83, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(52, 168, 83, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(52, 168, 83, 0.4);
    box-shadow: 0 0 0 0 rgba(52, 168, 83, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(52, 168, 83, 0);
    box-shadow: 0 0 0 10px rgba(52, 168, 83, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(52, 168, 83, 0);
    box-shadow: 0 0 0 0 rgba(52, 168, 83, 0);
  }
}

@-webkit-keyframes pulse-complete {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(52, 168, 83, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(52, 168, 83, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(52, 168, 83, 0);
  }
}

@keyframes pulse-complete {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(52, 168, 83, 0.4);
    box-shadow: 0 0 0 0 rgba(52, 168, 83, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(52, 168, 83, 0);
    box-shadow: 0 0 0 10px rgba(52, 168, 83, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(52, 168, 83, 0);
    box-shadow: 0 0 0 0 rgba(52, 168, 83, 0);
  }
}

.star-section span {
  font-family: "Nunito";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #343d4c;
}

.star-tag-badge {
  /*margin-right: 10px;*/
}

.pulse-section {
  text-align: right;
}

.title-section {
  margin-top: 5px;
}

.star-pulse-section {
}

.placeholder-image {
  border-radius: 10px;
}

.new-message-count-badge {
  background: #ad2323;
  width: 16px;
  height: 16px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 13.3333px;
  line-height: 18px;
  color: #ffffff;
  position: absolute;
  border-radius: 50%;
  right: 25px;
  top: -6px;
}

.has-new-message-badge {
  position: absolute;
  width: 7px;
  height: 7px;
  left: 100px;
  top: 15px;
  background: #ad2323;
  border-radius: 50%;
}

.messages-item {
  position: relative;
}

.new-experience-label {
  font-family: "Nunito";
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 16px;
  color: #343d4c !important;
}

.favorite-icon-button {
  background: none;
}

#btn-search {
  background-color: #ffa942;
  border-radius: 50%;
  outline: none;
  box-shadow: none;
}

#btn-clear {
  outline: none;
  box-shadow: none;
}
.schedule-swiper .swiper-wrapper {
  display: flex;
  flex-wrap: nowrap; /* Ensure items stay in a single row */
}
.schedule-swiper .swiper-slide:nth-child(3) {
  order: 3;
}
.schedule-swiper .swiper-slide:nth-child(4) {
  order: 4;
}
.schedule-swiper .swiper-slide:nth-child(5) {
  order: 5;
}
.schedule-swiper .swiper-slide:nth-child(6) {
  order: 6;
}
.schedule-swiper .swiper-slide:nth-child(7) {
  order: 7;
}

.section-1 .categories .schedule-swiper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.categories .swiper-wrapper {
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

img.img-icon {
  width: 29px;
  height: auto;
}

.categories .swiper-slide.category {
  width: 90px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 0px) and (max-width: 575.98px) {
  .categories-container {
    display: flex;
    justify-content: flex-start;
  }

  .top-row {
    padding: 0;
    margin: 0;
  }

  .input-group {
    margin: 0px;
    margin-top: 0.5rem !important;
    width: 90%;
  }

  .app-name {
    display: none;
  }

  .home-logo {
    display: flex;
    margin-top: 0.5rem !important;
    margin-left: 6%;
  }
  .menu img {
    width: 1.7rem;
    margin-right: 10px;
    margin-top: 5px;
  }

  .home-logo.img-icon-home {
    width: 31px;
    height: 31px;
    margin-top: 3px;
  }
  .search-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 5.5%;
  }
  .become {
    display: none;
  }

  .btn-join {
    display: none;
  }

  .menu-label {
    display: none;
  }
  .px-4 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
  .menu-label {
    display: none;
  }

  .menu img {
    width: 1.5rem;
    margin-left: -30px;
    margin-top: 5px;
  }

  .px-4 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  .top-row {
    padding: 5px 0;
  }

  .top-row.auth {
    justify-content: space-between;
  }

  .top-row a {
    margin-left: 0;
  }

  .filter {
    display: none;
  }

  .row {
    padding: 0 !important;
    margin: 0 !important;
  }

  .section-2-lg .carousel-control-prev,
  .section-2-lg .carousel-control-next {
    background-color: black;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
    margin-left: 10px;
    filter: invert(100%);
    border: 1px solid black;
  }

  .section-2-lg .carousel-control-next-icon,
  .section-2-lg .carousel-control-prev-icon {
    width: 2vh;
  }

  .section-2-lg .carousel-indicators button {
    border-radius: 100%;
    width: 8px;
    height: 6px;
  }

  .dropdown {
    display: none;
  }

  .dropdown-mobile {
    font-family: "Nunito";
    font-size: 0.5vw;
  }

  .heading {
    font-family: "Nunito-Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    color: #343d4c;
  }

  .active-tag-label {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: white;
  }

  .card-title3-carousel {
    font-size: 12px;
    font-family: "Nunito-Bold";
  }

  #btnExploreMore {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
    width: 160px;
  }

  .swiper-slide.category[style] {
    margin-right: 20px !important;
    width: 77px;
  }

  img.img-icon {
    margin-top: 0.5rem;
    height: 50%;
    width: 24px !important;
    height: 24px !important;
  }

  img.img-icon-home {
    width: 37px;
    height: 37px;
    margin-top: 5px;
  }

  .swiper-slide.swiper-slide-popular {
    width: 183px;
    height: 223.39px;
    border-radius: 10px;
  }

  .swiper-slide.swiper-slide-popular[style] {
    /*margin-right: 30px !important;*/
  }

  .card-img.img-fluid {
    width: 175px;
    height: 223.39px;
    border-radius: 20px;
    border: 1px solid whitesmoke;
  }

  .heart-badge-section {
    text-align: right;
    margin-top: 0px;
    margin-left: 10px;
  }

  .popular-activities {
    height: 390px;
  }

  .card-title1 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #344869;
  }

  .card-title2.mb-0.in-person {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #343d4c;
  }

  .card-title2.mb-0.online {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #34a853;
  }

  .card-title3 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #343d4c;
  }

  .price-badge-section {
    text-align: left;
  }

  .star-badge {
    margin-top: -3px;
  }

  .categories img.img-icon {
    width: 24px;
    height: 24px;
  }

  .categories .swiper-slide.category {
    width: 70px; /*tied up with margin-left of .categories .schedule-swiper*/
  }

  .categories .schedule-swiper {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .price-section {
    padding: 0px;
  }

  .active-badge-section {
    padding: 0px;
    margin-top: 1px;
  }

  .card-body1 {
    margin-bottom: 10px;
  }

  .card-activity-body {
    padding: 5px;
  }

  .activity-heart-badge-section {
    text-align: right;
    margin-top: -7px;
    margin-left: 25px;
  }

  .activity-new-badge-section {
    margin-left: -25px;
    margin-top: -10px;
  }

  .categories,
  .activity-popular {
    margin-bottom: 10px;
  }

  .pulse {
    width: 13px;
    height: 13px;
    margin-top: 0px;
  }

  .title-section,
  .pulse-section,
  .star-section {
    padding: 0px;
  }

  .star-tag-badge {
  }

  .pulse-complete {
    width: 14px;
    height: 14px;
  }

  .active-tag-label {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: white;
  }

  .active-badge {
    margin-top: 11px;
  }

  .ongoing-section {
    width: 75px;
    height: 35px;
    border-top-left-radius: 20px;
  }

  .pulse {
    width: 14px;
    height: 14px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .card-placeholder-popular {
    width: 183px;
  }

  .placeholder-image {
    height: 223.39px;
  }

  /*.card-img-overlay {
        height: 223.39px;
    }*/

  .new-message-count-badge {
    right: -7px;
  }
  .favorite-icon {
    width: 22px;
    height: 22px;
  }

  .activities-card .favorite-icon {
    width: 22px;
    height: 22px;
  }
  .favorite-icon-button {
    float: right;
  }

  .activities-card .favorite-icon-button {
    float: right;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .favorite-icon {
    width: 22px;
    height: 22px;
  }
  .activities-card .favorite-icon {
    width: 22px;
    height: 22px;
  }
  .favorite-icon-button {
    float: right;
  }
  .activities-card .favorite-icon-button {
    float: right;
  }
  .top-row {
    padding: 0;
    margin: 0;
  }
  .input-group {
    margin: 0px;
    margin-top: 0.5rem !important;
    height: 100%;
    width: 78%;
  }

  .app-name {
    display: none;
  }

  .home-logo {
    display: flex;
    margin-top: 0.5rem !important;
    margin-left: 5%;
  }

  .menu img {
    width: 1.5rem;
    margin-right: 10px;
    margin-top: 5px;
  }

  .home-logo.img-icon-home {
    width: 31px;
    height: 34px;
    margin-top: 3px;
  }

  .search-bar {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-left: 4%;
  }
  .become {
    display: none;
  }

  .btn-join {
    display: none;
  }

  .menu-label {
    display: none;
  }

  /*.menu img {
        width: 1.5rem;
        margin-left: -30px;
        margin-top: 5px
    }*/

  .px-4 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  .top-row {
    padding: 5px 0;
  }

  .top-row.auth {
    justify-content: space-between;
  }

  .top-row a {
    margin-left: 0;
  }

  .filter {
    display: none;
  }

  .row {
    padding: 0 !important;
    margin: 0 !important;
  }

  .section-2-lg .carousel-control-prev,
  .section-2-lg .carousel-control-next {
    background-color: black;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
    margin-left: 10px;
    filter: invert(100%);
    border: 1px solid black;
  }

  .section-2-lg .carousel-control-next-icon,
  .section-2-lg .carousel-control-prev-icon {
    width: 2vh;
  }

  .section-2-lg .carousel-indicators button {
    border-radius: 100%;
    width: 8px;
    height: 6px;
  }

  .dropdown {
    display: none;
  }

  .dropdown-mobile {
    font-family: "Nunito";
    font-size: 0.5vw;
  }

  .heading {
    font-family: "Nunito-Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    color: #343d4c;
  }

  .active-tag-label {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: white;
  }

  .card-title3-carousel {
    font-size: 12px;
    font-family: "Nunito-Bold";
  }

  #btnExploreMore {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
    width: 160px;
  }

  .swiper-slide.category[style] {
    margin-right: 20px !important;
    width: 77px;
  }

  img.img-icon {
    margin-top: 0.5rem;
    height: 50%;
    width: 24px !important;
    height: 24px !important;
  }

  img.img-icon-home {
    width: 31px;
    height: 34px;
    margin-top: 5px;
  }

  .swiper-slide.swiper-slide-popular {
    width: 183px;
    height: 223.39px;
    border-radius: 10px;
  }

  .swiper-slide.swiper-slide-popular[style] {
    margin-right: 30px !important;
  }

  .card-img.img-fluid {
    width: 175px;
    height: 223.39px;
    border-radius: 20px;
    border: 1px solid whitesmoke;
  }

  .heart-badge-section {
    text-align: right;
    margin-top: 0px;
    margin-left: 10px;
  }

  .popular-activities {
    height: 390px;
  }

  .card-title1 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #344869;
  }

  .card-title2.mb-0.in-person {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #343d4c;
  }

  .card-title2.mb-0.online {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #34a853;
  }

  .card-title3 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #343d4c;
  }

  .price-badge-section {
    text-align: left;
  }

  .star-badge {
    margin-top: -3px;
  }

  .categories img.img-icon {
    width: 24px;
    height: 24px;
  }

  .categories .swiper-slide.category {
    width: 100px; /*tied up with margin-left of .categories .schedule-swiper*/
  }

  .categories .schedule-swiper {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .price-section {
    padding: 0px;
  }

  .active-badge-section {
    padding: 0px;
    margin-top: 1px;
  }

  .card-body1 {
    margin-bottom: 10px;
  }

  .card-activity-body {
    padding: 5px;
  }

  .activity-heart-badge-section {
    text-align: right;
    margin-top: -7px;
    margin-left: 25px;
  }

  .activity-new-badge-section {
    margin-left: -25px;
    margin-top: -10px;
  }

  .categories,
  .activity-popular {
    margin-bottom: 10px;
  }

  .title-section,
  .pulse-section,
  .star-section {
    padding: 0px;
  }

  .star-tag-badge {
  }

  .pulse-complete {
    width: 14px;
    height: 14px;
  }

  .active-tag-label {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: white;
  }

  .active-badge {
    margin-top: 11px;
  }

  .ongoing-section {
    width: 65px;
    height: 25px;
    border-top-left-radius: 20px;
  }

  .pulse {
    width: 14px;
    height: 14px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .card-placeholder-popular {
    width: 183px;
  }

  .placeholder-image {
    height: 223.39px;
  }

  /* .card-img-overlay {
        height: 223.39px;
    }
*/
  .new-message-count-badge {
    right: -7px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .top-row {
    background-color: white;
    border-bottom: 1px solid var(--lineColor);
    justify-content: flex-start;
    aspect-ratio: 1600/74;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 1;
    padding: 5px 0;
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }

  .top-row ::deep a {
    white-space: nowrap;
    margin-left: 1.5rem;
  }

  .top-row a {
    margin-left: 0;
  }

  .top-row a:first-child {
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .app-name {
    font-size: 3vw;
  }

  .input-group {
    margin: 0px;
    width: 70%;
  }

  .home-logo {
    display: none;
  }

  .become {
    display: none;
  }

  .btn-join {
    display: none;
  }

  .px-4 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .menu {
    position: relative;
    height: 32%;
  }

  .dropdown {
    font-family: "Nunito";
    font-size: 0.5vw;
  }

  .dropdown-mobile {
    font-family: "Nunito";
    font-size: 0.5vw;
    display: none;
  }

  a.dropdown-item {
    margin-left: auto;
  }

  .menu img {
    width: 30%;
    text-align: right;
  }

  .nav {
    position: relative;
    height: 32%;
    font-family: "Nunito";
    font-size: 0.5vw;
    text-align: right;
  }

  .nav img {
    aspect-ratio: 1;
    width: 10%;
  }

  .section-2-lg .carousel-control-prev,
  .section-2-lg .carousel-control-next {
    background-color: black;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid black;
  }

  .section-2-lg .carousel-control-next-icon,
  .section-2-lg .carousel-control-prev-icon {
    width: 1.2vh;
  }

  .filter {
    text-decoration: none;
    padding-top: 50px;
    font-family: "Nunito";
    width: 130px;
  }

  .card-body1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .active-badge {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: right;
    margin-bottom: 16px;
  }

  .active-badge-section {
    padding: 0px;
  }

  .heading {
    font-family: "Nunito-Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: #343d4c;
  }

  .card-title3-carousel {
    font-size: 12px;
    font-family: "Nunito-Bold";
  }

  #btnExploreMore {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    width: 220px;
  }

  .swiper-slide.swiper-slide-popular {
    width: 214.04px;
    height: 261.78px;
    border-radius: 10px;
  }

  .swiper-slide.swiper-slide-popular[style] {
    margin-right: 30px !important;
  }

  .card-img.img-fluid {
    width: 214.04px;
    height: 261.78px;
    border-radius: 20px;
    border: 1px solid whitesmoke;
  }

  .heart-badge-section {
    text-align: right;
    margin-top: 5px;
  }

  .popular-activities {
    height: 430px;
  }

  .card-title1 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #344869;
  }

  .card-title2.mb-0.in-person {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #343d4c;
  }

  .card-title2.mb-0.online {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #34a853;
  }

  .card-title3 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #343d4c;
  }

  .price-badge-section {
    text-align: left;
  }

  .star-badge {
    margin-top: -3px;
  }

  .categories img.img-icon {
    width: 38px;
    height: 38px;
  }

  .categories .swiper-slide.category {
    width: 75px; /*tied up with margin-left of .categories .schedule-swiper*/
  }

  .categories .schedule-swiper {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .activity-heart-badge-section {
    text-align: right;
    margin-top: -5px;
    margin-left: 5px;
  }

  .activity-new-badge-section {
    margin-left: -10px;
    margin-top: -10px;
  }

  .categories,
  .activity-popular {
    margin-bottom: 20px;
  }

  .active-tag-label {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: white;
  }

  .active-badge {
    margin-top: 11px;
  }

  .ongoing-section {
    width: 75px;
    height: 35px;
    border-top-left-radius: 20px;
  }

  .pulse {
    width: 14px;
    height: 14px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .card-placeholder-popular {
    width: 214.04px;
  }

  .placeholder-image {
    height: 261.78px;
  }

  .card-img-overlay {
    height: 261.78px;
  }

  .favorite-icon {
    width: 24px;
    height: 24px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .top-row {
    background-color: white;
    border-bottom: 1px solid var(--lineColor);
    justify-content: flex-start;
    aspect-ratio: 1600/74;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .top-row ::deep a {
    white-space: nowrap;
    margin-left: 1.5rem;
  }

  .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .app-name {
    font-size: 3vw;
  }

  .home-logo {
    display: none;
  }

  .menu {
    position: relative;
    height: 32%;
  }

  .dropdown {
    font-family: "Nunito";
    font-size: 0.5vw;
  }

  .dropdown-mobile {
    font-family: "Nunito";
    font-size: 0.5vw;
    display: none;
  }

  a.dropdown-item {
    margin-left: auto;
  }

  .menu img {
    aspect-ratio: 1;
    width: 25%;
  }

  .nav {
    position: relative;
    height: 32%;
    font-family: "Nunito";
    font-size: 0.5vw;
    text-align: right;
  }

  .nav img {
    aspect-ratio: 1;
    width: 10%;
  }

  .section-2-lg .carousel-control-prev,
  .section-2-lg .carousel-control-next {
    background-color: black;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid black;
  }

  .section-2-lg .carousel-control-next-icon,
  .section-2-lg .carousel-control-prev-icon {
    width: 1.2vh;
  }

  .card-body1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .active-badge-section {
    padding: 0px;
  }

  .heading {
    font-family: "Nunito-Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: #343d4c;
  }

  .active-tag-label {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
  }

  .card-title3-carousel {
    font-size: 16px;
    font-family: "Nunito-Bold";
  }

  #btnExploreMore {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    width: 220px;
  }

  .swiper-slide.swiper-slide-popular {
    width: 214.04px;
    height: 261.78px;
    border-radius: 10px;
  }

  .swiper-slide.swiper-slide-popular[style] {
    margin-right: 30px !important;
  }

  .card-img.img-fluid {
    width: 214.04px;
    height: 261.78px;
    border-radius: 20px;
    border: 1px solid whitesmoke;
  }

  .heart-badge-section {
    text-align: right;
    margin-top: 5px;
  }

  .popular-activities {
    height: 430px;
  }

  .card-title1 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #344869;
  }

  .card-title2.mb-0.in-person {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #343d4c;
  }

  .card-title2.mb-0.online {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #34a853;
  }

  .card-title3 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #343d4c;
  }

  .price-badge-section {
    text-align: left;
  }

  .star-badge {
    margin-top: -3px;
  }

  /*.categories img.img-icon {
    width: 38px;
    height: 38px;
  }

  .categories .swiper-slide.category {
    width: 80px;*/ /*tied up with margin-left of .categories .schedule-swiper*/
  /*}

  .categories .schedule-swiper {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;
  }*/

  .activity-heart-badge-section {
    text-align: right;
    margin-top: -7px;
    margin-left: 10px;
  }

  .activity-new-badge-section {
    margin-left: -10px;
    margin-top: -10px;
  }

  .categories,
  .activity-popular {
    margin-bottom: 20px;
  }

  .active-tag-label {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: white;
  }

  .active-badge {
    margin-top: 11px;
  }

  .ongoing-section {
    width: 75px;
    height: 35px;
  }

  .pulse {
    width: 14px;
    height: 14px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .card-placeholder-popular {
    width: 214.04px;
  }

  .placeholder-image {
    height: 261.78px;
  }

  .card-img-overlay {
    height: 261.78px;
  }

  .dropdown-section {
    padding-right: 65px;
  }

  .card-img-overlay.favorite-section {
    width: 1px;
    height: 1px;
  }

  .card-img-overlay.favorite-section button {
    position: absolute;
    left: 150px;
  }

  .card-img-overlay.ongoing-students-section {
    width: 1px;
    height: 1px;
  }

  .favorite-icon {
    width: 24px;
    height: 24px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .top-row {
    background-color: white;
    border-bottom: 1px solid var(--lineColor);
    justify-content: flex-start;
    aspect-ratio: 1600/74;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .top-row ::deep a {
    white-space: nowrap;
    margin-left: 1.5rem;
  }

  .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .app-name {
    font-size: 3vw;
  }

  .home-logo {
    display: none;
  }

  .menu {
    position: relative;
    height: 32%;
  }

  .dropdown {
    font-family: "Nunito";
    font-size: 0.5vw;
  }

  .dropdown-mobile {
    font-family: "Nunito";
    font-size: 0.5vw;
    display: none;
  }

  a.dropdown-item {
    margin-left: auto;
  }

  .menu img {
    aspect-ratio: 1;
    width: 25%;
  }

  .nav {
    position: relative;
    height: 32%;
    font-family: "Nunito";
    font-size: 0.5vw;
    text-align: right;
  }

  .nav img {
    aspect-ratio: 1;
    width: 10%;
  }

  .section-2-lg .carousel-control-prev,
  .section-2-lg .carousel-control-next {
    background-color: black;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid black;
  }

  .section-2-lg .carousel-control-next-icon,
  .section-2-lg .carousel-control-prev-icon {
    width: 1.2vh;
  }

  .card-body1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .heading {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: #343d4c;
  }

  .card-title3-carousel {
    font-size: 16px;
    font-family: "Nunito-Bold";
  }

  #btnExploreMore {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    width: 220px;
  }

  .swiper-slide.swiper-slide-popular {
    width: 278px;
    height: 340px;
    border-radius: 10px;
  }

  .swiper-slide.swiper-slide-popular[style] {
    margin-right: 30px !important;
  }

  .card-img.img-fluid {
    width: 278px;
    height: 340px;
    border-radius: 20px;
    border: 1px solid whitesmoke;
  }

  .heart-badge-section,
  .activity-heart-badge-section {
    text-align: right;
    margin-top: 5px;
    margin-left: -10px;
  }

  .popular-activities {
    height: 530px;
  }

  .card-title1 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #343d4c;
  }

  .card-title2.mb-0.in-person {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #343d4c;
  }

  .card-title2.mb-0.online {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #34a853;
  }

  .card-title3 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #343d4c;
  }

  .active-tag-label {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
  }

  .price-badge-section {
    text-align: left;
  }

  .categories img.img-icon {
    width: 30px;
    height: 30px;
  }

  .categories .swiper-slide.category {
    display: flex;
    justify-content: space-around;
    width: 100px; /*tied up with margin-left of .categories .schedule-swiper*/
  }

  .categories .schedule-swiper {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .categories,
  .activity-popular {
    margin-bottom: 20px;
  }

  .active-tag-label {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: white;
  }

  .active-badge {
    margin-top: 13px;
  }

  .ongoing-section {
    width: 75px;
    height: 35px;
    border-top-left-radius: 20px;
  }

  .pulse {
    width: 14px;
    height: 14px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .card-placeholder-popular {
    width: 278px;
  }

  .placeholder-image {
    height: 340px;
  }

  .card-img-overlay {
    height: 340px;
  }

  .dropdown-section {
    padding-right: 65px;
  }

  .card-img-overlay.favorite-section {
    width: 1px;
    height: 1px;
  }

  .card-img-overlay.favorite-section button {
    position: absolute;
    left: 225px;
  }

  .card-img-overlay.ongoing-students-section {
    width: 1px;
    height: 1px;
  }

  .favorite-icon {
    width: 24px;
    height: 24px;
  }
}

.img-zoom-effect {
  transition: transform 0.7s;
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-img.img-fluid {
  overflow: hidden;
}

.img-zoom-effect:hover {
  transform: scale(1.1);
}

.favorite-section {
  position: absolute;
  top: 15px;
  right: 15px;
}

.ongoing-section {
  position: absolute;
  background: #279be1;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -5px;
  right: -8px;
}
.ongoing-text {
  color: #279be1;
  font-weight: 100;
}

.filter-type-img {
  width: 24px;
  height: auto;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .filter-type-img {
    width: 21px;
    height: auto;
  }
}

@media only screen and (max-width: 890px) {
  .categories .swiper-wrapper {
    width: 100%;
  }
}
