#btn-search {
	background-color: #ffa942;
	border-radius: 50%;
	box-shadow: none;
}
#btn-clear {
	outline: none;
	box-shadow: none;
}

.categories .swiper-slide:hover img {
	filter: brightness(0) invert(1);
}
.categories .swiper-slide:hover .card-title {
	filter: brightness(0) invert(1);
}

.swiper-slide:hover,
.categories .swiper-slide:hover,
.carousel-list:hover {
	color: #fff;
	background-color: #ffa942;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}
.swiper-scrollbar {
	display: none;
}
.row {
	--bs-gutter-x: 0rem;
}
.search-section{
	display: flex;
}
input {
	font-size: 16px;
	font-family: "Nunito";
	font-weight: 500;
}
a {
	text-decoration: none;
	color: #71717199;
	cursor: pointer;
}
a:hover {
	color: #717171;
}
.img-icon{
	height: 25px;
	width: 25px;
}
.btn-load {
	width: 20%;
	background-color: #ffa942;
	color: black;
	font-family: "Nunito";
	padding: 15px 15px;
	border: none;
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: #ffffff;
	font-size: 20px;
	font-weight: 800;
}
.loaded-text {
	font-family: "Nunito";
	font-size: 20px;
	font-weight: 800;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.materials-text {
	font-family: Nunito;
	font-size: 32px;
	font-weight: 800;
	margin-bottom: 2rem;
}
.top-row {
	margin-top: 3rem;
}
.input-group {
	width: 130%;
	border: 1px solid whitesmoke;
}
.card-img-overlay {
	z-index: 99;
	height: 0px;
}
.card-activity-body {
	padding: 5px;
}
.card-img.img-fluid {
	width: 278px;
	height: 171px;
	border-radius: 20px;
	border: 1px solid whitesmoke;
}
.title-section {
	margin-top: 5px;
}

﻿input:focus {
	outline: none !important;
	box-shadow: none !important;
}

button:focus {
	outline: none !important;
	box-shadow: none !important;
}

/*Explore CSS*/
.card-activity-body {
	display: flex;
}

.cards-wrapper {
	display: flex;
	padding-top: 20px;
}

	.cards-wrapper a {
		text-align: center;
	}

.card-title {
	font-size: 12px;
	font-family: "Nunito";
	text-decoration: none;
	margin-top: 10px;
	color: #717171;
}

.card {
	padding: 0 10px 0 10px;
	border: 1px;
}

.card-title1 {
	font-size: 16px;
	font-family: "Nunito";
}

.card-title2 {
	font-size: 14px;
	font-family: "Nunito";
}

.card-body1 {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.card-img-overlay {
	z-index: 99;
	height: 0px;
}

.activities-card .favorite-section {
	z-index: 99;
	height: 0px;
}

.activities-card .carousel-item img {
	z-index: 1;
}
.placeholder-image {
	border-radius: 10px;
}

.img-zoom-effect {
	transition: transform 0.7s;
	cursor: pointer;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.card-img.img-fluid {
	overflow: hidden;
}

.img-zoom-effect:hover {
	transform: scale(1.1);
}
.categories-container {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	border-radius: 20px;
	border: none;
	z-index: 1;
}

.schedule-swiper .swiper-wrapper {
	display: flex;
	flex-wrap: nowrap; /* Ensure items stay in a single row */
}

.categories .schedule-swiper {
	margin-top: 20px;
	margin-bottom: 20px;
}

.swiper-slide.category[style] {
	position: relative;
	width: 105px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 0px) and (max-width: 575.98px) {
	.card-img.img-fluid {
		width: 170px;
		height: 223.39px;
		border-radius: 10px;
	}

	.heart-badge-section {
		text-align: right;
		margin-top: 0px;
		margin-left: 10px;
	}

	.popular-activities {
		height: 380px;
	}

	.card-title1 {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 19px;
		color: #344869;
	}

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.card-title1 {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 19px;
		color: #344869;
	}

	.card-title3 {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 19px;
		color: #343d4c;
	}
	.card-body1 {
		margin-bottom: 10px;
	}

	.card-activity-body {
		padding: 5px;
	}

	.title-section,
	.pulse-section,
	.star-section {
		padding: 0px;
	}

	.card-placeholder-popular {
		width: 183px;
	}

	.placeholder-image {
		height: 223.39px;
	}
	.swiper-slide.category[style] {
		width: 77px;
	}
	.categories .swiper-slide.category {
		width: 100px; /*tied up with margin-left of .categories .schedule-swiper*/
	}

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.categories-container {
		border: none;
	}
	.card-img.img-fluid {
		width: 160.04px;
		height: 210.78px;
		border-radius: 10px;
	}

	.popular-activities {
		height: 430px;
	}

	.card-title1 {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
		color: #344869;
	}

	.card-title3 {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #343d4c;
	}

	.card-placeholder-popular {
		width: 214.04px;
	}

	.placeholder-image {
		height: 261.78px;
	}

	.card-img-overlay {
		height: 261.78px;
	}
	.categories .swiper-slide.category {
		width: 50px; /*tied up with margin-left of .categories .schedule-swiper*/
	}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.card-img.img-fluid {
		width: 214.04px;
		height: 261.78px;
		border-radius: 10px;
	}
	#explore-category-scrollbar {
		display: block;
	}
	
	.card-title1 {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
		color: #344869;
	}
	.card-placeholder-popular {
		width: 214.04px;
	}

	.placeholder-image {
		height: 261.78px;
	}

	.card-img-overlay {
		height: 261.78px;
	}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
	.card-body1 {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.card-img.img-fluid {
		width: 310px;
		height: 360px;
		border-radius: 10px;
		object-fit: cover;
	}

	.card-title1 {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 27px;
		color: #343d4c;
	}
	.card-img-overlay {
		height: 340px;
	}
}

@media screen and (max-width: 767.98px) {
	.input-group {
		width: 100%;
	}
	.materials-text {
		font-family: Nunito;
		font-size: 16px;
	}
	.btn-load {
		width: 50%;
	}
	.swiper-slide.category[style] {
		margin-right: 25px !important;
		width: 50px;
	}
	.categories-container {
		border: none;
		justify-content: start;
	}
	.search-section {
		display: block;
		position: relative;
		z-index: 1;
	}
	#explore-category-scrollbar {
		display: block;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	.swiper-slide {
		width: 25%;
	}
	.btn-load {
		width: 40%;
	}
	.materials-text{
		font-size: 20px;
	}
	.card-img.img-fluid{
		width: 230.04px;
		height: 250.78px;
		border-radius: 10px;
	}
	::deep .categories-container {
		border: none;
		justify-content: start;
	}
	.search-section {
		position: relative;
		z-index: 1;
	}
}














