#btn-search {
    background-color: #ffa942;
    border-radius: 50%;
    outline: none;
    box-shadow: none;
}
#btn-clear {
    outline: none;
    box-shadow: none;
}
.top-row {
    margin-top: 3rem;
}
.input-group {
    width: 130%;
}
