body {
  background-color: #343d4c;
}

.search-bar {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 5px 2px rgba(231, 231, 231, 0.38);
}

.search-icon {
  display: flex;
}
.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}

.messages-container {
  height: 90vh;
}
::deep button:focus {
  outline: none !important;
  box-shadow: none !important;
}
::deep button {
  transition: transform 0.25s;
}
::deep button:active {
  transform: scale(0.94);
}
.messages-section {
  border-right: 1px solid #d9d9d9;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #343d4c;
}

.message-title-section {
 
}

.add-message-section {
  text-align: right;
}

.search-section {
  margin-top: 25px;
}

.chatroom-section {
  margin-top: 23px;
}

.chatroom-profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chatroom-item {
  padding: 6px 20px 15px 20px;
  cursor: pointer;
  font-weight: 400;
  transition: background-color 0.3s ease;
}

.chatroom-item-clicked {
  background-color: #fac687f5;
}

.chatroom-item-active {
  padding: 6px 20px 15px 20px;
  background: #f3f6fc;
  cursor: pointer;
  font-weight: 400;
}

.chatroom-item-bold {
  padding: 6px 20px 15px 20px;
  cursor: pointer;
  font-weight: 700;
}

.last-update-date {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #717171;
  text-align: right;
}

.chatroom-name {
  font-family: "Nunito";
  font-style: normal;
  font-size: 18px;
  color: #343d4c;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px;
}

.last-message {
  font-family: "Nunito";
  font-style: normal;
  font-size: 16px;
  color: #717171;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px;
}

.no-message-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #717171;
  margin-bottom: 40px;
}

#btnFindFirstExperience {
  width: 259px;
  height: 50px;
  background: #ffa942;
  border-radius: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.leave-button {
  width: 100%;
  height: 38px;
  background: #f3f6fc;
  border-radius: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ad2323;
}

.leave-yes-button {
  width: 100%;
  height: 50px;
  background: #ffa942;
  border-radius: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 25px;
}

.leave-no-button {
  width: 100%;
  height: 50px;
  background: #6c757d;
  border-radius: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 25px;
}

.no-message-section {
  height: 73%;
  align-items: center;
}

.no-message-section-yet {
  height: 83vh;
  align-items: center;
}

.chat-section {
  border-right: 1px solid #d9d9d9;
  padding: 0px;
}

.chat-profile-section {
  border-bottom: 1px solid #d9d9d9;
  /*box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);*/
  padding: 25px 40px;
}

.last-seen {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #717171;
}

.chat-profile-info-icon-section {
  text-align: right;
}

.chat-profile-name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #343d4c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.conversation-section {
  padding: 15px 25px;
  height: 70vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.chat-profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 0.3%;
}

.self-message {
  background: #f3f6fc;
  border-radius: 20px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #343d4c;
  padding: 8px 14px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  max-width: 600px;
  white-space: pre-wrap;
  word-break: break-word;
}

.sender-message {
  background: #f5f5f5;
  border-radius: 20px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #343d4c;
  padding: 8px 14px;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  max-width: 600px;
  white-space: pre-wrap;
  word-break: break-word;
}

.self-message-placeholder {
  background: #f3f6fc;
  border-radius: 20px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #343d4c;
  padding: 8px 14px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  min-width: 400px;
  white-space: pre-wrap;
  word-break: break-word;
}

.sender-message-placeholder {
  background: #f5f5f5;
  border-radius: 20px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #343d4c;
  padding: 8px 14px;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  min-width: 400px;
  white-space: pre-wrap;
  word-break: break-word;
}

.send-message-section {
  padding: 10px 15px;
  border-top: 1px solid #d9d9d9;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
}

.send-message-section table {
  width: 100%;
}

.rounded-pill-section {
  min-height: 40px;
  max-height: 150px;
  background: #f3f6fc;
  overflow-y: auto;
  border-radius: 8px !important;
}

.message-input {
  height: 30px;
  background: #f3f6fc;
  display: none;
}

.emoji-icon {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.attachment-section {
  width: 4%;
  cursor: pointer;
}

.send-section {
  width: 4%;
  text-align: center;
  cursor: pointer;
}

.chatroom-profile-picture-section,
.chatmate-profile-picture-section {
  position: relative;
}

.logged-in {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 45px;
  top: 40px;
  background: #4bb749;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.chat-date-time {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #717171;
  margin: 7px;
}

.chatmate-profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-section-picture {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.profile-section {
  padding-top: 60px;
  position: relative;
}

.profile-section-name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #343d4c;
  margin: 12px;
}

#btnViewProfile {
  background: #f3f6fc;
  border-radius: 20px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #ffa942;
  width: 202px;
}

.attachment-name {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #717171;
}

#observerTarget {
  width: 100px;
}

.typing-status-section {
  margin-left: 15px;
}
.typing-status-section label {
  font-style: italic;
  font-size: 13px;
}

.chatroom-name-section {
  position: relative;
}

.has-new-message-badge {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 209px;
  top: 22px;
  background: #ad2323;
  border-radius: 50%;
}

#chat-message-input {
  user-select: text;
  white-space: pre-wrap;
  word-break: break-word;
  outline: 0px solid transparent;
  width: 97%;
  padding: 2px 5px 5px 10px;
}

#chatroom-search-input {
    user-select: text;
    white-space: pre-wrap;
    word-break: break-word;
    outline: 0px solid transparent;
    width: 80%;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0px;
    color: #717171;
}
.fa-search {
    color: #717171;
}
#add-members-input {
    user-select: text;
    white-space: pre-wrap;
    word-break: break-word;
    outline: 0px solid transparent;
    padding: 5px 5px 5px 15px;
    width: 90%;
}

[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
}

.app-name {
  font-family: "Backline";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  display: flex;
  align-items: center;
  color: #ffa942;
  text-decoration: none;
  cursor: pointer;
}

.messages-top-row {
  border: 1px solid #d9d9d9;
}

.sender-name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #717171;
  margin-left: 25px;
}

.chat-member-picture-section {
  margin-top: 10px;
  text-align: right;
}

.chat-member-name-section {
  margin-top: 12px;
}

.send-private-message-section {
  margin-top: 10px;
}

.btn-send-private-message {
  background: none;
}

.send-private-message-picture {
}

.profile-settings-section {
  bottom: 10px;
}

.guide-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #343d4c;
}

.modal-body {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  color: #717171;
}

.btn-confirm-leave,
.btn-add-member {
  background: #ffa942;
  border-radius: 5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  width: 161px;
  height: 35px;
}

.btn-add-member-enabled {
  background: #ffa942;
}

.btn-add-member-disabled {
  background: #f3f6fc;
}

.btn-cancel {
  background: none;
  border-radius: 5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #717171;
  width: 161px;
  height: 35px;
}

.personal-message-icon {
  margin-right: 25px;
  cursor: pointer;
  transition: transform 0.25s;
}
.personal-message-icon:active {
  transform: scale(0.94);
}
.message-info {
  transition: transform 0.25s;
  cursor: pointer;
}
.message-info:active {
  transform: scale(0.94);
}
#img-add-member {
  cursor: pointer;
  transition: transform 0.25s;
}

#img-add-member:active {
  transform: scale(0.94);
}

.tbl-members {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 10px;
}

input[type="text"] {
  outline: none;
  box-shadow: none;
}

.attachment-section img {
  width: 30px;
  height: 30px;
}

#send-message {
  width: 28px;
  height: 28px;
  transition: transform 0.25s;
}

#send-message:active {
  transform: scale(0.94);
}

.no-conversation-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #717171;
  margin-top: 15px;
}

.no-conversation-sub-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #717171;
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.loading-spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 768px) {
  .loading-spinner {
      width: 80px;
      height: 80px;
  }
}

@media (min-width: 0px) and (max-width: 350px) {

  .chat-profile-name {
    width: 225px !important;
  }

  .personal-message-icon {
    margin-right: 5px;
    margin-left: -10px;
  }

  #add-members-input {
    width: 83% !important;
  }
}

@media (min-width: 351px) and (max-width: 425px) {
  .chat-profile-info-icon-section {
    text-align: left;
    padding: 0px;
    padding-left: 0px;  
  }

  .chat-profile-name {
    width: 260px !important;
    margin-left: 25px;
  }

  .personal-message-icon {
    margin-right: 10px;
    cursor: pointer;
    transition: transform .25s;
  }

  #add-members-input {
    width: 85% !important;
  }
}

@media (min-width: 425px) and (max-width: 500px) {
  .chat-profile-name {
    width: 260px !important;
    margin-left: 50px !important;
  }


  .personal-message-icon {
    margin-right: 12px;
    cursor: pointer;
    transition: transform .25s;
  }
}

@media (min-width: 0px) and (max-width: 575.98px) {
  .send-private-message-section {
    margin-top: 10px;
    text-align: end;
  }

  .search-section {
    margin-top: 25px;
  }

  .conversation-section {
    height: 75vh;
  }

  .self-message {
    max-width: 200px;
  }

  .sender-message {
    max-width: 200px;
  }

  .chat-profile-info-icon-section {
    text-align: left;
    padding: 0px;
    padding-left: 15px;  
  }

  .chat-profile-info-icon-section img {
    width: 18px;
    height: 18px;
  }

  .attachment-name {
    margin-left: 25px;
  }

  .profile-section {
    padding-top: 0px;
    position: relative;
  }

  .profile-back-button-section {
    margin: 30px 25px;
  }

  .attachment-section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .send-section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .has-new-message-badge {
    left: 287px;
    top: 17px;
  }

  #chat-message-input {
    width: 85%;
  }

  .profile-settings-section {
    margin-top: 95px;
    position: fixed;
  }

  .no-conversation-title {
    font-size: 20px;
  }

  .no-conversation-sub-title {
    font-size: 16px;
  }

  .chat-profile-section {
    padding: 25px 10px;
  }

  .chat-profile-name {
    width: 260px;
    word-wrap: break-word;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .search-section {
    margin-top: 25px;
  }
  .chat-profile-name {
    font-size: 16px;
    width: 150px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .chat-profile-name {
    font-size: 16px;
    width: 200px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .sidebar-messages.profile-section {
    width: 63%;
  }

  .chat-profile-name {
    width: 200px;
  }
  .no-conversation-sub-title {
    font-size: 20px;
  }
  .no-conversation-sub-title {
    font-size: 18px;
  }
}

@media  (min-width: 1000px) {
  .back-to-chatroom {
    display: none !important;
  }
  .center-messages {
    margin: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 5px 2px #E7E7E7;
  }
}

@media (min-width: 1200px) {
}

.sidebar-messages {
  width: 350px;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 5px 2px #E7E7E7;
}

.center-messages {
  width: auto;
  flex-grow: 1;
  position: relative;
}

@media screen and (max-width: 575px) and (orientation: portrait) {
  .sidebar-messages.left-sidebar {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .sidebar-messages.left-sidebar {
    width: 100%;
  }

  .sidebar-messages.profile-section {
    width: 100%;
  }
}
