.onboarding-header {
    font-family: 'Nunito';
    font-size: 3vw;
    font-weight: bolder;
    color: #343D4C;
}

.onboarding-subheader {
    font-family: 'Nunito';
    font-size: .9vw;
    color: #525252;
}
.section-1 {
    aspect-ratio: 1600/521;
    width: 100%;
    background-color: white;
    position: relative;
}
.section-1 img {
    aspect-ratio: 1183/457;
    width: 90%;
}
.onboarding-image-container {
    margin: 0 auto;
    text-align: center;
}
.section-1 .onboarding-header {
    position: absolute;
    width: 45%;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-1 .onboarding-subheader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-cinnamon-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.section-1 .btn-cinnamon {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section-2 {
    aspect-ratio: 1600/521;
    width: 100%;
    background-color: #FAF3EE;
}
.section-2 .onboarding-header {
    text-align: center;
    position: absolute;
    padding-top: 60px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #343D4C;
}
.section-2 .onboarding-cards {
    text-align: center;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 35px;
    width: 100%;
    height: 20vw;
}

@media screen and (max-width: 767px) {
   
}

@media (min-width: 1200px) {
    
}
