.box-shadow {
  box-shadow: 2px 4px 18px 0px rgba(217, 217, 217, 1);
}

.pattern-img {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.star-img {
  position: absolute;
  right: 10px;
  top: 10px;
}

.computer-img {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.ball-img {
  position: absolute;
  left: -39px;
  bottom: 30px;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .box-shadow {
    box-shadow: none;
  }
}
