.box-shadow {
  box-shadow: 2px 4px 18px 0px rgba(217, 217, 217, 1);
}

.pattern-img {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.star-img {
  position: absolute;
  right: 10px;
  top: 10px;
}

.computer-img {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.ball-img {
  position: absolute;
  left: -39px;
  bottom: 30px;
}

.top-row {
  background-color: white;
  border-bottom: 1px solid var(--lineColor);
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;
}

.top-row ::deep a {
  white-space: nowrap;
  margin-left: 1.5rem;
}

.top-row a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}
.app-name {
  color: var(--primary);
  font-family: "Backline";
  font-size: 1.6vw;
  text-decoration: none;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .box-shadow {
    box-shadow: none;
  }
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
  .top-row {
    background-color: white;
    border-bottom: 1px solid var(--lineColor);
    justify-content: space-between;
    aspect-ratio: 1600/74;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .top-row ::deep a {
    white-space: nowrap;
    margin-left: 1.5rem;
  }

  .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .app-name {
    font-size: 3vw;
  }
}
/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .app-name {
    font-size: 2.5rem;
  }
  .top-row {
    background-color: white;
    border-bottom: 1px solid var(--lineColor);
    justify-content: space-between;
    aspect-ratio: 1600/74;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .top-row ::deep a {
    white-space: nowrap;
    margin-left: 1.5rem;
  }

  .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
/* For Mobile Portrait View */
@media screen and (max-width: 767px) and (orientation: portrait) {
  .app-name {
    font-size: 2.5rem;
  }

  .top-row {
    padding: 5px 0;
  }

  .top-row a {
    margin-left: 0;
  }
}
