* {
  font-family: "Nunito";
}
::deep button {
    transition: transform .25s;
}

    ::deep button:active {
        transform: scale(.94);
    }
.empty-image-container {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #D9D9D9;
    background-color: #F3F6FC;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.cover-image {
    width: 100%;
    border: 2px dashed #D9D9D9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.delete-text {
    color: #F3F6FC;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
}
.delete-icon {
    width: 16px;
    height: 16px;
}
.delete-section {
    border-radius: 0px 0px 12px 12px;
    background: #343D4C;
    color: white;
    vertical-align: central;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    border-top: none;
}
.progress {
    background-color: rgba(255, 169, 66, 0.3);
    height: 0.5rem;
}

.progress .progress-bar {
  border: none;
  background-color: #ffa942;
}

.progress::after {
  border: 1px solid #fff;
  border-radius: 0%;
}

.progress-details {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #343d4c;
}

.mobile-navigation {
  display: none;
}

.image-rotate {
  transform: rotate(180deg);
}
