* {
  font-family: "Nunito";
}
a {
  text-decoration: none;
}
.categories-swipper {
  display: none;
}
::deep button {
  transition: transform 0.25s;
}
::deep modal button:focus {
  outline: none !important;
  box-shadow: none !important;
}
::deep button:focus {
  outline: none !important;
  box-shadow: none !important;
}

::deep button:active {
  transform: scale(0.94);
}
.swiper-scrollbar {
  display: none;
}
svg {
  width: 1rem;
  height: 1rem;
}
.image-section {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.btn-upload {
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 100%;
  bottom: 0.5rem;
  right: 0.5rem;
  border: 2px solid white;
  width: 2.25rem;
  height: 2.25rem;
  background-color: gray;
}
.btn-upload:hover {
  background-color: var(--primary);
}
.empty-image-container {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #d9d9d9;
  background-color: #f3f6fc;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  cursor: pointer;
}
.cover-image {
  width: 100%;
  border: 2px dashed #d9d9d9;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.delete-text {
  color: #f3f6fc;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
}
.delete-icon {
  width: 16px;
  height: 16px;
}
.delete-section {
  border-radius: 0px 0px 12px 12px;
  background: #343d4c;
  color: white;
  vertical-align: central;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  border-top: none;
}
.progress {
  background-color: rgba(255, 169, 66, 0.3);
  height: 0.5rem;
}

.progress .progress-bar {
  border: none;
  background-color: #ffa942;
}

.progress::after {
  border: 1px solid #fff;
  border-radius: 0%;
}

.progress-details {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #343d4c;
}

.mobile-navigation {
  display: none;
}

.image-rotate {
  transform: rotate(180deg);
}

/*Modal*/
.modal-header-section {
  justify-content: center;
  margin-left: 40%;
}
.modal-title {
  font-family: nunito-extrabold;
  font-size: 18px;
  color: #717171;
}

.btn-close {
  font-size: 12px;
  margin-right: 0.5rem;
}
.tap-here {
  background-color: #f3f6fc;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 1rem;
}
.click {
  padding-top: 1rem;
  font-family: nunito-bold;
  font-size: 16px;
  color: #717171;
}
.choose {
  font-family: nunito;
  font-size: 14px;
  padding-bottom: 1rem;
  color: #717171;
}
.categories {
  padding: 20px 20px 20px 20px;
  text-align: left;
  overflow-y: scroll;
}

.photo-preview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 10px 20px 10px;
}
.cover-image-item {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  cursor: pointer;
}
.image-category {
  font-family: nunito-bold;
  font-size: 16px;
  color: #717171;
  cursor: pointer;
}
.image-category:hover {
  font-family: nunito-bold;
  font-size: 16px;
  color: var(--primary);
}
.category-name {
  font-family: nunito-bold;
  font-size: 16px;
  color: #717171;
  margin-left: 25%;
  margin-bottom: 0;
}
@media (min-width: 0px) and (max-width: 575px) {
  .photo-preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    align-content: center;
  }
  .categories {
    display: none;
  }
  .category-name {
    display: none;
  }
  .cover-image-item {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
  }
  .categories-swipper .swiper-slide.category {
    width: 100px; /*tied up with margin-left of .categories .schedule-swiper*/
  }
  .categories-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }

  .schedule-swiper .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap; /* Ensure items stay in a single row */
  }
  .swiper-slide.category[style] {
    position: relative;
    width: auto;
  }
  .categories-swipper {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .photo-preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    align-content: center;
  }

  .categories {
    display: none;
  }

  .category-name {
    display: none;
  }

  .categories-swipper {
    display: block;
  }

  .cover-image-item {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
  }
  .categories-swipper .swiper-slide.category {
    width: 100px; /*tied up with margin-left of .categories .schedule-swiper*/
  }

  .categories-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }

  .schedule-swiper .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap; /* Ensure items stay in a single row */
  }

  .swiper-slide.category[style] {
    position: relative;
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .photo-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 10px 20px 10px;
  }
}

.seat-plan-sidebar {
  position: sticky;
  top: 0;
  height: calc(100vh - 110px);
  max-height: calc(100vh - 110px);
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: #d9d9d9;
}

.seat-plan-footer {
  width: 100%;
  position: relative;
  bottom: 0;
}
