* {
  font-family: "Nunito";
}
::deep button {
    transition: transform .25s;
}

    ::deep button:active {
        transform: scale(.94);
    }
.progress {
  background-color: rgba(255, 169, 66, 0.3);
  height: 0.5rem;
}

.progress .progress-bar {
  border: none;
  background-color: #ffa942;
}

.progress::after {
  border: 1px solid #fff;
  border-radius: 0%;
}

.progress-details {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #343d4c;
}

.mobile-navigation {
  display: none;
}

.image-rotate {
  transform: rotate(180deg);
}
