.xp-type-img {
  width: 32px;
  height: auto;
}

.grid-gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 239px 239px;
  width: 100%;
  gap: 3px;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.grid-gallery .grid-gallery-item figure {
  width: 100%;
  height: 100%;
}

.grid-gallery .grid-gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-gallery .grid-gallery-item-1 {
  grid-row: 1 / 3;
}
