.footer {
    height: 128px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: white;
    position: relative;
}

.footer-content {
    text-align: left;
    position: absolute;
    width: 100%;
    top: 10%;
}

.footer-appname {
    font-family: 'Nunito';
    font-size: 2vw;
}

.footer-text {
    font-family: 'Nunito';
    font-size: 1vw;
}

.policy-style {
    font-family: 'Nunito';
}

.heading-secondary {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #FFA942;
    margin-bottom: 20px;
}

.heading {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #343D4C;
}

.justify {
    text-align: justify;
}

.alpha-list-upper {
    list-style-type: upper-alpha;
}

.alpha-list-lower {
    list-style-type: lower-alpha;
}

.tbl-bordered, .tbl-bordered tr td {
    border: 1px solid #000000
}

li + li {
    margin-top: 15px;
}

.alpha-list-parentheses {
    list-style-type: none;
}

    .alpha-list-parentheses li {
        counter-increment: alpha-step-counter;
    }

        .alpha-list-parentheses li:before {
            content: "(" counter(alpha-step-counter, lower-alpha) ") ";
        }

.numbered-list-parentheses {
    list-style-type: none;
}

    .numbered-list-parentheses li {
        counter-increment: numbered-step-counter;
    }

        .numbered-list-parentheses li:before {
            content: "(" counter(numbered-step-counter) ") ";
        }
