.container {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin-top: 20px;
    border: solid 1px #343D4C;
    padding: 35px;
    padding-bottom:20px;
    border-radius: 5px;
}




.title {
    display: flex;
    justify-content: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: #343D4C;
    margin-bottom: 0px;
}

.sub-info {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #717171;
}


::deep label {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #343D4C;
    margin-top:20px;
}

::deep input {
    border-radius: 5px;
    height: 60px;
    padding-right:35px;
}



::deep .password-content {
    display: inline-block;
    position: relative;
    width:100%;
}


.field-icon {
    position: absolute;
    top: 23px;
    right: 35px;
    cursor: pointer;
    color: #343D4C;
}

::deep .btn-primary {
    height: 65px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-top:40px;
    margin-bottom:10px;

}


::deep .btn-primary:hover{
    transform:scale(1.01)

}
