* {
    font-family: 'Nunito';
}
.form-control-label {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.creation-overview {
    padding: 32px 30px;
    background: #F3F6FC;
    border-radius: 10px;
}

#create-activity-title, #create-activity-category, #create-activity-sub-category {
    height: 60px;
    border-radius: 10px;
}

#create-activity-description {
    height: 247px;
    width: 100%;
    border-radius: 10px;
}

.label-top-margin{
    margin-top: 28px;
}

#error-message-container {
    width: 100%;
    background-color: #ffd8d8;
    border: 1px solid #ffb2b2;
    color: #f25151;
    padding: 10px;
}

#error-list {
    margin: 0;
}