* {
  font-family: "Nunito";
}
.url-description {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  color: #717171;
  margin-bottom: 0.4rem;
}
#video-url {
  height: 60px;
  border-radius: 10px;
}
.url-title {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0.2rem;
  margin-left: 4%;
}

.url-sub-title {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  margin-left: 4%;
  margin-bottom: 1rem;
  text-align: left;
}

.form-control-label {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  color: #343d4c;
}
.supporting-text {
  text-align: left;
  margin-left: 2rem;
}
.guide-icon {
  width: 18px;
  height: 18px;
}

.how-to-guide {
  gap: 5px;
  float: right;
  cursor: pointer;
}
.how-to-guide label {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 700;
  color: #34a853;
  cursor: pointer;
  text-decoration: underline 1px solid #34a853;
}
.gallery-section {
  padding: 32px 30px;
  background: #f3f6fc;
  border-radius: 10px;
}

#create-activity-title,
#create-activity-category,
#create-activity-sub-category {
  height: 60px;
  border-radius: 10px;
}
#btnSaveCropCoverPhoto,
#btnSaveCropFirstPhoto,
#btnSaveCropSecondPhoto {
  margin-top: 1rem;
  width: 50%;
  height: 3rem;
  font-family: "Nunito-Bold";
  font-size: 1vw;
}
#create-activity-description {
  height: 247px;
  width: 100%;
  border-radius: 10px;
}

.label-top-margin {
  margin-top: 28px;
}

#error-message-container {
  width: 100%;
  background-color: #ffd8d8;
  border: 1px solid #ffb2b2;
  color: #f25151;
  padding: 10px;
}

#error-list {
  margin: 0;
}

.textarea-container {
  margin-top: 35px;
  background: #ffffff;
}

.textarea-container label {
  text-align: right;
  padding-right: 10px;
  font-size: 0.8rem;
}

.photo-upload-section {
  margin-top: 63px;
}

.photo-label {
  margin-top: 40px;
}

.photo-preview {
  background: #ffffff;
  border: 1px dashed #000000;
  border-radius: 5px;
}

.img-card {
  width: 330px;
  height: 400px;
  background: #ffffff;
  border: 1px dashed #000000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.img-card img {
  margin: auto;
}

ul {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  color: #717171;
}

p.form-text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  color: #717171;
}

ul li {
  margin-bottom: 10px;
}

.img-control-section {
  display: flex;
  justify-content: center;
}

.label-edit,
.label-reset {
  cursor: pointer;
  margin-right: 5px;
}

.field-number {
  width: 30px;
  height: 30px;
  background: #ffa942;
  border-radius: 50%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
}

.field-number-top-margin {
  width: 30px;
  height: 30px;
  background: #ffa942;
  border-radius: 50%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
  margin: 40px 5px 5px 5px;
}

.right-margin {
  margin-right: 5px;
}

@media (min-width: 0px) and (max-width: 575.98px) {
  .editor-customer-requirement-provide {
    background: #ffffff;
    padding: 0px 30px;
  }
  #btnSaveCropCoverPhoto,
  #btnSaveCropFirstPhoto,
  #btnSaveCropSecondPhoto {
    font-size: 4vw;
  }
  .gallery-section {
    padding: 15px 15px;
    background: #f3f6fc;
    border-radius: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #btnSaveCropCoverPhoto,
  #btnSaveCropFirstPhoto,
  #btnSaveCropSecondPhoto {
    font-size: 4vw;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #btnSaveCropCoverPhoto,
  #btnSaveCropFirstPhoto,
  #btnSaveCropSecondPhoto {
    font-size: 4vw;
  }
}

.empty-image-container {
  width: 250px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed #343d4c;
}
