* {
  font-family: "Nunito";
}
.form-control-label {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

.location-section {
  padding: 32px 30px;
  background: #f3f6fc;
  border-radius: 10px;
}

#house-number,
#barangay,
#city,
#region,
#postal-code,
.pinned-location {
  height: 60px;
  border-radius: 10px;
}

#create-activity-description {
  height: 247px;
  width: 100%;
  border-radius: 10px;
}

.label-top-margin {
  margin-top: 28px;
}

#error-message-container {
  width: 100%;
  background-color: #ffd8d8;
  border: 1px solid #ffb2b2;
  color: #f25151;
  padding: 10px;
}

#error-list {
  margin: 0;
}

.form-check {
  width: 160px;
  height: 60px;
  background: #ffffff;
  border-radius: 10px;
  padding: 18px 22px;
  margin-right: 20px;
  margin-left: 10px;
}

.form-check .form-check-input {
  float: none;
  margin-left: 0px;
}
.form-check .form-check-label {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
}

#button-addon3 {
  width: 100%;
  height: 60px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}

.pinned-location {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #343d4c;
  margin-bottom: 10px;
}

.field-number {
  width: 30px;
  height: 30px;
  background: #ffa942;
  border-radius: 50%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
  margin: 5px;
}

.field-number-top-margin {
  width: 30px;
  height: 30px;
  background: #ffa942;
  border-radius: 50%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
  margin: 28px 5px 5px 5px;
}

.in-person-section {
  width: 50%;
}

.right-margin {
  margin-right: 5px;
}

.form-check-input:checked {
  background-color: #ffa942;
  border-color: #ffa942;
}

@media (min-width: 0px) and (max-width: 575.98px) {
  .location-section {
    padding: 0px 0px;
    background: #ffffff;
    border-radius: 10px;
  }

  .form-check {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    width: 127px;
    height: 50px;
    padding: 12px;
  }

  small.form-text {
    float: none;
  }

  .dashed-border {
    margin-top: 20px;
    border-top: 1px dashed #717171;
  }

  .in-person-section {
    width: auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}
